.common-choose-color-container .image-container {
  position: relative;
  display: inline-block;
}

.common-choose-color-container .image-container .image-box {
  height: 80px;
  width: 110px;
  background: #ccc;
}

.common-choose-color-container .image-container .image-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.common-choose-color-container .image-container .delete-button {
  position: absolute;
  top: -16px;
  right: -12px;
  padding: 7px;
}

.common-choose-color-container .image-container .delete-button button {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0;
  background-color: #dd4b39;
  color: #fff;
  font-size: 8px;
  border-radius: 100%;
  height: 16px;
  width: 16px;
}

.common-choose-color-container .image-container .delete-button button span {
  position: absolute;
  left: 1px;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin: auto;
}

.common-choose-color-container .upload-button {
  margin-top: 20px;
}
/*# sourceMappingURL=backendthestyles.css.map */