.common-choose-color-container{
    .image-container{
        position: relative;
        display: inline-block;
        .image-box{
            height: 80px;
            width: 110px;
            background: #ccc;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
        .delete-button{
            position: absolute;
            top: -16px;
            right: -12px;
            padding: 7px;
            button{
                box-shadow: none;
                border: 0;
                background-color: #dd4b39;
                color: #fff;
                font-size: 8px;
                border-radius: 100%;
                height: 16px;
                width: 16px;
                span{
                    position: absolute;
                    left: 1px;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    margin: auto;
                }
            }
        }
    }
    .upload-button{
        margin-top: 20px;
    }
}



