/**
 * Created by Sushant Gauchan
*/
/*-------------------------------------- Fonts Starts -------------------------------------*/
/*--------------------------------------- Fonts Ends --------------------------------------*/
/*------------------------------------- Colors Starts -------------------------------------*/
/*-------------------------------------- Colors Ends --------------------------------------*/
/*-------------------------------------- Mixins Starts ------------------------------------*/
.ex-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-start;
  justify-content: flex-start; }

.ex-flex-wrap {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap; }

.ex-vertical {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }

.ex-transition {
  -webkit-transition: all .6s ease;
  -moz-transition: all .6s ease;
  -ms-transition: all .6s ease;
  -o-transition: all .6s ease;
  transition: all .6s ease; }

.ex-transition-medium {
  -webkit-transition: all 1.2s ease;
  -moz-transition: all 1.2s ease;
  -ms-transition: all 1.2s ease;
  -o-transition: all 1.2s ease;
  transition: all 1.2s ease; }

.ex-transition-large {
  -webkit-transition: all 1.8s ease;
  -moz-transition: all 1.8s ease;
  -ms-transition: all 1.8s ease;
  -o-transition: all 1.8s ease;
  transition: all 1.8s ease; }

/*--------------------------------------- Mixins Ends -------------------------------------*/
html {
  height: 100%; }

body {
  background-color: #fff;
  height: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #101010;
  display: block;
  padding: 0px;
  margin: 0px;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  line-height: 1.6em; }

a:link, a:visited {
  text-decoration: none; }

a:focus {
  outline: none; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Josefin Sans", sans-serif;
  padding: 0;
  margin: 0; }

h1 {
  font-size: 23px; }

p {
  color: #6f6c6c;
  margin-bottom: 12px;
  text-align: justify; }
  p:last-of-type {
    margin-bottom: 0; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style: none; }

a {
  text-decoration: none; }
  a:hover, a:focus {
    text-decoration: none; }

#wrapper {
  min-height: 100%;
  position: relative; }

.slick-slider .slick-slide {
  outline: none; }

.custom-container {
  max-width: 1920px;
  margin: auto;
  padding: 65px 150px; }
  .custom-container.medium-width-container {
    max-width: 1445px; }
  .custom-container.small-width-container {
    max-width: 1000px; }
  .custom-container.remove-top-bottom {
    padding-top: 0;
    padding-bottom: 0; }

.um-btn {
  font-size: 14px;
  padding: 10px 20px;
  color: black;
  background-color: #d9d9d9;
  text-transform: capitalize;
  font-weight: 100;
  border: 0;
  outline: none;
  display: block;
  width: 100%;
  text-align: center; }
  .um-btn:hover, .um-btn:focus {
    color: black; }
  .um-btn.large-size-btn {
    width: 165px;
    max-width: 100%;
    font-weight: 400;
    font-size: 14px;
    display: block;
    padding: 12px 35px;
    text-align: center;
    text-transform: uppercase; }
  .um-btn.previous-btn {
    background-color: #d9d9d9; }
  .um-btn.checkout-btn {
    background-color: #b61f2a;
    color: #fff; }

/*# sourceMappingURL=global.css.map */
