/**
 * Created by Sushant Gauchan
*/

@import "components/fonts_and_colors";

/*------------------------------------ Site Wide Starts -----------------------------------*/
/*------------------------------------- Site Wide Ends ------------------------------------*/

/*--------------------------------- Header Wrapper Starts ---------------------------------*/
/*--------------------------------- Header Wrapper Starts ---------------------------------*/

/*-------------------------------- Content Wrapper Starts ---------------------------------*/
/*--------------------------------- Content Wrapper Ends ----------------------------------*/

/*--------------------------------- Footer Wrapper Starts ---------------------------------*/
/*---------------------------------- Footer Wrapper Ends ----------------------------------*/

/*----------------------------------- Components Starts -----------------------------------*/
/*------------------------------------ Components Ends ------------------------------------*/

/*---------------------------------- Slick Slider Starts ----------------------------------*/
/*----------------------------------- Slick Slider Ends -----------------------------------*/

/*-------------------------------------- Modal Starts -------------------------------------*/
/*--------------------------------------- Modal Ends --------------------------------------*/


@media all and (max-width: 1600px) {
  /*------------------------------------ Site Wide Starts -----------------------------------*/
  .custom-container{
    padding: 50px 80px;
  }
  #content-wrapper #about-cashmere-page .common-block-container .block.right-block .tab-content #page_2 .content h1:first-of-type, #content-wrapper #about-cashmere-page .common-block-container .block.right-block .tab-content #page_3 .content h1:first-of-type{
    margin-top: 30px;
  }
  h1 {
    font-size: 20px;
  }

  body{
    &.home-page{
      #header-wrapper{
        .logo-nav-wrapper {
          padding: 30px 0 15px;
          margin-bottom: 30px;
        }
      }
    }
  }

  /*------------------------------------- Site Wide Ends ------------------------------------*/

  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  #header-wrapper{
    .logo-nav-wrapper {
      padding: 35px 0 25px;
      .logo-container{
        img {
          width: 160px;
        }
      }

      .nav-container{
        padding: 0 20px 0 40px;
        .inner{
          .navigation-item{
            ul{
              li{
                &:not(:last-of-type) {
                  margin-right: 22px;
                }
              }
            }
          }

          .search-form-item{
            form{
              input {
                padding: 8px 14px;
              }
            }
          }

        }
      }
    }
  }
  /*--------------------------------- Header Wrapper Starts ---------------------------------*/

  /*-------------------------------- Content Wrapper Starts ---------------------------------*/
  #content-wrapper{
    padding-bottom: 71px;
    #home-page{


      .home-banner-section{
        .home-banner-slider{
          .banner-item {
            height: calc(100vh - 99px);
          }
        }
      }

    }

    #login-page{
      .common-login-section{
        .custom-container {
          padding-top: 170px;
        }
      }
    }

    #product-detail-page{
      .product-detail-section{
        .product-detail-wrapper{
          .detail-block{
            &.image-item .product-image-slider .product-image-item img {
              width: 400px;
            }
            &.description-item{

            }
          }
        }
      }
    }

    #cart-page{
      .customer-info-section{
        .custom-container{
          max-width: 1200px;
        }
      }
    }
  }
  /*--------------------------------- Content Wrapper Ends ----------------------------------*/

  /*--------------------------------- Footer Wrapper Starts ---------------------------------*/
  #footer-wrapper{
    .copyright {
      padding: 25px 0 22px;
    }
  }
  /*---------------------------------- Footer Wrapper Ends ----------------------------------*/


  /*----------------------------------- Components Starts -----------------------------------*/
  .common-home-logo-section{
    .logo-container {
      padding-top: 45px;
      a{
        img {
          max-width: 240px;
        }
      }
    }
  }
  .common-block-container{
    .block {
      height: calc(100vh - 282px);
      &.left-block {
        width: 250px;
        padding-right: 30px;
        .tab-container{
          ul{
            li{
              &:not(:last-of-type) {
                margin-bottom: 10px;
              }
            }
          }
        }
      }
      &.right-block {
        width: calc(100% - 250px);
        padding-left: 30px;
        padding-right: 30px;
        .content h1 {
          margin: 30px 0 12px;
        }
      }
    }
  }
  .common-product-breakdown{
    .content {
      padding: 0 10px;
      table tr{
        td {
          padding: 8px 10px;
          &:nth-of-type(1){
            padding-left: 22px;
          }
        }
      }
    }
  }
  /*------------------------------------ Components Ends ------------------------------------*/

  /*-------------------------------------- Modal Starts -------------------------------------*/
  #colorSelectModal{
    .color-modal-container{
      .color-modal-item{
        &:nth-of-type(2){
          ul{
            li{
              span{
                &:nth-of-type(1) {
                  height: 70px;
                  width: 70px;
                }
              }
            }
          }
        }
      }
    }
  }
  #themaintenancemodal{
    .modal-dialog{
      width: 670px;
      .modal-body{
        padding: 80px 40px;
      }
    }
    .image-container{
      img{
        width: 480px;
      }
    }
    .text-container{
      margin-top: 40px;
      h1{
        font-size: 26px;
      }
    }

  }
  /*--------------------------------------- Modal Ends --------------------------------------*/

  /*---------------------------------- Slick Slider Starts ----------------------------------*/
  .slick-slider{
    .slick-prev {
      left: 80px;
    }

    .slick-next{
      right: 80px;
    }
  }
  /*----------------------------------- Slick Slider Ends -----------------------------------*/

}


@media all and (max-width: 1399px) {
  /*------------------------------------ Site Wide Starts -----------------------------------*/
  /*------------------------------------- Site Wide Ends ------------------------------------*/

  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  #header-wrapper{
    .logo-nav-wrapper{
      .button-container{
        ul{
          li{
            &:not(:first-of-type) {
              margin-left: 15px;
            }
          }
        }
      }
    }
  }
  /*--------------------------------- Header Wrapper Starts ---------------------------------*/

  /*-------------------------------- Content Wrapper Starts ---------------------------------*/
  #content-wrapper{
    #product-detail-page{
      .product-detail-section{
        .product-detail-wrapper{
          .detail-block{
            &.description-item {
              width: 24%;
            }
            &.image-item {
              width: calc(100% - (24% + 145px));
              .product-image-main{
                .product-image-main-item{
                  img {
                    width: 95%;
                  }
                }
              }
              .product-image-nav-container {
                width: 400px;
              }
            }
            &.purchase-item{
              width: 145px;
              form{
                .fields{
                  .form-group{
                    input,select,a{
                      font-size: 13px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    #buy-page .buy-section .location-container .location-item {
      width: 50%;
    }
  }
  /*--------------------------------- Content Wrapper Ends ----------------------------------*/

  /*--------------------------------- Footer Wrapper Starts ---------------------------------*/
  /*---------------------------------- Footer Wrapper Ends ----------------------------------*/

  /*-------------------------------------- Modal Starts -------------------------------------*/
  #themaintenancemodal{
    .modal-dialog{
      width: 580px;
      .modal-body{
        padding: 60px 30px;
      }
    }
    .image-container{
      img{
        width: 420px;
      }
    }
    .text-container{
      margin-top: 30px;
      h1{
        font-size: 24px;
      }
    }

  }
  /*--------------------------------------- Modal Ends --------------------------------------*/

  /*----------------------------------- Components Starts -----------------------------------*/
  /*------------------------------------ Components Ends ------------------------------------*/

  /*---------------------------------- Slick Slider Starts ----------------------------------*/
  /*----------------------------------- Slick Slider Ends -----------------------------------*/

}


@media all and (max-width: 1199px) {
  /*------------------------------------ Site Wide Starts -----------------------------------*/
  .custom-container {
    padding: 40px 50px;
  }

  #header-wrapper .logo-nav-wrapper .button-container ul li#nav-toggle{
    z-index: 3;
  }
  /*------------------------------------- Site Wide Ends ------------------------------------*/

  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  #header-wrapper{
    .logo-nav-wrapper{
      .logo-container{
        img {
          width: 140px;
        }
      }

      .nav-container {
        padding: 0 20px 0 30px;
        .inner{
          .navigation-item{
            pointer-events: none;
            opacity: 0;
            z-index: 2;
            position: fixed;
            height: 100vh;
            top: 0;
            right: 0;
            left: 0;

            background: $logo-color;
            padding: 30px;
            -webkit-transition: all .6s ease;
            -moz-transition: all .6s ease;
            -ms-transition: all .6s ease;
            -o-transition: all .6s ease;
            transition: all .6s ease;

            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
            -webkit-flex-flow: row wrap;
            flex-flow: row wrap;
            align-items: center;
            justify-content: center;
            ul{
              position: relative;
              text-align: center;
              li{
                display: block;
                &:not(:last-of-type) {
                  margin-right: 0px;
                  margin-bottom: 20px;
                }
              }
            }

          }

          .search-form-item{
            form{
              input {
                padding: 6px 14px;
              }
            }
          }

        }
      }

      .button-container{
        ul{
          li{
            vertical-align: baseline;
            &#nav-toggle{
              z-index: 3;
              display: inline-block;
              position: relative;
              top: 2px;
              span{
                display: block;
                height: 2px;
                width: 25px;
                background-color: $font-color;
                &:not(:last-of-type){
                  margin-bottom: 5px;
                }
              }
            }
          }
        }
      }
    }

    &.nav-open{
      .logo-nav-wrapper{
        .nav-container{
          .inner{
            .navigation-item{
              pointer-events: initial;
              opacity: 1;
              -webkit-transition: all .6s ease;
              -moz-transition: all .6s ease;
              -ms-transition: all .6s ease;
              -o-transition: all .6s ease;
              transition: all .6s ease;
            }
          }
        }
      }

    }
  }
  /*--------------------------------- Header Wrapper Starts ---------------------------------*/

  /*-------------------------------- Content Wrapper Starts ---------------------------------*/
  #content-wrapper{
    #product-detail-page{
      .product-detail-section{
        .product-detail-wrapper{
          .detail-block{
            &.description-item {
              width: 28%;
            }
            &.image-item {
              width: calc(100% - (28% + 135px));
              .product-image-main{
                .product-image-main-item{
                  img{
                    width: 100%;
                  }
                }
              }
            }
            &.purchase-item {
              width: 135px;
              form{
                .fields{
                  .form-group{
                    label{
                      font-size: 14px;
                      margin-bottom: 8px;
                    }
                    input,select,a{
                      padding: 6px 10px;
                    }

                  }
                }
              }
            }
          }
        }
      }
    }

    #process-page{
      .common-block-container{
        .block{
          &.right-block{
            .content{
              .inner-block{
                margin: 0 0;
                .block-item{
                  padding: 0 0;
                  &.inner-image {
                    width: 100%;
                    &:after {
                      display: none;
                    }
                  }
                  &.inner-text {
                    width: 100%;
                    margin-top: 40px;
                    h1 {
                      margin-bottom: 20px;
                      text-align: left;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    #cart-page{
      .cart-page-section{
        .wizard{
          .common-checkout-section{
            .title{
              h1 {
                font-size: 25px;
              }
            }
            &.cart-block{
              .empty-cart-container{
                .inner{
                  img {
                    width: 120px;
                  }
                  p{
                    font-size: 16px;
                  }
                }
              }
            }
          }
        }
      }
    }

  }
  /*--------------------------------- Content Wrapper Ends ----------------------------------*/

  /*--------------------------------- Footer Wrapper Starts ---------------------------------*/
  /*---------------------------------- Footer Wrapper Ends ----------------------------------*/

  /*----------------------------------- Components Starts -----------------------------------*/
  .common-block-container{
    .block{
      height: auto;
      &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px transparent;

      }
      &.left-block {
        width: 280px;
        border-right: 2px solid $grey-color;
        .tab-container{
          margin-bottom: 20px;
          ul{
            li{
              &:not(:last-of-type) {
                margin-bottom: 6px;
              }
            }
          }
        }

        .image-container{
          .image-item{
            &:not(:last-of-type) {
              margin-bottom: 25px;
            }
          }
        }
      }

      &.right-block {
        width: calc(100% - 280px);
        padding-right: 0;
      }
    }
  }
  .common-product-container{
    .product-item {
      width: 20%;
    }
  }
  .common-product-breakdown{
    .title {
      margin-bottom: 12px;
      padding-bottom: 12px;
    }
    .content{
      padding: 0;
      table{
        tr{
          td {
            padding: 6px 10px;
            &:nth-of-type(1) {
              padding-left: 18px;
            }
          }
        }
      }
    }
  }
  /*------------------------------------ Components Ends ------------------------------------*/

  /*-------------------------------------- Modal Starts -------------------------------------*/
  #colorSelectModal{
    .color-modal-container{
      .color-modal-item{
        &:nth-of-type(1){
          ul{
            li{
              span{
                &:nth-of-type(1) {
                  height: 60px;
                  width: 60px;
                }
              }
            }
          }
        }
      }
    }
  }
  /*--------------------------------------- Modal Ends --------------------------------------*/

  /*---------------------------------- Slick Slider Starts ----------------------------------*/
  .slick-slider{
    .slick-prev {
      left: 50px;
      &:before{
        height: 30px;
        width: 24px;
      }
    }
    .slick-next {
      right: 50px;
      &:before{
        height: 30px;
        width: 24px;
      }
    }
  }
  /*----------------------------------- Slick Slider Ends -----------------------------------*/
}


@media all and (max-width: 991px) {
  /*------------------------------------ Site Wide Starts -----------------------------------*/
  body{
    &.home-page{
      #header-wrapper{
        .logo-nav-wrapper {
          padding: 20px 0 12px;
          margin-bottom: 20px;
        }
      }
    }
  }
  /*------------------------------------- Site Wide Ends ------------------------------------*/

  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  #header-wrapper{
    .logo-nav-wrapper{
      .button-container{
        ul{
          li{
            img {
              width: 22px;
            }
          }
        }
      }
    }
  }
  /*--------------------------------- Header Wrapper Starts ---------------------------------*/

  /*-------------------------------- Content Wrapper Starts ---------------------------------*/
  #content-wrapper {
    padding-bottom: 63px;

    #home-page{
      .home-banner-section{
        .home-banner-slider{
          display: none;
          .banner-item {
            height: calc(100vh - 76px);
          }
        }
        .home-banner-slider-mobile{
          display: block;
          .banner-item-mobile{
            height: calc(100vh - 76px);
          }
        }
      }
    }

    #product-detail-page{
      .product-detail-section{
        .product-detail-wrapper{
          .detail-block{
            &.description-item {
              width: 100%;
              .common-product-breakdown{
                display: none;
              }
            }
            &.image-item {
              width: 100%;
              padding: 0;
              margin-top: 30px;
              .product-image-nav{
                ul{
                  li{
                    img {
                      width: 80px;
                    }
                    &:not(:last-of-type) {
                      margin-right: 5px;
                    }
                  }
                }
              }
            }

            &.purchase-item {
              width: 100%;
              margin-top: 30px;
              .common-product-breakdown{
                display: block;
              }
            }
          }
        }
      }
    }

    #process-page{
      .common-block-container{
        .block{
          &.right-block{
            .content{
              .inner-block{
                .block-item{
                  &.inner-text h1 {
                    margin-bottom: 16px;
                    text-align: left;
                  }
                }
              }
            }
          }
        }
      }
    }

    #buy-page .buy-section .location-container .location-item {
      width: 100%;
    }

    #cart-page{
      .cart-page-section{
        .wizard{
          .common-checkout-section{
            &.thankyou-section{
              .product-list-container{
                table{
                  tr{
                    td{
                      img {
                        width: 120px;
                      }
                    }
                  }
                  thead{
                    tr{
                      td{
                        font-size: 14px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  /*--------------------------------- Content Wrapper Ends ----------------------------------*/

  /*--------------------------------- Footer Wrapper Starts ---------------------------------*/
  #footer-wrapper{
    .copyright {
      padding: 22px 0 20px;
      p{
        font-size: 14px;
      }
    }
  }
  /*---------------------------------- Footer Wrapper Ends ----------------------------------*/

  /*----------------------------------- Components Starts -----------------------------------*/
  .common-block-container{
    .block{
      min-height: calc(100vh - 228px);
      &.left-block {
        width: 210px;
        .tab-container ul li a {
          font-size: 14px;
          padding-left: 20px;
          &:after {
            top: 8px;
          }
        }
      }

      &.right-block {
        width: calc(100% - 210px);
        padding-right: 0px;
        .content{
          .inner-block{
            .block-item{
              &.inner-text{
                h1{
                  margin-bottom: 16px;
                }
              }
            }
          }
        }

      }

    }
  }
  .common-product-container{
    margin: -20px -20px;
    .product-item {
      width: 25%;
      padding: 20px 25px;
    }
  }

  .common-cart-style{
    table{
      thead{
        display: none;
      }
      tbody{
        tr{
          display: block;
          border: 1px solid #dedede;
          text-align: right;
          &:not(:last-of-type) {
            margin-bottom: 20px;
          }
          td{
            position: relative;
            display: block;
            padding: 10px 20px 10px 90px;
            &:before {
              content: attr(data-title) ": ";
              font-weight: 700;
              font-size: 14px;
              text-transform: capitalize;
              float: left;
              position: absolute;
              left: 20px;
              top: 50%;
              -webkit-transform: translateY(-50%);
              -moz-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
              -o-transform: translateY(-50%);
              transform: translateY(-50%);
            }
          }
        }
      }
    }
  }
  /*------------------------------------ Components Ends ------------------------------------*/

  /*-------------------------------------- Modal Starts -------------------------------------*/
  #colorSelectModal{
    .color-modal-container{
      .color-modal-item{
        &:nth-of-type(2){
          ul{
            margin: -8px;
            li{
              width: 25%;
              padding: 8px;
              span{
                &:nth-of-type(1) {
                  height: 50px;
                  width: 50px;
                }
                &:nth-of-type(2) {
                  font-size: 14px;
                }
              }
            }
          }
        }
        &:nth-of-type(1){
          .image-container .square-image {
            height: 250px;
            width: 250px;
          }
        }
      }
    }
  }

  #themaintenancemodal{
    .modal-dialog{
      width: 540px;
    }
  }
  /*--------------------------------------- Modal Ends --------------------------------------*/

  /*---------------------------------- Slick Slider Starts ----------------------------------*/
  .slick-slider{
    .slick-prev, .slick-next{
      height: 28px;
      width: 16px;
      &:before{
        height: 28px;
        width: 16px;
      }
    }

    .slick-prev {
      left: 50px;
    }

    .slick-next{
      right: 50px;
    }
  }
  /*----------------------------------- Slick Slider Ends -----------------------------------*/

}


@media all and (max-width: 767px) {
  /*------------------------------------ Site Wide Starts -----------------------------------*/
  .custom-container {
    padding: 35px 30px;
  }

  body {
    font-size: 14px;
  }

  #wrapper{
    #side-nav.open{
      width: 100%;
    }
    #side-nav{
      .custom-container{
        .side-menu{
          .side-menu-title{
            h2{
              font-size: 23px;
            }
          }
          .side-menu-wrapper{
            .product-img{
              img{
                width: 100px;
              }
            }
          }
        }
      }
    }
  }

  .um-btn{
    &.large-size-btn {
      width: 123px;
      padding: 12px 10px;
    }
  }
  /*------------------------------------- Site Wide Ends ------------------------------------*/
  /*------------------------------------- Site Wide Ends ------------------------------------*/

  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  body {
    &.home-page #header-wrapper .logo-nav-wrapper {
      padding: 22px 0 14px;
      margin-bottom: 20px;
    }

    &.search-open-body {
      #header-wrapper .logo-nav-wrapper .button-container ul li#nav-toggle {
        z-index: -1;
      }
    }
  }
  #header-wrapper {
    .logo-nav-wrapper {
      padding: 20px 0 20px;
      .logo-container {
        img {
          width: 97px;
        }
      }
      .nav-container {
        padding: 0;
        .inner {
          .search-form-item {
            z-index: 1;
            position: fixed;
            height: 100vh;
            width: 100%;

            left: 0;
            right: 0;
            top: 0;
            -webkit-transform: translate(0);
            -moz-transform: translate(0);
            -ms-transform: translate(0);
            -o-transform: translate(0);
            transform: translate(0);
            bottom: 0;

            background-color: $logo-color;
            padding: 30px 30px 0 30px;

            .close-search {
              display: block;
              text-align: right;
              margin-bottom: 20px;
              .fa {
                font-size: 18px;
              }
            }
          }
          .navigation-item ul {

          }
        }
      }

      .button-container {
        ul {
          li {
            img {
              width: 20px;
            }
            &:not(:first-of-type) {
              margin-left: 8px;
            }

            &#nav-toggle{
              margin-left: 16px;
              top: 6px;
            }
          }
        }
      }
    }
  }
  #side-cart {
    width: 100%;
    right: -100%;
    .inner{
      .title{
        padding: 18px 20px 14px;
        .title-inner{
          h1{
            font-size: 14px;
          }
          .side-cart-close{
            p{
              font-size: 12px;
            }
          }
        }
      }

      .content{
        .content-item{
          &.product-container{
            height: calc(100vh - 140px);
            .product-item{
              padding: 12px 0;
              &:not(:last-of-type) {
                margin-bottom: 12px;
              }
              .remove-cart-item {
                top: 0px;
                right: -10px;
              }
              .image-container {
                width: 90px;
              }
              .text-container{
                p{
                  &:nth-of-type(1) {
                    font-size: 12px;
                  }
                }
              }
            }
          }
          &.checkout-container{
            a{
              padding: 12px 20px;
            }
          }
        }
      }
    }
  }
  /*--------------------------------- Header Wrapper Starts ---------------------------------*/

  /*-------------------------------- Content Wrapper Starts ---------------------------------*/
  #content-wrapper {
    #home-page {

    }

    #product-detail-page {
      .product-detail-section {
        .product-detail-wrapper {
          .detail-block {
            &.description-item {
              width: 100%;
            }

            &.image-item {
              width: 100%;
              margin-top: 30px;
              padding-left: 0;
              .product-image-nav-container {
                .product-image-nav {
                  .nav-image-item {
                    padding: 10px 4px;
                    .inner {
                      padding: 12px 3px;
                    }
                  }
                }
              }

            }
          }
        }
      }
    }

    #about-page, #contact-page, #buy-page {
      .common-block-container .block {
        &.left-block {
          display: none;
        }
        &.right-block {
          margin-top: 0;
        }
      }
    }

    #cart-page{
      .cart-page-section{
        .wizard{
          .common-checkout-section{
            &.cart-block{
              .empty-cart-container{
                .inner{
                  img {
                    width: 80px;
                  }
                  p {
                    font-size: 14px;
                    a{
                      display: block;
                    }
                  }
                }
              }
            }
            &.form-block{
              form{
                .fields{
                  .form-group{
                    &.half {
                      width: 100%;
                    }
                    input,select,textarea{
                      padding: 8px 10px;
                    }
                  }
                }
              }
            }
            &.thankyou-section{
              .order-number-container{
                table{
                  tr{
                    td{
                      display: block;
                      padding: 0;
                      font-size: 14px;
                      span:not(:last-of-type) {
                        margin-bottom: 2px;
                      }
                      &:not(:last-of-type){
                        margin-bottom: 10px;
                      }
                    }
                  }
                }
              }
              .product-list-container{
                table tr td{
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
    }

    #login-page{
      .common-login-section{
        .custom-container{
          width: 100%;
          padding-top: 140px;
        }
        .section-content {
          width: 100%;
          form{
            .fields{
              .form-group{
                label {
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
    }
  }
  /*--------------------------------- Content Wrapper Ends ----------------------------------*/

  /*--------------------------------- Footer Wrapper Starts ---------------------------------*/
  /*---------------------------------- Footer Wrapper Ends ----------------------------------*/

  /*----------------------------------- Components Starts -----------------------------------*/
  .common-home-logo-section {
    .logo-container {
      padding-top: 40px;
      a {
        img {
          max-width: 170px;
        }
      }
    }
  }
  .common-product-container {
    margin: -20px -15px;
    .product-item {
      width: 50%;
      padding: 20px 15px;
      .text-container{
        margin-top: 10px;
      }
    }
  }
  .common-product-breakdown {
    .title {
      margin-bottom: 15px;
      padding-bottom: 10px;
      p {
        font-size: 16px;
      }
    }

    .content {
      table {
        tr {
          td {
            font-size: 14px;
          }
        }
      }
    }
  }
  .common-block-container {
    display: block;
    .block {
      min-height: 10px;
      &.left-block {
        width: 100%;
        padding-right: 0;
        border-right: 0;
        .tab-container, .image-container {
          display: none;
        }
      }
      &.right-block {
        width: 100%;
        padding-left: 0;
        margin-top: 30px;
      }
    }
  }
  .common-select {
    display: block;
    select {
      width: 100%;
      background: $grey-color;
      padding: 8px 8px;
      border: 1px solid $grey-color;
    }
  }

  .common-cart-style{
    table{
      tbody{
        tr{
          td{
            font-size: 14px;
            &:before {
              top: 8px;
              -webkit-transform: translateY(0%);
              -moz-transform: translateY(0%);
              -ms-transform: translateY(0%);
              -o-transform: translateY(0%);
              transform: translateY(0%);
            }
          }
        }
      }
    }
  }
  /*------------------------------------ Components Ends ------------------------------------*/

  /*---------------------------------- Slick Slider Starts ----------------------------------*/
  .slick-slider {
    .slick-prev {
      left: 30px;
    }
    .slick-next {
      right: 30px;
    }
  }
  /*----------------------------------- Slick Slider Ends -----------------------------------*/

  /*-------------------------------------- Modal Starts -------------------------------------*/
  .modal-dialog .modal-content .modal-body {
    padding: 25px 20px;
  }

  #themaintenancemodal{
    align-items: initial;
    .modal-dialog{
      width: calc(100% - 30px);
      .modal-body{
        padding: 50px 30px;
      }
    }

    .text-container{
      margin-top: 25px;
      h1 {
        font-size: 20px;
        margin-bottom: 10px;
      }
    }

  }

  #colorSelectModal {
    .modal-dialog {
      width: 100%;
      margin: 50px 25px;
      max-width: calc(100% - 50px);
    }
    .color-modal-container {
      margin: 0 0;
      .color-modal-item {
        padding: 0 0;
        width: 100%;
        &:nth-of-type(2){
          margin-bottom: 30px;
          .image-container .square-image {
            height: 150px;
            width: 150px;
          }
        }
        &:nth-of-type(1) {
          height: 290px;
          border-right: 0;
          ul {
            margin: -10px -13px;
            li {
              width: 33.33%;
              padding: 10px 13px;
              span {
                &:nth-of-type(1) {
                  height: 54px;
                  width: 54px;
                }
              }
            }
          }
        }
      }
    }
  }
  /*--------------------------------------- Modal Ends --------------------------------------*/



}

