/* Footer fix */









body {

	padding-top:0;

	display: block;

    position:absolute;

    height:auto;

    bottom:0;

    top:0;

    left:0;

    right:0;

    font-family: lato;

}

h1, h2, h3, h4, h5, h6{
	font-family:lato;
}


#wrapper {

	min-height:100%;

	position:relative;

}





#header-wrapper {

}



#content-wrapper {

	padding-bottom:230px;   /* Height of the footer element */

}



#footer-wrapper {

	width:100%;

	position:absolute;

	bottom:0;

	left:0;

	max-height: 200px;

}







/* BASIC */



a:link, a:visited {

	text-decoration:none;

}

a{color: #fff;}



ul li {

	list-style:none !important;

}



/*STYLES FOR HEADER*/

.my-container{

	margin: 0 auto;

	background-color: #464646;

}

.top-menu{

	overflow: hidden;

	position: relative;

	font-weight: 600;

}

.top-links{

	float: left;

	position: absolute;

	left: 40%;

	text-transform: capitalize;

	font-size: 13px;

}

.side-links{

	float: right;

	text-transform: capitalize;

	font-size: 13px;

	height: 26px;

}

.top{

	margin:2px 0;

}

.top li{

	margin: 4px 10px;

}

.top li a:hover{

	color: #fff;

}

.logo-holder{

	display: inline-block;

	margin: 25px 0;

	float: left;

}

.logo-holder img{

	width: 90%;

}

.main-header{

	position: relative;

}

.main-nav li a{

	color: #9b0e14;

}

.main-nav img{

	margin: 0 0px 0 3px;

}

.main-nav{

	float: right;



	text-transform: capitalize;

	font-size: 13px;

	font-weight: 600;

}

.main-nav li{

	padding: 7px 10px;

	border-radius: 2px;

	transition:.4s;

}

.main-nav>li:first-child {

	padding-left: 10px;

}

.main-nav>li:hover{

	background-color: #a82d32;

	cursor: pointer;

	transition:.4s;

}

.main-nav li:hover a{

	color: #fff;

}

/*.sub.menu{

	z-index: 100;

}*/



.main-nav:after{

	content: '';

	display:block;

	clear:both;

}

.main-nav>li{

	position: relative;

}

.main-nav>li:hover>ul{

	display: block;

}

.main-nav>li>ul{

	padding:0;

	margin:0;

	list-style:none;

	position: absolute;

	top: 100%;

	left: 0;

	/*width: 140px;*/

	display: none;

	font-weight: normal;

	background: #fff;

	text-transform: capitalize;

	z-index: 999;

	width: 300px;

	border: 1px solid #cccccc;

	border-radius: 2px;

}

.main-nav>li>ul>li{

	position: relative;

	border-bottom: 1px solid #cccccc;

}

/*.main-nav>li>ul>li a:hover{

	color: #7b7b7b;

}*/

.main-nav>li>ul>li a{

	color: #7b7b7b !important;

}

.main-nav>li>ul>li:last-child{

	border-bottom: none;

}

.main-nav ul ul{



	top: 0;

	left: 100%;

	padding:0;

	margin:0;

	list-style:none;

	/*width: 200px;*/

	display: none;

}

.main-nav>li>ul>li:hover>ul{display: block;}

.main-nav>li>ul>li>ul{

	background-color: #fff;



}

.main-nav>li>ul>li>ul>li{

	border-bottom: 1px solid #cccccc;

}

.main-nav>li>ul>li>ul>li:last-child{

	border-bottom: none;

}





/*STYLES FOR INDEX PAGE*/

.home-img-holder{

	position: relative;

}

.home-img-holder>a>img{

	width: 100%;

	overflow: hidden;

}

.arrow-top{

	position: absolute;

	top: -8px;

	left: 42%;

}

.index-search-box{

	float: right;

	margin-right: 100px;

	position: absolute;

	/*margin-top: 4px;*/

	margin-top: 34px;

	right: 0px;

    top: 10px;

    opacity: 0.8;

    z-index: 2;

}

.index-search-box  input{

	padding: 3px 21px 3px 5px;

	background-color: #f5f5f5;

	border: 1px solid #D7D7D7;

	border-radius: 3px;

}

.index-search{

	position: absolute;

	top: 3px;

	right: 5px;

	z-index: 2;

}

/*.search-box{

	float: right;

	position: absolute;

	right: 95px;

	top: 10px;

	background-color: #f8f8f8;

	opacity: 0.8;

	z-index: 1;

}

.search{

	float: right;

	position: absolute;

	top: 13px;

	right: 97px;

	z-index: 1;

}

.search-box > input{

	padding: 4px 24px 4px 4px;

	background: #dcd1d6;

	border: none;

}*/

.carousel{

	overflow: hidden !important;

}

.sidebar-holder{

	/*position: absolute;*/

	position: fixed;

	/*top: 52px;*/

	right: -200px;

	z-index: 1;

	width: 275px;

	transition:.4s;

}

.sidebar-holder:hover{

	cursor: pointer;

}

.sidebar{

	background-color:#b14145;

	

	/*margin: 1px 0;*/

	opacity: 0.9;

	border-radius: 2px;

	padding: 0 10px 0 0;

	border-bottom: 1px solid #fff;

}

.sidebar img{

	margin: 10px 15px;

}

.sidebar a{

	color: #fff;

}

.sidebar span{

	font-size: 13px;

	/*display: none;*/

}

.no-opacity{

	opacity: 1;

}

.no-border{

	border-bottom: none;

}

.img-text-wrap{

	background-color: #000;

	/*width: 670px;*/

	padding: 0px 24px;

	position: absolute;

	top:15%;

	left: 19.3%;

	opacity: 0.6;

	border-radius: 2px;

}

.img-text-wrap-1{

	background-color: #000;

	/*width: 670px;*/

	padding: 0px 24px;

	position: absolute;

	top:50%;

	left: 19.3%;

	opacity: 0.6;

	border-radius: 2px;

}

.img-text-wrap p, .img-text-wrap-1 p{

	color: #fff;

	margin:9px 0;

	font-size: 15px;

}

.find-out{

	background-color: #a82d32;

	position: absolute;

	bottom: 20px;

	left: 68%;

	padding: 5px 10px;

	border-radius: 2px;

}

.find-out p{

	color: #fff;

	text-transform: capitalize;

	margin: 0;

	font-size: 14px;

}

.find-out > p > a:hover{

	color: #fff;

}

.carousel-control.right{

	background-image: none !important;

}

.carousel-control.left{

	background-image: none !important;

}

.follow_bar{

	background-color: #831613 !important;

}

.slider_knob{

	background: url(http://localhost/working/himalayan/themes/himalayan//assets/img/slider_ball.png) no-repeat !important;

	width: 38px !important;

	height: 38px !important;

	top: -14px !important;

}

.sglide-buttons{

	margin: 10px 0 6px 0;

}

#slider1, #slider2, #slider3, #slider4 {



	background: #b8b8b8;

}





/*STYLES FOR FOOTER*/

.footer-container{

	background-color: #f3f3f3;

	text-align: center;

	padding: 35px 0 10px 0;

}

.footer-heading{

	display: inline-block;

	margin: 5px 0 0 0;

}

.footer-heading p{

	display: inline-block;

	margin: 0;

	text-transform: capitalize;

	font-size: 22px;

}

.footer-heading h2{

	display: inline;

	margin: 0 0 0 4px;

	font-size: 29px;

	text-transform: capitalize;

}

.footer-btn{

	display: inline-block;

	background-color: #a82d32;

	padding: 8px 20px;

	border-radius: 2px;

	margin-left: 50px;

	transition:.4s;

}



.footer-btn:hover {

	opacity:.8;

	transition:.4s;

}

.footer-btn p{

	text-transform: capitalize;

	margin: 0;

	color: #fff;

	font-size: 14px;

}

.footer-btn p a:hover{

	color: #fff;

}

.back-to-top{

	background-color: #959595;

	display: inline-block;

	padding: 8px 13px;

	border-radius: 2px;

	float: right;

	margin-right: 90px;

	margin-top: 8px;

}

.back-to-top p{

	margin: 0;

	text-transform: capitalize;

	color: #fff;

	font-size: 14px;

}

.back-to-top p a:hover{

	color: #fff;

}

.footer-last{

	overflow: hidden;

}

.footer-menu{

	text-align: left;

	margin: 70px 0 0 0px;
	


}

.footer-menu li a{

	color: #7f7f7f;

	text-transform: capitalize;

	font-size: 13px;

}

.footer-side{

	float: right;

	margin-right:85px;
	margin-top:-40px;

}

.icon-holder{

	float: left;

	margin: 26px 50px 0 0;

}

.himal{

	

	float: right;

text-align: right;

margin-top: 40px;

}

.footer-bottom{

	background-color: #464646;

	text-align: center;

}

.footer-bottom p{

	text-transform: capitalize;

	margin: 0;

	color: #dbdbdb;

	padding: 5px 0;

	font-size: 12px;

}





/*STYLES FOR INDEX*/

.heading{

	text-align: center;

}

.heading h1{

	font-size: 27px;

	text-transform: capitalize;

	color: #9b0e14;

	font-family: lato;

}

.text-wrap{

	text-align: center;

	margin: 20px 0;

	padding:15px;

}

.text-wrap p{

	margin: 0;

	font-size: 15px;

}

.index-img{

	text-align: center;

	margin: 15px auto;

	max-width: 825px;

	padding: 20px 120px;

	background-color: #f3f3f3;

}

.index-img p{

	font-size: 25px;

	color: #656565;

}

.index-img .months{

	width: 35px;

}

.amount-bottom > input{

	border: none;

	padding: 5px;

	color: #a82d32;

	text-align: center;

	border-radius: 3px;

	font-family:lato;

}

.index-wrap{

	text-align: center;

}

.index-box{

	border: 1px solid #cccccc;

	width: 22.5%;

	text-align: center;

	padding: 10px;

	margin: 0 24px 0 0;

	border-radius: 2px;

	display: inline-block;

}

.index-box p {

	margin: 0;

	font-size: 12px;

	color: #838383;

}

.index-box h2 {

	font-size: 24px;

	margin: 25px 0;

	color: #696969;

}

.align-center{

	text-align: center;

}

.find-out-about {

	background-color: #a82d32;

	padding: 5px 10px;

	border-radius: 2px;

	text-align: center;

	display: inline-block;

	margin: 40px 0;
	
	margin-top:25px;

	transition:.4s;
	width:22.5%;

}

.download{

	background-color: #a82d32;

	padding: 5px 10px;

	border-radius: 2px;

	text-align: center;

	display: inline-block;

	margin: 40px 0;
	
	margin-top:25px;

	transition:.4s;


}



.find-out-about:hover, .download:hover {

	opacity:.8;

	transition:.4s;	

}





.find-out-about p, .download p{

	color: #fff;

	margin: 0;

	font-size: 14px;

}

.download{

	margin: 20px 0 !important;

}

.download img{

	margin: 0 0 0 7px;

}

.find-out-about img{

	margin: 0 0px 0 5px;

}

.find-out-about a:hover{

	color: #fff;

}

.index-img-holder{

	position: relative;

}

.index-img-wrap img{

	width: 100%;

}

.KYC-form{

	position: absolute;

	top: 55px;

	right: 85px;

	background-color: #fff;

	padding: 15px 30px;

	width: 22%;

	border-radius: 2px;

}

.KYC-form h2{

	margin:5px 0;

	font-size: 25px;

	font-weight: 500;

	font-family: lato;

}

.KYC-form p{

	margin: 0;

}

.KYC-form a:hover{

	color: #fff;

}

.index-text-wrap{

	margin: 20px 0 0 0;

}





/*STYLES FOR ACCOUNTS PAGE*/

.account-menu{



}

.account-menu li{

	color:#464646;

	text-transform: capitalize;

	padding-right: 0;

	padding-left: 0 !important;

	font-size: 13px;

	font-weight: 600;

}

.account-menu li a{

	color:#464646;

}

.account-menu li.active a{

	color: #9b0e14;

}

.text-holder{

	text-align: center;

	position: absolute;

	top: 85px;

	right: 15%;

	background-color: #fafcff;

	padding: 30px 20px;

	border-radius: 2px;

	width: 370px;

}

.text-holder p{

	margin: 0;

	color: #464646;

}

.find-out-below{

	background-color: #a82d32;

	/*position: absolute;*/

	bottom: 55px;

	left: 66%;

	padding: 5px 10px;

	border-radius: 2px;

	display: inline-block;

	margin-top: 13px;

}

.find-out-below p{

	text-transform: capitalize;

	color: #f3f3f3;

}

.find-out-below p a:hover{

	color:#f3f3f3;

}

.about-account{

	margin-bottom: 40px;
	width:100%;
	float:left;

}

.account-heading h2{

	text-transform: capitalize;

	color: #a82d32;

	font-size: 22px;

	font-weight: 600;

	font-family: lato;
	margin:25px 0;

}

.account-img{

	display: inline-block;
	width:25%;
	overflow: hidden;
	float:left;

}

.account-type{

	display: inline-block;

	margin: 0 0 50px 10px;
	width:70%;
	overflow: hidden;

}

.account-type h3{

	color: #a82d32;

	text-transform: capitalize;
	font-weight:500;
	margin-bottom:10px;

}

.detail-list li{

	list-style: disc !important;

}

.buttons-list{

	text-align: right;

}

.buttons{

	background-color: #a82d32;

	display: inline-block;

	padding: 6px 15px;

	border-radius: 2px;

	transition:.4s;

	border:none;

	color:#fff;

}



input:focus {

	outline:none;

}



.buttons:hover {

	opacity:.8;

	transition:.4s;

}

.buttons p{

	margin: 0;

	text-transform: uppercase;

}

.buttons p a:hover{

	color: #fff;

}



/*STYLES FOR ACCOUNT-DETAIL PAGE*/

.savings {

	text-align: left;

}

.savings h2{

	margin: 0 0 5px;

	text-transform: capitalize;

	color: #9b0e14;

}

.right{

	float: right;

}

.detail ul li{

	list-style: disc !important;

	line-height: 25px;

}

.interest-rate{

	text-align: center;

	margin-top: 35px;

	display: inline-block;

	width:100%;

}

.circle{

	background-color: #a82d32;

float: left;

border-radius: 90px;

height: 160px;

width: 160px;

text-align: center;

margin: 0 10px;
display:inline-block;

}

.circle h2,h3{

	margin: 0;

	color: #fff;

	text-transform: capitalize;

	font-family: lato;

	font-weight: 600;

}

.circle h2{
	font-size:18px;
}

.circle h3{

	font-size: 18px;

	font-family: lato;

	font-weight: 500;

}

.circle-text-wrap{

	margin:38% 0;

}

.circle-text-wrap-1{

	margin:28% 0;

}

.accounts-buttons-list{


	margin:40px 0;

}

.account-buttons{

	padding: 4px 30px;

	margin: 0 15px;

}

.helpful{

	background-color: #f5f5f5;

	padding: 5px 25px;

	margin: 35px 0;

	width: 100%;

	float: right;

	/*text-align:center*/

	text-align:left;



}

.helpful h2{

	text-transform: capitalize;

	

	font-size: 20px;

	color: #a82d32;

	font-family: lato;

	font-weight: 600;

}

.helpful ul{

	padding:0;

}



.helpful ul li{

	line-height: 25px;

	font-weight: 400;

}

.helpful li a{

	color: #4A4A4A;

}





/*STYLES FOR CONTACT-US PAGE*/

.sector{

	/*margin-left: 70px;*/

}

.box{

	background-color: #fff;

	border: 2px solid #a82d32;

	display: inline-block;

	color: #a82d32;

	text-align: center;

	width: 151px;

	border-radius: 3px;

	margin: 10px;

	margin-left: 0;

	transition: .4s;

}

.box p{

	margin: 0;

	text-transform: capitalize;

}

.box a{

	border: none !important;

	padding: 0 !important;

	text-transform:capitalize;

	color: #a82d32;

}

.box a:hover{

	cursor: pointer !important;

	background-color: #a82d32 !important;

	transition:.4s;

	color: #fff;

}

.active-box{

	background-color: #a82d32;

	color: #fff;

}

.box:hover{

	cursor: pointer;

	background-color: #a82d32;

	color: #fff;

	transition:.4s;

}

.tab-pane .active {

	color: #fff;

}

.bullets{

	margin: 20px 0 15px 55px;

}

.bullets li{

	list-style-image:url('../img/archive.png')!important;

	font-size: 13px;

	line-height: 27px;

}

.write-us h2{

	text-transform: capitalize;

	color: #a82d32;

	/*margin-left: 60px;*/

	margin-top: 45px;

	font-size: 25px;

	font-family: lato;

	font-weight: 500;

}

.form{

	width: 100%;

	float: left;

	margin-left: 60px;

}

.form-left{

	float: left;

	width: 50%;

	/*width: 100%;*/



}

.form-left>input{

	width: 90%;

	margin-right: 9px;

	margin-bottom: 12px;

	height: 33px;

	padding: 5px;

	border-radius: 3px;

	border: 1px solid #C2C2C2;

}

.form-right{

	float: right;

	width: 50%;

}

.form-right>textarea{

	padding: 5px 0px 0 10px;

	border-radius: 3px;

	border: 1px solid #C2C2C2;

	width:100%;

}

.submit-btn{

	background-color: #a82d32;

	float: right;

	padding: 5px 20px;

	border-radius: 2px;

	margin-bottom: 65px;

}

.submit-btn p{

	text-transform: capitalize;

	margin: 0;

	color: #fff;

	font-size: 13px;

}

.submit-btn:hover{

	cursor: pointer;

}

.contact-text-holder{

	background-color: #f5f5f5;

	width: 300px;

	display: inline-block;

	margin: 20px 0 0 90px;

	border-radius: 2px;

	padding: 0 0 20px 0;

}

.contact-text-holder h2{

	text-transform: capitalize;

	margin: 10px 0 5px 35px;

	color: #a82d32;

	font-size: 20px;

}

.contact-text-holder li{

	text-transform: capitalize;

}

.contact-text-holder li a{

	color: #4A4A4A;

}

.contact-search-box{

	float: right;

	margin-right: 100px;

	position: relative;

	margin-top: 4px;

}

.contact-search-box>input{

	padding: 3px 21px 3px 5px;

	background-color: #f5f5f5;

	border: 1px solid #D7D7D7;

	border-radius: 3px;

}

.contact-search{

	position: absolute;

	top: 3px;

	right: 5px;

}

.contact-sidebar-holder{

	margin: 5px -15px 0px 0px;

}

.contact-us-side{

	overflow: hidden;

}

.nav>li>a {

	padding: 5px 0 !important;

}

.nav-tabs{

	border-bottom: none !important;

}



.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {

	background: #a82d32 !important;

	color: #fff;

}

.nav-tabs>li>a{

	margin-right: 0;

	border-radius: 0  !important;

	font-weight: 600;

}

.box-wrap{

	/*margin-left: 70px;*/

}

.column-holder{

	width: 100%;

	overflow: hidden;

}

.column{

	width: 30%;

	border:1px solid #D7D7D7;

	display: inline-block;

	padding: 15px;

	border-radius: 3px;

	margin: 20px 15px 0 0;

	float: left;

	height: 240px;

}

.column h3{

	margin: 0 0 5px 0px;

	text-transform: capitalize;

	color: #a82d32;

	font-size: 18px;

}

.column p{

	margin: 0;

	text-transform: capitalize;

	font-size: 13px;

	font-weight: 500;

}

.first-para{

	margin: 18px 0;

}

.second-para{

	margin: 0 0 15px 0;

}

.sector-column{

	background-color: #f4f4f4;

	border:none;

	text-align: center;

	/*width: 20%;*/

	width: 22%;

	height: 150px;

	float: left;

}

.sector-column h3{

	color: #8a8d8e;

	font-size: 15px;

	margin: 5px 0 0 0;

	font-family: lato;

	font-weight: 500;

}

.sector-column img{

	margin: 30px 0px 0 0;

}

.sector-box-holder{

	/*margin-left: 70px;*/

}

.panel-default>.panel-heading {

	background-color: #fff !important;

}

.panel-heading{

	padding: 0 !important;

}

.panel{

	border:none !important;

	box-shadow: none !important;

}

.panel-group .panel-heading+.panel-collapse .panel-body{

	border-top: none !important;

}

.panel-body{

	margin-left: 60px;

	color: #949494;

}



/*STYLES FOR CREDIT CARD PAGE*/



.card-heading{



}

.card-heading h2{

	text-transform: capitalize;

	color: #a82d32;

	font-size: 25px;

	margin: 0 0 20px;

}

.card-services{



	border-bottom: 1px solid #c2c2c2;

	margin-bottom: 30px;

}

.card-img{

	float: left;

	margin: 0 10px 0 0;

}



.card-img img{

	margin-bottom:10px;

}



.card-detail{

	overflow: hidden;
	padding:0 15px;

}

.card-detail h3{

	text-transform: capitalize;

	color: #a82d32;

	margin: 0 0 10px 0;

}

.card-detail ul li{

	list-style-image:url('../img/red.png')!important;

	font-size: 14px;

	line-height: 25px;

}

.card-detail p{

	margin: 0;

	font-size: 15px;

}

.holder{

	overflow: hidden;

}

.circle-holder{

	float: left;

	margin: 30px 0;

}

.card-circle{

	margin: 25px 0;

}

.card-circle h3{

	color: #fff;

	text-transform: capitalize;

	font-size: 12px;

	margin: 0;

}

.card-circle h2{

	font-size: 25px;

}

.card-apply{

	background-color: #a82d32;

	float: right;

	padding: 5px 15px;

	cursor: pointer;

	border-radius: 2px;

	margin: 70px 5px 0 0;

}

.card-apply a{

	color: #fff;

	text-transform: capitalize;

}

.credit-circle{

	height: 100px;

	width: 100px;

	float: left;

}

.last-para{

	margin: 0 0 30px 0;

}

.card-helpful{

	margin-bottom:-15px;

}

.space{

	margin: 0 0 35px 0;

}





/*STYLES FOR EXECUTIVE PAGE*/



.directors{

	margin: 0;

}

.director-holder{

	width: 100%;

	overflow: hidden;

	margin: 30px 0;

}

.director-column{

	width: 30%;

	display: inline-block;

	margin: 0 25px 0 0;

	float: left;

}

.director-column h2{

	text-transform: uppercase;

	color: #a82d32;

	font-size: 16px;

	font-weight: bold;

	margin: 10px 0 5px 20px;

}

.director-column h3{

	text-transform: capitalize;

	color: #a82d32;

	font-size: 15px;

	font-style: italic;

	margin: 0 0 0 20px;

	font-family: lato;

	font-weight:500; 

}

.member-text{

	margin: 5px 5px 0 19px;

}

.member-text p{

	font-size: 13px;

}

.member-img img{

	width: 100%;

}





/*STYLES FOR LOAN DETAIL PAGE*/



.borrow{

	text-align: center;

}

.borrow h2{

	text-transform: capitalize;

	color: #a82d32;

	margin: 15px 0;

}

.borrow p{

	margin: 0;

	color: #838383;

}

.amount-img{

	width: 749px;

}

.amount-box-wrap{

	width: 100%;

	overflow: hidden;

	margin-bottom:15px;

}

.amount-box{

	border:1px solid #cccccc;

	width: 32%;

	float: left;

	text-align: center;

	padding: 10px;

	margin: 0 15px 0 0;

	border-radius: 2px;

}

.amount-box p{

	text-transform: capitalize;

	margin: 0;

	font-size: 13px;

	color: #838383;

}

.amount-box h2{

	font-size: 24px;

	margin: 25px 0;

	color: #696969;

}

.no-margin{

	margin: 0 !important;

}

.loan-detail-heading{

	margin: 0;

}

.loan-detail-heading h2{

	color: #a82d32;

	text-transform: capitalize;

	font-size: 22px;

	margin: 0 0 0 75px;

	font-weight: 600;

	font-family: lato;

}

.side-wrap{

	width: 72%;

	margin: 25px 0 0 75px;

}

.side-wrap h3{

	color: #a82d32;

	font-size: 22px;

	margin-bottom: 5px;

	font-weight: 400;

	font-family: lato;

}

.side-wrap a{

	color: #000;

}

.side-wrap a:hover{

	opacity: 0.6;

}

.side-wrap p{

	color: #838383;

	margin: 0;

	line-height: 25px;

}





/*STYLES FOR LOCATION PAGE*/



.tab-content{

	overflow: hidden !important;

	margin-top: 20px;

}

.location-search-box{

	float: right;

	margin-right: 100px;

	opacity: 0.8;

	position: relative;

}

.location-search-box > input{

	padding: 3px 21px 3px 5px;

	background-color: #f5f5f5;

	border: 1px solid #D7D7D7;

	border-radius: 3px;

}

.location-search{

	position: absolute;

	top: 4px;

	right: 3px;

}

.location-column-holder{

	width: 100%;

	overflow: hidden;

	margin: 25px 0;

}

.column-wrap{

	float: left;

	width: 23%;

	border: 1px solid rgba(0, 0, 0, 0.1);

	padding: 10px 15px;

	margin: 0 18px 0 0;

	border-radius: 2px;

	min-height:170px;
	transition:.4s;

}

.column-wrap:hover {
	background:rgba(0, 0, 0, 0.03);
	transition:.4s;
}

.column-wrap h2{

	color: #a82d32;

	margin: 0;

	font-size: 15px;

	font-weight: bold;

	font-weight: 600;

	font-family: lato;

}

.column-wrap p{

	margin: 0;

	font-weight: 500;

}

.location-info{

	margin: 25px 0 0 0 !important;

}





/*STYLES FOR NEWS/BLOGS PAGE*/



.blog-img{

	margin: 0px;

}

.blog-img img{

	width: 100%;

}

.blog-holder{

	margin: 0 0 60px 0;

}

.blog-column-wrap{

	width: 100%;

	overflow: hidden;

	/*margin: 30px 0 0 70px;*/

	margin-top: 30px;

}

.blog-column{

	display: inline-block;

	/*width: 44%;

	margin: 0 30px 0 0;*/

}

.blog-column a{

	color: #464646;

	font-weight: 600;

}

.blog-column a:hover{

	opacity: 0.5;

}

.blog-column-img img{

	width: 100%;

}

.date{

	margin: 5px 0;

	border-bottom: 1px solid #c2c2c2;

}

.date p{

	margin: 0 0 5px 0;

	font-weight: 600;

}

.blog-heading h2{

	margin: 0 0 5px 0;

	color: #a82d32;

	font-size: 22px;

	font-family: lato;

	font-weight: 600;

}

.blog-text p{

	line-height: 23px;

}

.blog-category{

	margin: 0px 0 25px 0px !important;

	width: 100%;

}

.panel-title{

	font-size: 14px;

	font-family: lato;

	line-height: 25px;
	color:#333;

}

.panel-title img{

	margin: 0 3px 0 0;

}

.news-panel-title{

	background-color: #f5f5f5;

	font-size: 15px;

	color: #757575;

}

.news-panel-body{

	background: #f5f5f5;

	margin:0;

}

.no-padding{

	padding: 0;

	overflow: hidden;

}

.margin-right{

	margin-right: 0;

	overflow: hidden;

}



.this-img.collapsed {

	transform: rotateZ(0deg);

}

.this-img {

	transition: all .3s ease-in;

	transform: rotateZ(90deg);

}

.panel-title a:hover{

	text-decoration: none;

}

.panel-title img:hover{

	cursor: pointer;

}



.about-menu{

	position: relative;

}



.about-submenu{



	position: absolute;







top: 30px;



z-index: 2;



background: white;

color: #050505;



padding: 0;

transition:.4s;

margin-left: -20px;





}



.about-submenu > li

{

	border-right: 1px solid #ccc;

	border-left: 1px solid #ccc;

	border-bottom: 1px solid #ccc;

	padding: 5px;

}



.about-submenu > li a{

	color:#7b7b7b !important;

}



.about-submenu > li:hover{

	color:white;

	background: white;

	transition:.4s;

	cursor: pointer;

}



.pagination-sm>li>a, .pagination-sm>li>span {

  padding: 5px 10px;

  font-size: 12px;

  color: black;

  }



  .slider.slider-horizontal {

 max-width: 601px;

height: 20px;

width: 100%;

font-family:lato;

}



.form-left>select {

  width: 90%;

  margin-right: 9px;

  margin-bottom: 12px;

  height: 33px;

  padding: 5px;

  border-radius: 3px;

  border: 1px solid #C2C2C2;

}



.sidebar-holder-branch{

	  position: absolute;

  

  top: 52px;

  right: -200px;

  z-index: 1;

  width: 275px;

  transition: .4s;

}



.dl-menuwrapper {

	z-index:99;

	display:none;

	max-width:100%;

}

.dl-menuwrapper button {

background: #A5252A;

border: none;

width: 38px;

height: 35px;

text-indent: -900em;

overflow: hidden;

position: relative;

cursor: pointer;

outline: none;

opacity: 1;

transition: .4s;

float:right;

border-radius:2px;

}



.dl-menuwrapper .dl-menu{

	top:35px;

}



.dl-menuwrapper button:after {

content: '';

position: absolute;

width: 68%;

background: #fff;

top: 10px;

left: 16%;

box-shadow: 0 7px 0 #fff, 0 14px 0 #fff;

height: 3px;

}



.dl-menuwrapper button:hover, .dl-menuwrapper button.dl-active, .dl-menuwrapper ul {

background: #A5252A;

opacity: .8;

transition: .4s;

}



.dl-menuwrapper li a {

display: block;

position: relative;

padding: 5px 20px;

font-size: 14px;

line-height: 20px;

font-weight: 300;

color: #fff;

outline: none;

}



.dl-menuwrapper li.dl-back:after, .dl-menuwrapper li > a:not(:only-child):after {

position: absolute;

top: 0;

line-height: 30px;

font-family: 'icomoon';

speak: none;

-webkit-font-smoothing: antialiased;

content: "\e000";

}





.bottom-img-holder img{

	max-width:100%;

}



.bottom-banner{

	position:relative;

}



.bottom-banner-menu {

	position:absolute;

	top:30px;

	right:25%;

}



.bottom-banner-menu ul > li > a {

	color:#fff;

	text-transform:uppercase;

	font-size:14px;

	transition:.4s;

	padding: 10px;

	font-weight: 600;

}



.bottom-banner-menu-mobile ul li{

	padding:10px 0;

}



.bottom-banner-menu-mobile ul > li > a{

	color:#000;

	text-transform:uppercase;

	font-size:14px;

	transition:.4s;

	padding: 10px;

	font-weight: 600;

}

.bottom-banner-menu-mobile ul >li >a:hover{

	background:#a82d32;

	color:#fff;

	transition:.4s;

	border-radius:2px;

}



.bottom-banner-menu ul >li >a:hover{

	background:#fff;

	color:#000;

	transition:.4s;

	border-radius:2px;

}



.clicked {

	background:#fff;

	color:#000 !important;

	transition:.4s;

	border-radius:2px;

}



.clicked-mobile{

	background:#a82d32;

	transition:.4s;

	border-radius:2px;

	color:#fff !important;

	

}

.exchange-rate-table{

	position:absolute;

	top:100px;

	margin-left: 15px;



}



.exchange-rate-table table, .exchange-rate-table-mobile table{

	background: #FFF;

	border-radius: 3px;

	font-family:lato;

}



.exchange-rate-table tr:nth-child(even), .exchange-rate-table-mobile tr:nth-child(even) {

	background:#e9f2fa;

}



.exchange-rate-table th:first-child, .exchange-rate-table-mobile th:first-child {

	border-top-left-radius:3px;

	padding-left:20px;



}



.exchange-rate-table th:last-child, .exchange-rate-table-mobile th:last-child {

	border-top-right-radius:3px;

	padding-right:20px;

}



.exchange-rate-table tr > td:first-child, .exchange-rate-table-mobile tr > td:first-child{

	padding-left:20px;

	font-family:lato;

}



.exchange-rate-table tr > td:last-child, .exchange-rate-table-mobile tr > td:last-child{

	padding-right:20px;

}





.exchange-rate-table td, .exchange-rate-table-mobile td{

	padding:10px;

}



.exchange-rate-table th, .exchange-rate-table-mobile th{

	background: #a82d32;

	padding: 10px;

	text-transform: uppercase;

	color: #fff;

	font-family:lato;

}

.mobile-menu{

	display:none;

}



.bottom-banner-menu-mobile ul{

	padding:0;

}



.panel-1

{

	background:#f5f5f5;

}

.panel-body-1

{

	margin: 10px;



}


.panel-body-1 p
{
	color:#4A4A4A;
}



.contact-form

{

	margin-left:0px; 

}



#display-sector

{

	width:90%;

}



.exchange-button

{

	  float: right;

	  color: white;

	  background-color: #a82d32;

	  padding: 5px 10px;

	  border-radius: 2px;

	  text-align: center;

	  display: inline-block;

	  border: none;

	  margin-top: 10px;

	  transition:.4s;
	text-transform:capitalize;

}



.exchange-button:hover {

	color:#a82d32;

	background-color:#fff;

	transition:.4s;

}



.contact-branch-btn

{

	color: white;

  border: none;

  margin-bottom: 20px;



  background-color: #a82d32;

  float: right;

  padding: 5px 20px;

  border-radius: 2px;

  /*margin-bottom: 65px;*/

}

.li-bullets li
{
	list-style-type:disc !important;
}

.exchange-form {
	margin:10px 0;
}

.exchange-table {
	margin-top:5px;
	margin-bottom:15px;
}

.exchange-caption{
	text-align:left;
	margin-bottom:15px;
}

.exchange-input {
	width: 30%;
	border-radius: 2px;
	height: 32px;
	margin-bottom: 3px;	
}

.loan-bottom{
	margin-bottom:70px;
}

.tool {
	margin-top:0;
}

.tool-head h1 {
	margin-top:0;
}

.tool-box {
	width:26.5%;
}

.home-heading h1 {
 margin-top:30px;
}

.panel-body p
{
	font-size:13px;
}

#show-networks
{
	margin-bottom:25px;
	margin-top:15px;
}

.advisors
{
	width:250px;
}

.base-rate
{
	margin:15px 0;
	color:#9b0e14;
}

.base-table>tr>th:first-child
{
	width:30%;	
}
.base-table>tr>th:last-child
{
	width:20%;	
}
.base-table th
{
	color:#9b0e14;
}

.advisory-heading h2
{
text-transform: capitalize;
  color: #a82d32;
  font-size: 22px;
  font-weight: 600;
  font-family: lato;
  margin: 10px 0;
}

.rate-interest h2
{
	margin-top:0px;
	color:#a82d32;
	margin-bottom:15px;
	text-transform:capitalize;
}

.product-list h5
{
	text-transform: uppercase;
	color: #a82d32;
	font-weight: 600;
}

.product-list>p a:active, .product-list>p a:visited, .product-list>p a:hover {
	Font-weight:700;	
}

.interest-rate-left
{
	background: #f5f5f5;
padding: 20px;
}

.interest-rate-right
{
	background: #f5f5f5;
	padding: 20px;
	width:45%;
color:#a82d32;
}


.interest-rate-right select
{
	width:100%;
	height:30px;
}

.annum
{
	text-align:center;
}

.annum h1
{
	font-size:40px;
}

.annum span
{
	font-size:20px;
}

.interest-rate-tab
{
	margin-top:30px;
}

.footer-menu>ul>li a:hover {
	color:#000 !important;
	transition:.4s;
}

.tab-panel-1 p{
	font-size:13px;
}