@media all and (max-width: 2560px){
    .tophomecarousel .carousel-inner .img-responsive{
        height:600px;
    }
     .wrapper .content-wrapper .block1 .container .twoColumn .row .divRow img {
    width: 100%;
    height: 315px;
}
.wrapper .content-wrapper .block2 .container .servicesBlock .facilities .services .block img{
        padding-top: 10px;
}
}

@media all and (max-width: 2000px){
    .tophomecarousel .carousel-inner .img-responsive{
        height: 500px;
    }
    .wrapper .content-wrapper .block1 .container .twoColumn .row .divRow img {
    width: 100%;
    height: 300px;
}
}

@media all and (max-width: 1700px){
	.office-location {
		width: 190px;
		padding-left: 10px
	}
}

@media all and (max-width: 1476px){
	.office-img img {
		left: 0;
		right: 0;
		margin: auto;
	}

	.office-location {
		top: 72px;
		width: 100%;
		text-align: center;
	}

}
@media all and (max-width: 1440px) {
    .wrapper .content-wrapper .block3 .container .offerBlock .offers .addImg .offerAd img {
    height: 220px;
}
  .block1 .container .productsBtn .pLists .plogo .fa {
    font-size: 30px; }
  .block1 .container .productsBtn .pLists .plogo .pTopic {
    font-size: 16px;
    font-weight: 700; } 
      .wrapper .header-wrapper nav .container .collapse .navbar-nav {
            padding-left: 90px;
    }
    .e-bank{
        width: 10%;
    }
    .wrapper .content-wrapper .block2 .container .servicesBlock .facilities .services .serviceType h5{
        padding: 0px;
    }
}

@media all and (max-width: 1366px){
    .wrapper .content-wrapper .block3 .container .offerBlock .offers .addImg .offerAd img {

    height: 200px;
    }
    .wrapper .header-wrapper nav .container .collapse .navbar-nav {
            padding-left: 20px;
    }
    .wrapper .content-wrapper .block1 .container .twoColumn .row .divRow{
        margin-bottom: 32px;
    }
}

@media all and (max-width: 1200px){
    .footer .container .news .row .newsDetail .newsTitle h5 {
    font-size: 20px;
    }
    .footer .container .news .row .newsDetail .newsTitle h6 {
    font-size: 14px;
}
    .wrapper .content-wrapper .block3 .container .offerBlock .offers .addImg .offerAd img{
        height: 180px;
    }
    .tophomecarousel .carousel-inner .img-responsive{
	    height: 450px;
	}
	.wrapper .content-wrapper .block2 .container .servicesBlock .facilitiesBlock{
	    padding-left: 0px;
	}
	.wrapper .content-wrapper .block2 .container .servicesBlock .facilities{
	    width: 25%;
	}
	.team-subscribe .fa{
		padding: 5px 20px;
	}
	.acc-topic h3{
		font-size: 18px;
	}
	.acc-btn-img img{
		width: 45px;
	}
	.dept-tabs .container{
	    width: 100% !important;
	}
	.wrapper .header-wrapper nav .container .navbar-header{
	    width: 100%;
	}
	.wrapper .header-wrapper nav .container .collapse{
	    width: 100%;
	    padding: 0;
	}
	.wrapper .header-wrapper nav .container .collapse .navbar-nav{
	    padding-top: 30px;
	    float: none;
	}
	.wrapper .header-wrapper nav .container .collapse .navbar-nav li{
	    /*padding-right: 15px;*/
	}
	.wrapper .content-wrapper .footer .container .contacts .detailInfo{
	        right: 40px;
	}
	.wrapper .header-wrapper nav .container .collapse .navbar-nav .search .glyphicon{
	    left: 0px;
	}
	/*.wrapper .header-wrapper nav .container .collapse .navbar-nav .search{*/
	/*    padding-right: 0px;*/
	/*}*/
	.wrapper .content-wrapper .block1 .container .productsBtn .pLists button a .plogo, .wrapper .content-wrapper .block1 .container .productsBtn .pTitle .plogo{
	    padding-left: 20px;
	}
	.wrapper .content-wrapper .block1 .container .productsBtn .pTitle .pTopic{
	        padding-left: 70px;
	}
	.wrapper .content-wrapper .block1 .container .productsBtn .pTitle .pTopic h5{
	    font-size: 14px;
	}
	.wrapper .content-wrapper .block2 .container .servicesBlock .facilities .services .serviceType h5{
	        font-size: 20px;
    padding: 0 20px;
	}
	
}


@media all and (max-width: 1199px){
	.logo-holder{
		float: none;
	}
	.main-nav{
		float: none;
		margin: 0;
	}
	.account-menu {
		margin-left: 113px;
	}

	.amount-box-wrap {
		width: 100%;
		overflow: hidden;
		margin-bottom: 15px;
		text-align: center;
	}

	.amount-box {
		border: 1px solid #cccccc;
		width: 60%;
		float: none; 
		padding: 10px;
		margin: 0; 
		border-radius: 2px;
		margin-bottom: 15px;
		display: inline-block;
	}

	.card-img{
		float:none;
	}

	.column-wrap{
		width:45%;
		margin: 0 15px 15px 0;
	}
	.buttons .btn {
		width: 223px;
	}	
    
    .buttons .btn {
        width: 173px;
    }
}

@media all and (max-width: 1330px){
	.collapse ul li{
		/*width: 12%;*/
	}
	.topic h5{
		font-size: 12px;
	}
}
@media all and (max-width: 1320px){
/*	.collapse ul li:nth-child(8){
		padding: 18px 10px;
	}*/
}
@media (max-width: 1352px){

}
/*@media all and (max-width: 1288px){
	.navbar{
		padding-bottom: 0px; 
	}

	.collapse{
		width: 100%;
		padding-top: 30px;
	}
	.collapse ul{
		width: 100%;
	}
	.collapse ul li{
		padding: 10px 25px;
	}
	.collapse ul li:nth-child(8) {
		padding: 22px 28px;
	}
}*/
/*@media all and (max-width: 1244px){
	.collapse ul li{

	}
	.collapse{
		width: 100%;
		padding-top: 30px;
	}
	.collapse ul{

	}
	.navbar{
		padding-bottom: 0;
	}
}
@media all and (max-width: 1232px){
	.collapse ul li{
		padding: 10px 15px;
	}
	.collapse ul li:nth-child(8) {
		padding: 22px 28px;
	}

}*/

@media all and (max-width: 1165px){
	.product1:hover .dark-image{
		width: 140%;
	}
	.fa1{
		left: 30%;
	}
	.fa2{
		left:30%;
	}
	.team-subscribe .fa{
		padding: 5px 0;
	}
	

}
@media all and (max-width: 1101px){
	.savings h2{
		font-size: 25px;
	}
	.text-holder p{
		font-size: 13px;
	}

	.product1:hover .dark-image{
		width: 140%;
	}
	.acc-topic h3{
		font-size: 20px;
	}
	.acc-blogs .blog{
		justify: none;
	}


}
@media all and (max-width: 1024px){
    .wrapper .content-wrapper .block1 .container .twoColumn .row .divRow img{
        height: 220px;
    }
     .footer .container .news .row .newsDetail .newsTitle h5 {
    font-size: 16px;
    }
    .wrapper .content-wrapper .footer .container .contacts .detailInfo {
    right: 12px;
}
    .wrapper .content-wrapper .block2 .container .servicesBlock .facilities .services .block{
        height: 180px;
    }
    .wrapper .content-wrapper .block1 .container .productsBtn .pLists button a .plogo, .wrapper .content-wrapper .block1 .container .productsBtn .pTitle .plogo{
	    padding-left: 30px;
	}
	.wrapper .header-wrapper nav .container .collapse .navbar-nav {
            padding-left: 0px;
    }
   
    .cbil{
        width: initial;
    .collapse{
        padding: 0px;
    }
	.onlineStore .acc-imgs img {
    width: 80%;
}
	.wrapper .content-wrapper .block1 .container .productsBtn .pTitle .pTopic{
	        padding-left: 90px;
	}
	.wrapper .content-wrapper .block1 .container .productsBtn .pTitle .pTopic h5{
	    font-size: 16px;
	}
	.wrapper .header-wrapper .head .container .list{
	    text-align: left;
	}
	.carousel-caption .header-text{
	    width: 40%;
	}
	.carousel-caption .header-text h1 {
    font-size: 45px;
    font-weight: 600;
}
.wrapper .content-wrapper .footer .container .news{
    padding: 0px;
}
.wrapper .content-wrapper .footer .container .contacts .detailInfo {
    right: 15px;
}

}

@media all and (max-width: 992px){
    	.wrapper .header-wrapper nav .container .collapse .navbar-nav .product, .wrapper .header-wrapper nav .container .collapse .navbar-nav .rates{
	    width: 12% !important;
	}
	.fa1{
		left:35%;
	}
	.fa2{
		left:35%;
	}
	.collapse ul li{
		/*width: 12%;*/
	}
	.team-img img{
		left: 20%;
	}
	.team-subscribe .fa{
		padding: 0;
	}
	.team-subscribe li{
		width: 30%;
	}
	
	#wrapper .facilities {
    width: 50% ; }
    #wrapper .facilities .block img{
        width: 28%;
    }
    #wrapper .facilities .serviceTypes h5{
            font-size: 20px;
                padding: 0 45px;
                padding-top: 15px;
    }
    .wrapper .footer-wrapper .footer .container .news, .wrapper .footer-wrapper .footer .container .contacts{
        width: 100%;
    }
    .wrapper .footer-wrapper .footer .container .contacts .detailInfo{
            transform: skew(-23deg);
    width: 80%;
    }
    .wrapper .content-wrapper .block1 .container .productsBtn .pTitle .plogo .fa{
        font-size: 25px;
            padding-top: 5px;
    }
    .wrapper .content-wrapper .block1 .container .productsBtn .pTitle .pTopic {
    padding-left: 65px;
}
.wrapper .content-wrapper .footer .container .news{
    padding: 0px;
}
.wrapper .content-wrapper .footer .container .news .row{
        padding-top: 50px;
}
.wrapper .content-wrapper .footer .container .contacts .detailInfo{
        transform: skew(-15deg);
    right: 5px;
}
.wrapper .header-wrapper nav .container .collapse .navbar-nav li{
    padding-right: 12px;
}
}

@media all and (max-width: 991px){
	.full-width{
		width: 100%;
	}
	.helpful {
		width:100%;
	}

	.savings h2{
		font-size: 20px;
	}
	.text-holder p{
		font-size: 13px;
	}
	.text-holder {
		top: 75px;
	}
	.footer-menu{
		margin: 70px 0 0 10px;
	}
	.text-holder{
		width: 300px;
		right: 20%;
	}
	.savings h2{
		font-size: 15px;
	}
	.text-holder p{
		font-size: 11px;
	}
	
	
}



      
@media all and (max-width: 863px){
	.text-holder{
		width: 300px;
		right: 20%;
	}
	.savings h2{
		font-size: 15px;
	}
	.text-holder p{
		font-size: 11px;
	}
}
@media all and (max-width: 768px){
    .tophomecarousel .carousel-inner .img-responsive {
    height: 270px;
}
    .wrapper .content-wrapper .block1 .container .productsBtn .pLists button a .plogo, .wrapper .content-wrapper .block1 .container .productsBtn .pTitle .plogo{
            width: 50%;
    text-align: right;
    padding-right: 50px;
    }
    .wrapper .content-wrapper .block1 .container .twoColumn .row .divRow img{
        height: 300px;
    }
    .wrapper .content-wrapper .block1 .container .productsBtn .pTitle .pTopic{
            width: 50%;
    float: left;
    text-align: left;
        padding-left: 0;
    }

}
@media all and (max-width: 767px){
    .wrapper .header-wrapper .head .container .firstTopMenu{
        display: none;
    }
     .wrapper .header-wrapper .navbar{
    display: none;
  }
  .wrapper .header-wrapper .topHeader{
    display: block;
  }
  .wrapper .header-wrapper .topHeader .navigate img{
      width: 60%;
  }
    .wrapper .header-wrapper nav{
        min-height: 0px;
    }
    .wrapper .header-wrapper nav .container .navbar-header{
        display: none;
    }
	.text-holder{
		width: 300px;
		right: 20%;
		top: 50px;
		padding: 15px;
	}
	.savings h2{
		font-size: 13px;
	}
	.text-holder p{
		font-size: 10px;
	}
	.circle{
		margin-bottom: 10px;
	}
	.account-buttons{
		margin-bottom: 13px;
	}
	/*.wrapper .content-wrapper .block1 .container .productsBtn .pLists{*/
	/*    width: 50%;*/
	/*        float: left;*/
	/*}*/
	.wrapper .content-wrapper .block1 .container .productsBtn .pLists:nth-child(last){
	    width: 100%;
	}
	/*.navbar{
		padding-bottom: 60px;
	}*/
	/*.navbar-toggle{
		top: 35px;
		right: 20px;
	}*/
	.save-accounts .acc-imgs img {
		width: 50px;
	}
	.team-img img{
		left: 40%;
	}
	.team-subscribe .fa{
		padding: 5px 60px;
	}
}
@media all and (max-width: 678px){
   
	.team-img img{
		left: 33%;
	}
	.team-subscribe .fa{
		padding: 5px 28px;
	}
	.footer .container .news .row .newsDetail{
	    width: 100%;
	}
}
@media all and (max-width: 479px){
	.navbar-brand img{

	}
	.helpful h2{
		font-size: 15px;
	}
	.helpful ul li{
		font-size: 13px;
	}
	.circle{
		margin-bottom: 10px;
	}
	.account-buttons{
		margin-bottom: 13px;
	}
	.footer-btn {
		margin: 10px 0 0 0;
	}
	.text-holder{
		display: none;
	}
	.logo-holder{
		margin-left: 25px;
	}
	.back-to-top{
		float: none;
		margin-right: 87px;
		margin-left: 90px;
	}
	.footer-menu {
		text-align: center;
		margin: 19px 0 -25px 10px;
	}
	.icon-holder{
		margin: 15px 0 0 0;
	}
	.himal{

	}
	.accounts-buttons-list{
		margin: 15px 0 45px 0;
	}

	.amount-bottom > input {
		width:100%;
	}
}

@media all and (max-width: 1000px) {
	.save-accounts .onlineStore .acc-imgs img {
    width: 80%;
}
	.top-menu{
		display:none;
	}

	.main-nav{
		display:none;
	}

	.arrow-top{
		display:none;
	}

	.dl-menuwrapper {
		display:block;
	}

	.sidebar-holder {
		display:none;
	}

	.index-box p{
		font-size:9px;
	}

	.index-box h2 {
		font-size: 18px;
		margin: 20px 0;
		color: #696969;
	}

	.KYC-form {
		position: absolute;
		top: 40px;
		right: 85px;
		background-color: #fff;
		padding: 10px 20px;
		width: 45%;
		border-radius: 2px;
	}

	.index-search-box form{
		position:absolute;
		top:5px;
		right:45px;
	}

	.index-search-box{
		width:30%;
	}

	.account-menu{
		display:none;
	}

}

@media all and (max-width: 1030px) {
	.exchange-rate-table{
		top:65px;
	}
}

@media all and (max-width: 935px) {
	.back-to-top {
		background-color: #959595;
		display: inline-block;
		padding: 8px 13px;
		border-radius: 2px;
		margin-top: 8px;
		float:none;
		margin-right:0;
	}

	.footer-menu{
		display:none;
	}

	.footer-side {
		float: right;
		margin: 25px 100px 0 0;
	}
}

@media all and (max-width: 917px) {
	.bottom-banner{
		display:none;
	}
	.mobile-menu {
		display:block;
	}
}
@media all and (max-width: 800px){
    .wrapper .content-wrapper .footer .container .news{
	    width: 100%;
	    padding-bottom: 30px;
	}
	.wrapper .content-wrapper .footer .container .contacts{
	    width: 100%;
	}
	.wrapper .content-wrapper .footer .container .contacts .detailInfo{
	    transform: skew(-30deg);
	}
	.wrapper .content-wrapper .footer .container .contacts .contactDetail {
    left: 30%;
}
}
@media all and (max-width: 767px){
    .wrapper .header-wrapper .topHeader .navigateMenu .newMenu .customDrop .menu1 .a2{
        height: 650px;
    }
    .topHeader .navigaitonHeader{
        height: 100px;
    }
    
    .topHeader .navigaitonMenu{
       min-height: 0px !important; 
    }
    .firstTopMenu{
        display: none;
    }
    .topMenu{
        display: block;
    }
    .mini-menu{
        top: 6px;
    }
    .firstTopMenu ul li{
            width: 100%;
    }
    .tophomecarousel .carousel-caption {
    bottom: 20%;
    }
	.index-search-box{
		width:40%;
	}	

	.buttons-list{
		text-align:center;
	}

	.account-type{
		margin:0 0 0 10px;
	}
	.buttons{
		margin-bottom:10px;
	}

	.card-services {
		padding:0 15px;
	}

	.card-heading{
		padding:0 15px;
	}
	#navFullSizeBottom{
	    display: none;
	}
	.wrapper .content-wrapper .footer .container .news{
	    width: 100%;
	    padding-bottom: 30px;
	}
	.wrapper .content-wrapper .footer .container .contacts{
	    width: 100%;
	}
	.wrapper .content-wrapper .footer .container .contacts .detailInfo{
	    transform: skew(-30deg);
	}
	.wrapper .content-wrapper .footer .container .contacts .contactDetail {
    left: 30%;
}
}

@media all and (max-width: 742px){
	.index-box {
		border: 1px solid #cccccc;
		width: 60%;
		text-align: center;
		padding: 10px;
		margin: 0;
		border-radius: 2px;
		margin-bottom: 15px;
		display: inline-block;
	}
}

@media all and (max-width: 700px) {
	.KYC-form{
		display:none;
	}
}

@media all and (max-width: 662px) {
    .tophomecarousel .carousel-inner .img-responsive {
    height: 240px;
}
    .wrapper .content-wrapper .block1 .container .twoColumn .row .divRow{
        margin-bottom: 20px;
    }
     .wrapper .content-wrapper .block2 .container .servicesBlock .facilities .services .block{
        height: 130px;
    }
	#know-btn{
		margin-right: 0;	
	}
}
@media all and (max-width: 620px) {
	#know-btn{
		margin-bottom: 10px;
	}
}
@media all and (max-width: 615px) {
	.index-search-box form{
		display:none;
	}
}

@media all and (max-width: 526px){
	.card-apply{
		margin:0;
		margin-right:5px;
	}
}
@media all and (max-width: 590px){
	.save-accounts .col-xs-2{
		width: 20%;
	}

}
@media all and (max-width: 500px){
    .wrapper .content-wrapper .block3 .container .offerBlock .offers .addImg .offerAd img {
    height: 200px;
}
    .tophomecarousel .carousel-inner .img-responsive {
    height: 210px;
}
    .wrapper .header-wrapper .topHeader .navigateMenu .newMenu .customDrop .productMenu1 {
        overflow: scroll;
    height: 500px;
    }
    .wrapper .header-wrapper .topHeader .navigateMenu .newMenu .customDrop .menu1 .a1 {
    height: 600px;
}
.wrapper .header-wrapper .topHeader .navigateMenu .newMenu .customDrop .menu1 .a2 {
    height: 450px;
}
.wrapper .header-wrapper .topHeader .navigateMenu .newMenu .customDrop .menu1 .colMenu .inListImg{
    height: auto;
}
    .wrapper .header-wrapper .topHeader .navigate img {
    width: 70%;
}
    #wrapper .facilities .block img {
    width: 35%;
}
.wrapper .content-wrapper .block2 .container .servicesBlock .facilities .more .moreText{
    padding-top: 40%;
}
	.index-search-box{
		width:60%;
	}	
}

@media all and (max-width: 407px){
	.credit-circle {
		float:none;
	}
}


@media all and (max-width: 400px){
	.index-search-box{
		width:85%;
	}	
}



@media all and (max-width: 480px) {
/*	.logo-holder img{
		width:70%;	
	}

	.index-search-box{
		margin-top:15px;
	}*/
}

@media all and (max-width: 436px) {
	.column-wrap{
		width:100%;
	}
#wrapper .facilities {
    width: 100%;
}
.wrapper .content-wrapper .block2 .container .servicesBlock h5, .wrapper .content-wrapper .block2 .container .offerBlock h1{
    text-align: center;
    padding-bottom: 15px;
    font-weight: 700;
}
.wrapper .content-wrapper .block1 .container .productsBtn .pLists{
    width: 100%;
}
.wrapper .footer-wrapper .footer .container .contacts .contactDetail{
        left: 18%;
}
.wrapper .footer-wrapper .footer .container .contacts .detailInfo{
        width: 110%;
            right: -22px;
            transform: skew(-23deg);
}
}

@media all and (max-width: 450px) {
	.exchange-rate-table-mobile table{
		width:100%;
	}

	.exchange-rate-table-mobile th:first-child {
		padding-left: 15px;
	}

	.exchange-rate-table-mobile th {
		padding: 8px;
		font-size: 12px;
	}

	.exchange-rate-table-mobile th:last-child {
		padding-right: 15px;
	}

	.exchange-rate-table-mobile tr > td:first-child {
		padding-left: 15px;
	}
	.exchange-rate-table-mobile tr > td:last-child {
		padding-right: 15px;
	}

	.exchange-rate-table-mobile td {
		padding: 7px;
		font-size: 12px;
	}
	.topNavContainer{
    width: 100%;
    padding: 0 10px;
    height: 65px;
}
.top li {
    margin-right: 18px;
}
.wrapper .header-wrapper .head .container .list{
    text-align: center;
}


}

@media all and (max-width: 415px) {
	.circle-holder {
		float: none; 
		margin: 30px auto;
		display: inline-block;
		text-align: center;
	}

	.card-apply {
		margin: 5px auto;
		text-align: center;
		float: none;
		width: 50%;
	}

}


@media all and (max-width: 360px) {
	.exchange-rate-table-mobile table{
		width:100%;
	}

	.exchange-rate-table-mobile th:first-child {
		padding-left: 10px;
	}

	.exchange-rate-table-mobile th {
		padding: 5px;
		font-size: 10px;
	}

	.exchange-rate-table-mobile th:last-child {
		padding-right: 10px;
	}

	.exchange-rate-table-mobile tr > td:first-child {
		padding-left: 10px;
	}
	.exchange-rate-table-mobile tr > td:last-child {
		padding-right: 10px;
	}

	.exchange-rate-table-mobile td {
		padding: 5px;
		font-size: 12px;
	}

}
@media all and (max-width: 332px){

	.team-img img{
		left: 23%;
	}
	.team-subscribe .fa{
		padding: 5px 8px;
	}
}
@media all and (max-width: 500px){
    .footer .container .news .row .newsImg img {
    height: 250px;
}
    .wrapper .content-wrapper .block1 .container .twoColumn .row .divRow img{
        height: 250px;
    }
    .wrapper .content-wrapper .block1 {
    padding: 50px 0px;
    }
    .tophomecarousel .carousel-inner .img-responsive {
    height: 230px;
}
	.header-img .header-text{
		width: 280px;
	}

	.buttons .btn{
		width: 100%;
	}

	.coin-drop{
		margin-bottom: 15px;
	}

	.supporter h5{
		font-size: 10px;
	}

	.collapse ul li{
		/*width: 100%;*/
	}

	.dropdown-content{
		position: relative;
		padding-top: 0 !important;
	}



/*	.navbar-brand{
		padding: 5px 15px !important;
	}*/

	.acc-details{
		margin: 0;
	}

	.acc-details .blog-title h3{
		margin-top: 10px;
		padding: 0;
	}

	#know-btn{
		margin-right: 0;
		margin-bottom: 10px;
	}

	.acc-buttons button{
		margin-bottom: 10px;
	}

	.acc-buttons{
		text-align: left;
	}

	.acc-read ul{
		padding-left: 0;
	}

	.acc-details{
		margin-bottom: 15px;
	}

	.branchless li{
		list-style: initial !important;
	}

	.compare-acc{
		padding-top: 30px;
	}

	.modal-dialog{
		width: 100%;
		margin: 0;
		float: none;
	}

	.blog-link .btn h3{
		font-size: 18px;
	}

	.team-subscribe .fa{
		padding: 5px 8px;
	}

}


@media all and (max-width: 320px){
    .tab-content .table thead th {
    font-size: 12px;
    text-align: center !important;
}
 .stock .tab-content .table tbody td, #forex .table tbody td {
    padding: 5px 0px !important;
    text-align: center !important;
}
 
     .footer .container .news .row .newsImg img {
    height: 160px;
}
     .wrapper .content-wrapper .block1 .container .twoColumn .row .divRow img,.wrapper .content-wrapper .block3 .container .offerBlock .offers .addImg .offerAd img{
        height: 120px;
    }
    .wrapper .header-wrapper .head .container .list{
        text-align: center;
    }
	.header-img .header-text{
		width: 260px;
		left: 30px;
	}

	.team-img img{
		left: 25%;
	}

	.team-subscribe .fa{
		padding: 5px 13px;
	}

	.team-img img{
		left: 32%;
	}
	.product1:hover .dark-image{
		width: 150%;
	}
	.wrapper .content-wrapper .footer .container .contacts .contactDetail .social-media a{
	        padding-right: 25px;
	}
.wrapper .content-wrapper .footer .container .contacts .contactDetail .social-media, .wrapper .content-wrapper .footer .container .contacts .contactDetail h5 {
    font-size: 16px;
}
.footer .container .contacts .detailInfo {
    transform: skew(-40deg) !important;
    right: -106px !important;
    width: 180% !important;
}
	.wrapper .content-wrapper .footer .container .contacts .contactDetail .contactInfo{
    font-size: 12px;
}

}
@media (max-width: 320px){
    .wrapper .content-wrapper .footer .container .contacts .contactDetail .social-media, .wrapper .content-wrapper .footer .container .contacts .contactDetail h5 {
    font-size: 16px !important;
}
.wrapper .content-wrapper .footer .container .contacts .contactDetail .contactInfo, .wrapper .footer-wrapper .copyright .container .copyText p {
    font-size: 10px !important;
}
}

/*===================================================================================================================================
                                                    NEW RESPONSIVE
===================================================================================================================================*/
@media all and (max-width: 1665px){
    /*Loan Start*/
    #loanContentFix .acc-details {
        margin-left: -56px;
    }
    /*Loan End*/
}


/*=================================================================
                        Size 1428px Start
=================================================================*/
@media all and (max-width: 1428px){
    .navbar-brand img {
        width: 223px !important;
    }
    
    .navbar-nav>li>a {
        padding-left: 0px;
    }
    
    /*Loan Start*/
    #loanContentFix .acc-details {
        margin-left: -38px;
    }
    /*Loan End*/
}
/*=================================================================
                        Size 1428px End
=================================================================*/




/*=================================================================
                        Size 1307px Start
=================================================================*/
@media all and (max-width: 1307px){
    /*Carousel Start*/
    .carousel-inner > div{
        height: 300px;
    }
    /*Carousel End*/    
}
/*=================================================================
                        Size 1307px End
=================================================================*/



/*=================================================================
                        Size 1199px Start
=================================================================*/
@media all and (max-width: 1199px){
    /*Navigation*/
    .navbar-header {
        width: 20%;
    }

    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        width: 80%;
    }
    .navbar-brand img {
        width: 189px !important;
        margin-top: -4px;
    }
    
    .collapse ul li {
        font-size: 14px;
    }
    
    .e-bank img{
        height: 40px;
    }
    
    .remitance img{
        height: 40px
    }
    
    .cbil img{
        height: 20px;
    }
    
    /*Home News*/
    #newHomeBtnFix{
        text-align: center;
    }

    .index-tabs .tab-content {
        padding: 0;
        margin-bottom: 10px;
    }  
    /*Home News*/
    
    /*Loan Start*/
    #loanContentFix .acc-details {
        margin-left: -16px;
    }
    /*Loan End*/  
}
/*=================================================================
                        Size 1199px End
=================================================================*/



/*=================================================================
                        Size 1000px Start
=================================================================*/
@media all and (max-width: 1000px){
	/*Global Start*/
    .acc-buttons {
        padding-top: 10px;
    }
    
    .acc-blogs .blog, .acc1-blogs .blog {
        display: flex;
        /*justify-content: center;*/
    }
	/*Global End*/
    
    /*Navigaiton*/
    .navbar-default .navbar-brand {
        padding-right: 0px;
        height: 100%;
    }
    
    .navbar ul {
        padding-top: 0px !important;
        clear: both;
        text-align: center;
    }
    
    .navbar-header {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        width: 100%;
        display: flex !important;
        justify-content: center;
    }
    
    .navbar ul {
        padding-top: 30px;
        clear: both;
        text-align: center;
    }
    
    /*Home*/
    .row .blogger{
		background: #fff !important;
	}
    
    .piggycoin .piggy-bank{
        height: 293px;
    }

    .piggycoin .coin-drop{
        height: 285px;
    }
    
    #newHomeBtnFix .buttons .btn {
        padding: 10px 5px;
    }
    
    #newHomeBtnFix .buttons .btn {
        width: 184px;
    }
    
    #newHomeBtnFix .buttons .btn-img {
        height: 21px;
        margin-top: -4px;
    }
    /*Home End*/
    
    /*Loan*/
    .save-accounts .acc-imgs img {
        width: 65px;
    }

    #loanContentFix .save-accounts .acc-imgs img {
        width: 55px;
    }

    #loanContentFix .acc-details {
        margin-left: -58px;
    }

    #loanContentFix .acc-details {
        margin-left: -13px;
    }
    
    #loanContentFix .acc-buttons {
        padding-top: 10px;
        text-align: center;
    }
    /*Loan End*/

    /*Branchless Banking*/
    #branchlessBankingFix .acc-blogs p, .acc-blogs p {
        width: 100%;
    }
    /*Branchless Banking*/
}
/*=================================================================
                        Size 1000px End
=================================================================*/



/*=================================================================
                        Size 991px Start
=================================================================*/
@media all and (max-width: 991px){
    /*Carousel Start*/
    .carousel-inner > div{
        height: 300px;
    }
    
    /*Carousel End*/
    
    /*Loan Start*/
    #loanContentFix .acc-details {
        margin-left: -35px;
    }
    /*Loan End*/
    
}
/*=================================================================
                        Size 991px End
=================================================================*/



/*=================================================================
                        Size 795px Start
=================================================================*/
@media all and (max-width: 795px){
	.save-accounts .acc-imgs img {
		width: 70px !important;
	}

	.save-accounts .acc-imgs {
		text-align: center;
	}
    
    #loanContentFix .save-accounts .acc-imgs img {
        width: 55px;
    }
    
    #loanContentFix .acc-details {
        margin-left: 0px;
    }

}
/*=================================================================
                        Size 795px End
=================================================================*/



/*=================================================================
                        Size 767px Start
=================================================================*/
@media all and (max-width: 767px){
    .open{
        width: 100%;
    }
    .bototmNavFullScreen{
        display: none;
    }
    .save-accounts .onlineStore .acc-imgs img {
    width: 60% !important;
}
    .topHeader{
        display: block;
    }
    
    .navbar {
        min-height: 30px;
    }
}
/*=================================================================
                        Size 767px End
=================================================================*/



/*=================================================================
                    Tablet View Start
=================================================================*/
@media all and (max-width: 768px){
    .wrapper .header-wrapper nav .container{
        padding: 0;
    }
    .wrapper .header-wrapper nav .container .collapse .navbar-nav .cbil{
        padding-left: 0;
        width: 10% !important;
    }
    .wrapper .header-wrapper nav .container .collapse .navbar-nav .search{
        padding-left: 0 !important;
    }
    .wrapper .content-wrapper .block3 .container .offerBlock .offers .addImg .offerAd img{
        height: 300px;
    }
    .footer .container .news .row .newsImg img {
    height: 380px;
}
.footer .container .news .row .newsDetail .newsTitle h5 {
    font-size: 20px;
    }
    .tophomecarousel .carousel-inner .img-responsive {
    height: 335px;
}
    .wrapper .content-wrapper .block2 .container .servicesBlock .facilities .services .block{
        height: 150px;
    }
    .wrapper .content-wrapper .block2 .container .servicesBlock .facilities .services{
        height: 240px;
    }
.tophomecarousel .carousel-caption{
    bottom: 20%;
}
    /*Navigation Start*/
    .topHeader .glyphicon {    /*mobile view new nav*/
        color: #159051;
    }
    /*Navigation End*/
    /*other*/
    .carousel-inner > div{
        height: 200px;
    }
    .carousel-inner>.item{
        height: 300px;
    }
    .carousel-caption {
        left: 19px;
    }
    
    .carousel-indicators{
        display: none;
    }

    .carousel-caption .header-text h1{
        font-size: 35px;
    }
    .carousel-caption .header-text{
        width: 60%;
    }
    .tophomecarousel .carousel-caption {
        bottom: 20%;
    }
    .header-text button{
        padding: 0px;
        left: 0px;
    
    }
    
    /*Carousel Start*/
    .tophomecarousel .carousel-caption { /*Home Carousel*/
        bottom: 40px;
        left: 16px;
    }
    /*Carousel End*/
    
    /*Home*/
    .piggycoin .piggy-bank{
        height: 312px;
    }

    .piggycoin .coin-drop {
        height: 274px;
        margin-bottom: 10px;
    }
    
    #newHomeBtnFix .buttons .btn {
        width: 100%;
        margin-bottom: 13px;
    }
    /*Home End*/
    
    
    /*Loan*/
    #loanContentFix .save-accounts .acc-imgs img {
        width: 55px;
    }
    
    #loanContentFix .acc-details {
        margin-left: 0px;
    }
    
    #detailPageFix .blog-logo{
        display: flex;
        justify-content: center;
    }
    
    #detailPageFix .blog-title{
        text-align: center;
    }
    
    #detailPageFix .criteria h3{
        text-align: center
    }
    
    #detailPageFix .criteria ul {
        width: 100%;
    }
    
    #detailPageFix .interest{
        display: flex;
        justify-content: center;
    }
    
    .borrow h2 {
        text-align: center;
    }
    /*Loan End*/
    
    
    /*Card Start*/
    #cardKnowMoreFix .blog{
        padding-bottom: 0px;
    }
    
    #cardKnowMoreFix .blog-title h3{
        text-align: center;
    }
    
    #cardKnowMoreFix .criteria ul{
        width: 100%;
    }
    
    .acc-buttons {
        padding-top: 10px;
    }
    /*Card End*/
    
    /*Services*/
    #servicesFix .acc-buttons{
        padding-top: 10px;
    }
    
    #detailServiceFix .blog{
        padding-bottom: 0px;
    }
    
    #detailServiceFix .blog-title h3{
        text-align: center;
    }
    /*Services*/
	
    /*Banking Start*/
    #bankingFix{
        display: flex;
        justify-content: center;
        padding-bottom: 0px;
    }
    
    #bankingFixBottom .blog{
        padding-bottom: 0px;
    }
    
    #bankingFixBottom .blog-logo{
        display: flex;
        justify-content: center;
    }

    #bankingFixBottom .blog-title h3{
        text-align: center;
    }

    #bankingFixBottom .criteria ul{
        width: 100%;
    }

    #bankingFixBottom .loan-info h5{
        width: 100%;
    } 
    /*Banking End*/
    
    #block1{
		padding: 15px;
	}
    
    .block2 .column-img{
        background-position: top;
    }

	.column-text .read-button{
		position: relative;
		padding-top: 30px;
		text-align: center;
	}

	.footerText{
		text-align: center;
		padding-top: 18px;
	}

	.socialMedia ul{
		float: none;
		text-align: center;
		padding-top: 10px;
	}

	.socialMedia ul li .fa{
		font-size: 17px;
	}

	.office-img img {
		left: 20px;
		margin: 0;
	}

	.office-location {
		right: 0px;
		margin: 0;
		top: 0;
		width: 186px;
		text-align: left;
	}

	.acc-blogs .blog-logo img{
		padding-left: 10px;
	}

	.row .blogger{
		background: #fff !important;
	}

	.save-accounts .acc-imgs img {
		width: 70px;
        padding-bottom: 10px;
	}

	.acc-buttons{
		padding: 0;
		text-align: center;
	}

	.blog-title1 h3 {
		width: 100%;
	}

	.blog-title1{
		text-align: center;
	}

	.acc-buttons #know-btn {
		margin-right: 0px;
	}

	.save-accounts .blog-title {
		text-align: center;
		padding-bottom: 16px;
	}
    
    #cardPageFix .blog-title{
        text-align: left;
    }

	.carousel-inner .img-responsive{
		height: auto;
	}
    
    .acc-read p {
        width: 100%;
    }
    
    .blogger .blog-logo img {
        margin-top: 15px;
    }  
}
/*=================================================================
                       Tablet View End
=================================================================*/



/*====================================================================
                        Mobile View Start
=====================================================================*/
@media all and (max-width: 480px){
    
    /*Navigation Start*/
    .topNavContainer .dropdown .dropdown-content {
        top: 28px !important;
    }

    .topNavContainer .dropdown .dropdown-content{
        left: 0;
        right: auto;
    }
    
    #topNavRight .dropdown-content{
        right: 0;
        left: auto;
    }
    
    .side-links{
		float: none;
		text-align: center;
	}
    
    /*New Navigaiton*/
    .navigaitonHeader img {
        height: 70px;
        padding-left: 10px;
    }
    
    .burger-nav {
        top: 16px;
    }
    /*Navigation End*/
    
    /*Carousel Start*/
        
    .header-text button {
        width: 96px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    
    .header-text button h5{
        margin: 0;
        font-size: 15px;
    }
    
    .tophomecarousel .carousel-caption {
        bottom: 22px;
        left: 16px;
    }
    
    .carousel-inner > div{
        height: 127px;
    }
    /*Carousel End*/
    
    /*Home Start*/
    .piggycoin .piggy-bank{
        height: 173px;
    }

    .piggycoin .coin-drop{
        height: 243px;
    }

    .navbar-header{
        height: 73px;
    }
    
	.dropdown:hover .dropdown-content {
		top: 6px;
	}

	.dropdown img{
		padding: 0;
		margin: 0;
		text-align: center;
		left: 0;
		right: 0;
		margin: auto;
	}

	.remitance img{
		padding: 0;
		margin: 0;
		text-align: center;
		left: 0;
		right: 0;
		margin: auto; 
	}

	.cbil img{
		padding: 0;
		margin: 0;
		text-align: center;
		left: 0;
		right: 0;
		margin: auto; 
	}

	.side-links{
		float: none;
		text-align: center;
	}

	.column-text .read-button{
		position: relative;
		padding-top: 30px;
		text-align: center;
	}
    
    /*About Us Fix*/
    .acc-blogs .blog{
        padding-bottom: 40px;
    }

    .team-block{
        padding: 0;
        padding-bottom: 20px;
    }

    .team-img img {
        left: 0;
        right: 0;
        margin: auto;
    }
    /*About Us Fix Ends*/

    /*Account Fix*/
    .acc-block{
        padding: 0px;
        padding-bottom: 20px;
    }    
    
    .save-accounts .col-md-8 {
        padding-left: 20px;
        padding-right: 20px;
        margin: 0;
    }

    .blog{
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    .blog-logo img{
        float: none;
        padding-left: 0px;
    }

    .blog-title h3{
        margin: 0;
        padding: 0;
        line-height: normal;
    }

    .blog-link .acc-btn-img {
        float: none;
        margin: 0;
        background: none;
    }

    .acc-tools .blog-link{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .acc-imgs{
        text-align: center;
    }

    .blog-title1{
        text-align: center;
    }

    .blog-title1 h3{
        width: 100%;
    }
    
    .acc-read p {
        width: 100%;
    }

    .acc-buttons{
        padding: 0;
        text-align: center;
    }

    #dw-btn {
        margin-right: 0px;
    }
    /*Account fix ends*/

    .ans-ques{
        text-align: center;
    }

    .blog-title h3, .ans-ques-title h3{
        padding: 0;
        margin: 0;
        padding-top: 5px;
    }
    
    .ans-ques-logo img{
        float: none;
        padding: 0;
    }

    .FAQ-block {
        padding: 0;
        padding-bottom: 25px;
        background: #f3f3f3;
    }

    .FAQ-form button {
        float: none;
    }
    
    .FAQ-form{
        text-align: center;
        padding-bottom: 30px;
    }
    
    .category-title{
        padding: 25px;
        margin-top: 15px;
    }

    .category-buttons{
        overflow: hidden;
    }

    .category-buttons .btn {
        width: 100%;
        padding: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 30px;
        background: #e7e6e6;
    }
    
    .category-btn{
        float: none;
    }

    .category-btn .fa {
        padding-left: 0px;
    }
    /*FAQ Fix end*/

    /*Remit Fix Start*/
    .rates-tab{
        padding: 0;
        padding-bottom: 20px;
    }

    .criteria ul{
        width: 100%;
    }

    .rates{
        padding-bottom: 0;
    }
    /*Remit Fix Ends*/

    /*Loan Fix Start*/
    .acc-read ul li {
        width: 100%;
    }

    .acc-block .acc-blogs{
        padding-left: 10px;
        padding-right: 10px;
    }

    .acc-block .acc-blogs .loan-info h5{
        width: 100%;
    }

    .acc-block .acc-blogs .blog-logo{
        text-align: center;
    }

    .acc-block .acc-blogs .blog-title{
        text-align: center;
    }

    .criteria h3{
        text-align: center;
    }

    .borrow h2{
        text-align: center;
    }

    .acc-block .acc-blogs .table-responsive{
        width: 100%;
    }

    .acc-block .acc-blogs .amount-box{
        width: 100%;
    }

    .acc-block .acc-blogs .scroll-column{
        padding-left: 0px;
        padding-right: 0px;
    }
    /*Loan Fix Start Ends*/

    /*Card*/
    #cardPageFix .blog-title{
        text-align: center;
    }
    /*Card*/
    
    /*Branch Emergency Fix*/
    .emergency-block{
        padding:10px 0px;
    }

    .branch-tabs .nav .nav-tabs{
        padding: 0px;
    }

    .branch-tabs .nav-tabs li:last-of-type{
        padding-right: 0px;
    }

    .emergency{
        padding-bottom: 0px;
    }
    
    .emergency-block .emergency .call-logo{
        float: left;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .emergency-block .emergency .call-text{
        float: left;
        width: 100%;
        text-align: center;
    }

    .emergency-block .emergency .nav-tabs{
        display: flex;
        justify-content: center;
    }
    /*Branch Emergency Fix Ends*/
    
    /*News Start*/
    .news-block{
        padding: 0;
        padding-bottom: 10px;
    }
    /*News End*/
    
    .index-img{
        padding: 20px 20px;
    }

    .acc-block .acc-blogs{
        padding: 0;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .footerText{
        text-align: center;
        padding-top: 18px;
    }

    .socialMedia ul{
        float: none;
        text-align: center;
        padding-top: 10px;
    }

    .socialMedia ul li .fa{
        font-size: 17px;
    }

    .location .first-column{
        margin-bottom: 0px;
    }
    
    .location-block{
        padding: 0px;
        padding-bottom: 10px;
    }
    
    .office-img img {
        left: 0;
        right: 0;
        margin: auto;
    }

    .office-location {
        top: 72px;
        width: 100%;
        text-align: center;
    }

    .office-tel .phone{
        width: 100%;
        text-align: center;
    }

    .office-tel .mail{
        width: 100%;
        text-align: center;
    }

    .branchless p{
        width: 100%
    }
    
   
}
 
@media all and (max-width: 425px){
          .wrapper .header-wrapper .topHeader .navigateMenu .burgerNav {
    width: 25px !important;
    top: 40px !important;
}
    .carousel-caption button{
        height: 35px;
    }
    .header-text button h5 {
    margin: 0;
    font-size: 12px !important;
}
    .wrapper .header-wrapper .topHeader .navigateMenu .newMenu .customDrop .menu1 .a1 {
    height: 650px;
}
.wrapper .header-wrapper .topHeader .navigateMenu .newMenu .customDrop .menu1 .a2 {
    height: 500px;
}
    .wrapper .content-wrapper .block1 .container .twoColumn .row .divRow img, .wrapper .content-wrapper .block3 .container .offerBlock .offers .addImg .offerAd img{
        height: 145px;
    }
    .wrapper .content-wrapper .block3 .container .offerBlock .offers .addImg{
        padding-bottom: 20px;
    }
    .wrapper .content-wrapper .block2 .container .servicesBlock .facilities .more .moreText{
    padding-top: 30%;
}
#wrapper .facilities .block img {
    width: 30%;
}
    .header-text button h5{
        margin: 0;
        font-size: 15px !important;
    }
    .wrapper .content-wrapper .block1 .stock .tab-content .tab-pane .chartContainer, .wrapper .content-wrapper .block1 .stock .tab-content .tab-pane .chartContainer1{
        overflow-y: scroll;
    }
    .wrapper .content-wrapper .footer .container .contacts .detailInfo{
        overflow: hidden;
    }
 
.tophomecarousel .carousel-inner .img-responsive {
    height: 100%;
}
    .wrapper .header-wrapper .head .container{
        padding: 0px;
    }
 .tophomecarousel .carousel-caption{
    bottom: 20%;
}
.container .productsBtn .pTitle .plogo {
    padding-left: 50px;
}
    .wrapper .content-wrapper .footer .container .contacts .detailInfo {
    transform: skew(-40deg);
        right: -45px;
            width: 120%;
}
.wrapper .content-wrapper .footer .container .contacts .contactDetail {
    left: 30%;
    top: 29%;
}
.wrapper .content-wrapper .footer .container .contacts .contactDetail .social-media, .wrapper .content-wrapper .footer .container .contacts .contactDetail h5{
    font-size: 22px;
}
.wrapper .content-wrapper .footer .container .contacts .contactDetail .contactInfo, .wrapper .footer-wrapper .copyright .container .copyText p {
    font-size: 14px;
}
.footer .container .news .row .newsDetail .newsTitle h5 {
    font-size: 20px;
}.footer .container .news .row .newsDetail .newsTitle h6 {
    font-size: 16px;
}
.footer .container .news .row .newsDetail .detail p{
    font-size: 12px;
}
}

@media all and (max-width: 375px){
 .stock .tab-content .table tbody td {
    padding: 8px;
    text-align: center !important;
}
#forex .table tbody td {
    padding-left: 15px;
}
.wrapper .content-wrapper .footer .container .contacts .detailInfo {
    transform: skew(-25deg);
    right: -45px;
    width: 130%;
}
   .footer .container .news .row .newsImg img {
    height: 200px;
}
.footer .container .news .row .newsDetail .newsTitle h5 {
    font-size: 16px;
}
}
/*====================================================================
                        Mobile View Staart
=====================================================================*/