div#ndp-nepali-box{
	font-family: 'Trebuchet MS', Tahoma, Verdana, Arial, sans-serif; 
	width: 198px; 
	border: 1px solid #A6C9E2;
	background-color: #FDFEFE;
	position: absolute;
	z-index:1;
	padding: 1px;
	margin-top: 1px;
	top: 195px !important;
  	left: 303px !important;
}
div#ndp-nepali-box td.ndp-date{
	margin:1px; padding: 1px 2px;
	
	border: 1px solid #C5DBEC;
	background: #DFEFFC url(images/ndp_date_bg.png) repeat-x;
	color: #2E6E9E;
}
div#ndp-nepali-box td.ndp-selected{
	border: 1px solid #FAD42E;
	background: #FBEC88;
	color: #363636;
}
div#ndp-nepali-box td.ndp-current{
	margin:1px; padding: 1px 2px;
	border: 1px solid #79B7E7;
	background: #F5F8F9;
}
div#ndp-nepali-box td.ndp-current a{ color: #E17009; }
div#ndp-nepali-box td.ndp-date a{
	display:block; 
	color: #1C94C4; 
	text-decoration:none; 
	font-size: 12px; 
	width:20px
}
div#ndp-nepali-box td.ndp-date:hover{
	border: 1px solid #FED22F; 
	opacity:0.8;
}
div#ndp-nepali-box td.ndp-date a:hover{
	color: #1C94C4;
}
div#ndp-nepali-box table, div#ndp-nepali-box tr, div#ndp-nepali-box td{ 
	font-size:12px;
	height: 19px;
	line-height: 19px;
}
div#ndp-nepali-box a{
	text-decoration:none;
}

.ndp-days th{
	text-align:center;
	font-weight: bold;
}

.ndp-header{
	border: 1px solid #4297D7;
	background: #5C9CCC url(images/ndp_bg_wave.png) 50% 50% repeat-x;
	color: white;
	font-weight: bold;
	font-size: 13px;
	height: 20px;
	line-height: 20px;
	margin: 2px;
	text-align: center;
}

.ndp-prev{
	left: 7px;
	position: absolute;
	top: 6px;
	width: 1.3em;
	height: 1.3em;
	background: url(images/ndp_buttons.png) no-repeat;
    background-position: 0px 0px;
}
.ndp-prev:hover{
	background: #D0E5F5 url(images/ndp_buttons.png);
	background-position: -16px 0px;
}
.ndp-next:hover{
	background: #D0E5F5 url(images/ndp_buttons.png);
	background-position: -48px 0px;
}
.ndp-next{
	right:7px;
	position: absolute;
	top: 6px;
	width: 1.3em;
	height: 1.3em;
	background: url(images/ndp_buttons.png) no-repeat;
    background-position: -32px 0px;
}

/* Corner radius */
.ndp-corner-all, .ndp-corner-top, .ndp-corner-left, .ndp-corner-tl { -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; -khtml-border-top-left-radius: 5px; border-top-left-radius: 5px; }
.ndp-corner-all, .ndp-corner-top, .ndp-corner-right, .ndp-corner-tr { -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; -khtml-border-top-right-radius: 5px; border-top-right-radius: 5px; }
.ndp-corner-all, .ndp-corner-bottom, .ndp-corner-left, .ndp-corner-bl { -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; -khtml-border-bottom-left-radius: 5px; border-bottom-left-radius: 5px; }
.ndp-corner-all, .ndp-corner-bottom, .ndp-corner-right, .ndp-corner-br { -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; -khtml-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px; }