@import "components/fonts_and_colors";

/*========================== Sushant Styles Start ==========================*/

.top-nav-blue a{
  color: #0a67b0 !important;
}
.make_image_top{
  top: 0px !important;
}

/*-------------- Side  Wide Start ---------------*/

.outer-custom-container{
  background: #f3f3f3;
  display: inline-block;
  width: 100%;
  padding: 30px 50px;
}


.services-section .outer-custom-container {
  padding: 15px 50px 22px 50px;
}

.offers-section .outer-custom-container{
  padding: 18px 41px 16px 41px;
}

.top-footer .footer-custom-container{
  padding-top: 20px;
  padding-bottom: 12px;
}

.footer-custom-container{
  padding-left: 50px;
  padding-right: 50px;
}

a:focus {
  outline: none;
}

p{
  font-size: 16px;
  color: black;
}

.common-page .section-title,.list-all-page .section-title{
  height: 63px;
}

.list-all-page .section-title{
  margin-bottom: 25px;
}

.show-all-item .title{
  display: inline-block;
  width: 100%;
  height: 52px;
}

.top-description-section h3,
.show-all-item .content h3{
  font-size: 18px;
  font-weight: 600;
  color: #0b67b1;
  margin: 30px 0px 15px 0px;
}

.section-title .icon-container,
.show-all-item .image-container,
.section-title .text-container,
.show-all-item .text-container{
  float: left;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.ci-md-1{
  float: left;
  width: 18%;
}

.ci-md-2{
  float: left;
  width: 15%;
}

.ci-md-6{
  width: 50%;
  float: left;
}

.ci-md-8{
  float: left;
  width: 65%;
  margin-left: 1%;
  margin-right: 1%;
}

.stock-image-container{
  padding-right: 0.5%;
}

.stock-numbers-container{
  padding-left: 0.5%;
}

strong{
  color: black;
}

/* Nav Tabs Start */


.nav-tabs{
  border-bottom: 0;
}
.sub-headings h2{
  font-size: 22px;
  color: #0b67b1;
  margin-bottom: 14px;
}

.table-without-nav-tab-container{
  margin-top: 40px;
}

/*.left-big-contianer .nav-tabs,
.table-without-nav-tab-container h1{
    margin-bottom: 30px;
}*/

.second-lvl-tab .nav-tabs{
  margin-bottom: 20px;
}

.scroll-hori{
  white-space: nowrap;
  overflow: auto;
}

.scroll-hori li{
  display: inline-block;
}

.second-lvl-tab .nav-tabs li{
  display: inline;
}
/*.nav-tabs>li{
    margin-right: 30px;
}*/

.nav-tabs a,
.nav-tabs a:active,
.nav-tabs a:focus,
.nav-tabs a:hover,
.nav-tabs li.active a{
  background: transparent !important;
}

.product-options .hover.active{
  background: $primary-color;
}



.fees_and_com_tab > ul > li{
  height: 22px;
  margin-bottom: 10px;
  display: inline-block;
  float: none;
}
/* Nav Tabs End */

/* Table Start */

tr th,
tr td{
  font-size: 15px;
  padding: 16px 15px !important;
  border-top: 0 !important;
  color: black !important;
  border-bottom: 0px !important;
}

tr td a{
  color: black !important;
}

tr th{
  background: #ddf2ec;
  color:#159051 !important;
  text-transform: uppercase;
}

tr:nth-of-type(odd){
  background: #edeff1;
}

table tr td,table tr th{
  border-right: 1px solid #dcdedf !important;
  border-top: 0px !important;
}

table tr td:last-of-type,
table tr th:last-of-type{
  border-right: 0px !important;
}

table{
  border-bottom: 1px solid #dcdedf !important;
}
/* Table End */

/* List Start */
ul li, ol li{
  margin-bottom: 10px;
}

ol{
  margin-left: 16px;
  color: black;
}

.top-description-section ol li{
  font-size: 16px;
  padding-left: 2px;

}

.top-description-section ul li{
  font-size: 16px !important;
}

/* List End */



/* Button Start */
.cz-btn{
  text-align: right;
  margin-top: 12px;
}

.cz-btn button{
  color: $primary-color;
  background: transparent;
  border-color: $primary-color;
  padding: 6px 36px;
  margin-bottom: 0px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.cz-btn button:hover,
.cz-btn button:focus,
.cz-btn button:active{
  color: #fff;
  background: $primary-color;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
/* Button Ends*/
/*--------------- Side  Wide End ----------------*/


/*----------- Navigation Start Start ------------*/


.rep-med.hover .ci-drop-area{
  overflow: visible;
}

.rep-med .ci-drop-area ul li{
  position: relative;
}

.rep-med .ci-drop-area ul li ul{
  position: absolute;
  background: #b5e9f4;
  left: -200px;
  width: 200px;
  top: 0px;
  opacity: 0;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.rep-med .ci-drop-area ul li.hover ul{
  opacity: 1;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}


.ci-custom-container {
  padding: 0px 35px;
}

#header-wrapper{
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
}

#content-wrapper{
  padding-top: 121px;
}
#header-wrapper .top-navigation-container {
  background: $primary-color;
}

#header-wrapper .top-navigation-container .ci-top-toggle {
  position: relative;
  display: none;
  height: 40px;
  width: 100%;
}

.ci-top-toggle .ci-burger {
  cursor: pointer;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translatey(-50%);
  -webkit-transform: translatey(-50%);
  -moz-transform: translatey(-50%);
  -ms-transform: translatey(-50%);
  -o-transform: translatey(-50%);
}

.ci-top-toggle .ci-burger span {
  background: #eee;
  display: block;
  width: 26px;
  height: 2px;
  margin-bottom: 4px;
  position: relative;
  top: 0;
}

#header-wrapper .top-navigation-container .ci-top-nav {
  height: 35px;
}

#header-wrapper .top-navigation-container .ci-top-nav ul {
  text-align: right;
  margin: 0px;
  position: relative;
}

#header-wrapper .top-navigation-container .ci-top-nav ul li {
  position: relative;
  line-height: 2;
  display: inline;
  list-style: none;
  margin-right: 20px;
  padding: 9px;
  background: $primary-color;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

#header-wrapper .top-navigation-container .ci-top-nav ul li a {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  text-decoration: none;
  color: #fff;
}

#header-wrapper .top-navigation-container .ci-top-nav ul li ul {
  max-height: 0px;
  overflow: hidden;
  position: absolute;
  top: 36px;
  right: 0px;
  padding: 0px;
  width: 190px;
  background: $primary-color;
  text-align: left;
}

#header-wrapper .top-navigation-container .ci-top-nav ul li ul li {
  position: relative;
  display: block;
  margin: 0;
  line-height: 1;
  padding: 5px 10px;
}

#header-wrapper .top-navigation-container .ci-top-nav ul li ul li ul {
  max-height: 0px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 200px;
  left: 0px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

#header-wrapper .top-navigation-container .ci-top-nav .custom-drop-slevel > ul {
  max-height: 1000px;
  opacity: 1;
  top: 0px;
  left: -200px;
  overflow: visible;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

#header-wrapper .top-navigation-container .ci-top-nav ul li ul li:first-of-type {
  padding-top: 8px;
}

#header-wrapper .top-navigation-container .ci-top-nav ul li ul li:last-of-type {
  padding-bottom: 8px;
}

#header-wrapper .top-navigation-container .ci-top-nav ul li:hover, #header-wrapper .top-navigation-container .ci-top-nav ul li:focus, #header-wrapper .top-navigation-container .ci-top-nav ul li:active {
  background: #76af9a;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

#header-wrapper .top-navigation-container .ci-top-nav ul li:last-of-type {
  margin-right: 0px;
}

#header-wrapper .top-navigation-container .ci-top-nav ul .has-submenu > a:after,
#header-wrapper .top-navigation-container .ci-top-nav > ul > li.top-has-sub-menu > a:after{
  font-family: FontAwesome;
  content: "\f0d7";
  color: #fff;
  margin-left: 10px;
}

#header-wrapper .top-navigation-container .ci-top-nav > ul > li ul li a{
  display:block;
}

#header-wrapper .top-navigation-container .ci-top-nav .custom-drop > ul {
  z-index: 1;
  overflow: hidden;
  max-height: 1000px;
  overflow: visible;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

#header-wrapper .top-navigation-container .ci-top-nav .custom-drop > ul > li > a{
  z-index: 1;
}

#header-wrapper .top-navigation-container .ci-top-nav .custom-drop > ul li ul{
  z-index: -1;
}

#header-wrapper .top-navigation-container .ci-top-nav .custom-drop-slevel > ul > li > ul{
  max-height: 1000px;
  left: 0px;
  width: 0px;
  opacity: 0;
}

#header-wrapper .top-navigation-container .ci-top-nav .custom-drop-slevel > ul > li.custom-drop-slevel > ul{
  width: 200px;
  top: 10px;
  left: -200px;
  opacity: 1;
}

#header-wrapper .top-navigation-container .ci-top-nav .custom-drop, #header-wrapper .top-navigation-container .ci-top-nav .custom-drop-slevel {
  background: $primary-color;
}
/* Top Navigation End */


/* Bottom Navigation Start */

.bottom-navigation-container{
  background: #fff;
}
.bottom-navigation-container .ci-custom-container{
  width: 100%;
  display: inline-block;
}

.bottom-navigation-container,.logo-container,.nav-container{
  height: 86px;
}

.logo-container{
  position: relative;
}

.logo-container a{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.ci-bottom-toggle{
  display: none;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.ci-bottom-burger span{
  background: $primary-color;
  display: block;
  width: 26px;
  height: 2px;
  margin-bottom: 4px;
  position: relative;
  top: 0;
}

.nav-container .product-mobile{
  display: none;
}

.nav-container .center-nav{
  margin-top: 30px;
}

.logo-container{
  width: 18%;
  float: left;
}

.nav-container{
  width: 82%;
  float: left;
}

.logo-container a{
  display: inline-block;
}

.logo-container img{
  width: 310px;
  height: auto;
}

.nav-container{
  text-align: right;
}

.nav-container ul{
  margin-bottom: 0px;
}

.nav-container ul li{
  display: inline;
  list-style: none;
  position: relative;
  margin-left: 24px;
}

.nav-container ul li:first-of-type{
  margin-left: 0;
}

.menu-int-bank span{
  font-weight: 900;
}

.menu-int-bank span:first-of-type{
  color: #0a67b0;
}

.menu-int-bank span:nth-of-type(2){
  color: #0a67b0;
}

.nav-container ul li a{
  font-size: 16px;
  font-weight: 900;
  color: #0a67b0;
  text-transform: uppercase;
}

.nav-container ul>li img{
  width: 36px;
  height: auto;
  margin-top: -6px;
  margin-left: 5px;
}

.nav-container .cbl-logo img{
  width: 100px;
}



.nav-container ul  li a{
  padding: 10px 25px
}



.nav-container > ul > li.active > a{
  background: #b5e9f4;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}

.nav-container > ul > li.active.remove-back > a{
  background: transparent !important;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}

.nav-container > ul > li > a{
  padding: 10px 12px 36px 12px;
}

.nav-container .menu-int-bank a{
  padding: 12px 45px 12px 12px;
  background: $primary-color;
  color: #0a67b0;
  position: relative;
  background-image: url("../img/touch_blue.png") !important;
  background-repeat: no-repeat !important;
  background-position: right !important;
  background-size: 42px !important;
}

/*.nav-container > ul > li:nth-of-type(2) > a,
.nav-container > ul > li:nth-of-type(4) > a,
.nav-container > ul > li:nth-of-type(5) > a,
.nav-container > ul > li:nth-of-type(6) > a{
    padding: 10px 12px 38px 12px;
}*/

.nav-container > ul > .nv-pe-a > a,.nav-container > ul > .nv-pe-b > a{
  padding-top: 18px;
  padding-bottom: 18px;
}


.nav-container > ul > .cbl-logo > a{
  padding-top: 25px;
  padding-bottom: 25px;
}

.nav-container > ul > .nv-search .fa{
  font-size: 20px;
  color: #0a67b0;
}

.nav-container .ci-drop-area{
  position: absolute;
  top:55px;
  left: 0px;
  z-index: 1;
}

/*#center-nav .ci-drop-area .hover {*/
/*    position:relative;*/
/*}*/
/*#center-nav  .ci-drop-area .hover .ci-drop-area2{*/
/*       display: block;*/
/*    border: solid;*/
/*    position: absolute;*/
/*    right: -150px;*/
/*    top: 0;*/
/*    width: 100%;*/
/*}*/

/*#center-nav .rep-med ul .ci-drop-list{*/
/*    position: relative;*/
/*}*/

/*#center-nav .rep-med ul .ci-drop-list .ci-drop-area2{*/
/*    position:absolute;*/
/*    right: 0px;*/
/*    display: none;*/
/*    width: 100%;*/
/*}*/
/*#center-nav .rep-med ul .ci-drop-list:hover .ci-drop-area2{*/
/*    display: block;*/
/*}*/



/* Drop Style Product*/

.product-links,.product-options{
  float: left;
}

.product-options{
  width: 42%;
  min-height: 330px;
  border-right: 1px solid #fff;
  background: #b5e9f4;
}

.product-links{
  width: 58%;
  min-height: 330px;
  padding: 15px;
  background: #b5e9f4;
  position: relative;
}



.ci-drop-area ul li{
  display: block;
  float: none;
  margin: 0;
}


.product-options li a{
  display: inline-block;
  height: 50px;
}

.product-options li a:after{
  content: '';
  border: 0;
}

.product-options li span{
  float: left;
  position: relative;
  top:50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.product-options > ul > li > a{
  padding: 0px;
}

.product-options li a,
.product-options li a:hover,
.product-options li a:active,
.product-options li a:focus,
.product-options li.active a,
.product-options li.active a.active,
.product-options li.active a:hover,
.product-options li.active a:focus{
  border: 0px;
}

.product-options li span:first-of-type{
  width: 50px;
  height: 38px;
  margin-right: 10px;
  position: relative;
}

.product-options li span:first-of-type img{
  position: absolute;
  width: 34px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: auto;
  margin: 0px !important;
}

.product-options li:nth-of-type(2) span:first-of-type img{
  width: auto !important;
  height: 32px !important;
}

.product-options li span:first-of-type .initial{
  opacity: 1;
}
.product-options li span:first-of-type .on-hover{
  opacity: 0;
}

.product-options li.active span:first-of-type .initial,
.product-options li:hover span:first-of-type .initial{
  opacity: 0;
}
.product-options li.active span:first-of-type .on-hover,
.product-options li:hover span:first-of-type .on-hover{
  opacity: 1;
}

.product-options ul li{
  padding-left: 15px;
}

.product-options ul li.active,
.product-options ul li:hover{
  background: $primary-color;
}

.product-options ul li:hover > a span:last-of-type,
.product-options > ul li.active > a span:last-of-type{
  color: #fff;
}

.product-links ul li{
  margin-bottom: 5px;
}


.product-options li span:last-of-type,
.rep-med .ci-drop-area ul li a,
.product-links ul li a{
  font-size: 16px !important

}

.product-links ul li a{
  display: inline-block;
  min-width: 100%;
  font-weight: 400;
  color: #0a67b0;
  padding: 6px 0px;
  text-transform: capitalize;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.product-options li span:last-of-type,
.rep-med .ci-drop-area ul li a{
  font-weight: 400 !important;
  text-transform: capitalize;
  color: #0a67b0;
}


.nav-large-width ul li:not(:first-of-type){

}

.product-links ul li:hover{
  background: $primary-color;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}


.product-links ul li:hover a{
  color: #fff;
}

.product-drop .ci-drop-area{
  text-align: left;
  width: 600px;
  background: #6abea7;
  z-index: 6;
}

.nav-split-container{
  display: inline-block;
  width: 100%;
  height: 100%;
}
.nav-large-width{
  width: 100%;
  height: 295px;
}

.product-options li a{
  width: 100%;
}

.nav-small-width{
  float: left;
  width: 44%;
  margin-left: 4%;
  padding-left: 25px;
  border-left: 1px solid #fff;
}

.nav-large-width ul{
  margin-right: 5px;
}

.nav-large-width li a,
.nav-small-width li a{
  padding-left: 5px !important;
}

/**** Product Drop End ****/







/* Drop Start */
.ci-drop-area{
  max-height: 0;
  overflow: hidden;
}

.center-nav > li > a:hover,
.center-nav > li.hover >  a{
  background: #b5e9f4;
}

.center-nav li.hover .ci-drop-area{
  max-height: 1000px;
}

.rep-med ul li{
  text-align: left;
  border-top: 1px solid #fff;
  /*padding: 6px 10px;*/
}

.rep-med ul li:first-of-type{
  border-top: 0;
}

.rep-med ul li a{
  padding: 0;
  font-size: 15px;
  font-weight: 400;
  text-transform: capitalize;
}

.center-nav li.hover.rep-med .ci-drop-area {
  padding: 0;
}

.rep-med ul{
  width: 270px;
  padding-left: 0;
}


.rep-med .ci-drop-area ul li{
  background: #b5e9f4;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.rep-med .ci-drop-area ul li a{
  color: #0a67b0;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  display: inline-block;
  width: 100%;
  padding: 6px 10px;
}


.rep-med .ci-drop-area ul li:hover{
  background: $primary-color;
  color: #fff;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.rep-med .ci-drop-area ul li:hover a{
  display: inline-block;
  min-width: 100%;
  color: #fff;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}


/* Drop End */





/* Bottom Navigation End */

/*------------ Navigation Start End -------------*/




/*--------------- Home Page Start ---------------*/

/* Banner Section Start */

.bannerSlider{
  margin: 0px !important;
}

.bannerSlider .bannerItem{
  overflow: hidden !important;
  width: 100%;
  height: 400px;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  outline: none;
}

.bannerSlider .bannerItem a{
  font-size: 16px;
  color: #ffffff;
  background: #0b67b1;
  border: 1px solid #0b67b1;
  padding: 12px 25px;

  position: absolute;
  bottom: 50px;
  left: 50px;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.bannerSlider .bannerItem a:hover,.bannerSlider .bannerItem a:focus,.bannerSlider .bannerItem a:active {
  color: #0b67b1;
  background: #ffffff;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;

}
.slick-dots{
  bottom: 5px;
}

.bannerSlider .bannerItem .banner-water-mark,
.bannerSlider .cz_banner_item .banner-water-mark{
  position: absolute;
  right: 80px;
  bottom: 20px;
}

.bannerSlider .bannerItem .banner-water-mark a,
.bannerSlider .cz_banner_item .banner-water-mark a
{
  font-size: 9px;
  padding: 0px;
  position: relative;
  bottom: initial;
  left: initial;
  color: #0b67b1 !important;
  background: transparent !important;
  border: 1px solid transparent !important;
}
/* New Banner Start */



.bannerSlider .slick-prev{
  left: 50px !important;
  opacity: 1 !important;
  z-index: 5;
}

.bannerSlider .slick-next{
  right: 50px !important;
  opacity: 1 !important;
  z-index: 0;
}
.slick-prev:before,
.slick-next:before{
  color: #159051;
}

.bannerSlider .cz_banner_item {
  height: 380px;
  outline: none;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}


.bannerSlider .cz_banner_item .home-ban-more{
  z-index: 1;
  font-size: 16px;
  color: #ffffff;
  background: #0b67b1;
  border: 1px solid #0b67b1;
  padding: 12px 25px;
  position: absolute;
  bottom: 50px;
  left: 50px;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.bannerSlider .cz_banner_item .home-ban-more:hover{
  color: #0b67b1;
  background: #ffffff;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.bannerSlider .image-container{
  position: relative;
  float: left;
  width: 48%;
  min-height: 100%;
  margin-right: 1%;
  overflow: hidden;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: right center !important;
}

.bannerSlider .image-container img{
  width: 380px;
  position: absolute;
  bottom: 0;
  right: 0;
}


.bannerSlider .text-container{
  position: relative;
  float: right;
  width: 48%;
  min-height: 100%;
  height: 100%;
  margin: 0px 1%;
  text-align: center;
}

.bannerSlider.text-container .text-inner{
  position: absolute;
  bottom: 33px;
}
.bannerSlider.image-container img{
  max-width: 100%;
}

.bannerSlider .cz_banner_item.homewatermark .text-container,
.bannerSlider .bannerItemInside .text-container{
  float: right !important;
}

/* Text Cont Start */
.bannerSlider .text-container .right-img{
  position: relative;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 12px;
  background: #159051;
}

.bannerSlider .text-container .right-img img{
  position: absolute;
  width: 46px;
  left: 0;
  right:0;
  margin: auto;
  top:50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.bannerSlider .text-container .text-inner{
  width: 399px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);

}


.bannerSlider .text-container .right-text{
  padding-right: 10px;
}

.bannerSlider .text-container .right-text h1,
.bannerSlider .text-container .right-text h1 p{
  font-size: 35px;
  font-weight: 900;
  color: #0a67b0;
}


.bannerSlider .text-container .right-text p{
  color: black;
  margin-bottom: 0px;
}


/* Inside  page bannr*/

.bannerSlider .bannerItem .banner-content{
  height: 240px;
  display: inline-block;
  position: absolute;
  width: 650px;
  margin: auto;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.bannerSlider .bannerItem .text{
  text-align: center;
  float: left;
  width: 73%;
  margin-right: 2%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.bannerSlider .bannerItem .image{
  float: left;
  width: 25%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.bannerSlider .bannerItem .text h1,
.bannerSlider .bannerItem .text h1 p{
  font-size: 46px;
  font-weight: 900;
  color: #0b67b1;
}

.bannerSlider .bannerItem .image img{
  width: 150px;
  max-width: 100%;
  height: auto;
}

/* Inside page banner end*/



/* Banner Color Options Start */
.bannerSlider .text-container .right-text.Black h1,
.bannerSlider .text-container .right-text.Black h1 p,
.bannerSlider .text-container .right-text.bottom-Black p{
  color: black;
}

.bannerSlider .text-container .right-text.White h1,
.bannerSlider .text-container .right-text.White h1 p,
.bannerSlider .text-container .right-text.bottom-White p{
  color: #fff;
}

.bannerSlider .text-container .right-text.Red h1,
.bannerSlider .text-container .right-text.Red h1 p,
.bannerSlider .text-container .right-text.bottom-Red p{
  color: red;
}


.bannerSlider .text-container .right-text.Blue h1,
.bannerSlider .text-container .right-text.Blue h1 p,
.bannerSlider .text-container .right-text.bottom-Blue p{
  color: #0a67b0;
}

.bannerSlider .text-container .right-text.Green h1,
.bannerSlider .text-container .right-text.Green h1 p,
.bannerSlider .text-container .right-text.bottom-Green p{
  color: #159051;
}
/* Banner Color Options Ends */


/* New Banner End */













/* Banner Section End */

.left-quick-links .side-item:first-of-type, .right-tool-links .side-item:first-of-type{
  height: 59px;
}

.left-quick-links .side-item:first-of-type{
  padding:  0px 15px;
  color: #ffffff;
}

.right-tool-links .side-item:first-of-type span{
  width: 100%;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 17px;
  text-transform: uppercase;
  margin-right: 0;
  text-align: left;
  color: #ffffff;
  padding: 0px 20px;
}

/*.right-tool-links .side-item:first-of-type span{
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 17px;
    text-transform: uppercase;
    margin-right: 0;
    text-align: center;
}*/

.side-item{
  width: 100%;
  height: auto;
  background: #ffffff;
  margin-bottom: 12px;
}

.side-item:last-of-type{
  margin-bottom: 0px;
}

.side-item:first-of-type{
  background: $primary-color;
}

.side-item:first-of-type a{
  color: #ffffff;
}




.left-quick-links .side-item a{
  height: 90px;
}

.left-quick-links .side-item a:hover span:nth-of-type(2),
.right-tool-links .side-item a:hover span:nth-of-type(2){
  font-weight: 900;
}


.right-tool-links .side-item a{
  height: 110px;
}

.home-center-chart{
  height: 290px;
}


.side-item a{
  display: block;
  width: 100%;
  padding: 0px 20px;
  color: #0a67b0;
}

.side-item span{
  float: left;
  position: relative;
  top:50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.side-item span:nth-of-type(1){
  width: 40px;
  margin-right: 10px;
  font-size: 28px;
}

.side-item span:nth-of-type(2){
  width: calc(100% - (40px + 10px));
}

.side-item a span:nth-of-type(1) img{
  width: 38px;
  max-width: 100%;
}

.side-item span:nth-of-type(2){
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 17px;
  text-transform: uppercase;
}

.side-item span:nth-of-type(1) img{
  max-width: 100%;
  height: auto;
}

/* Right Side Bar Section*/

.right-tool-links .side-item:last-of-type{
  margin-bottom: 0px;
}

.right-tool-links .side-item a span:nth-of-type(1){
  color: #159051;
}

.right-tool-links .side-item:first-of-type a{
  height: 60px;
}

.right-tool-links .side-item:first-of-type a{
  color: #ffffff;
}


/* Eight Side Bar Section End */

/* Center Section Start */

.home-center-stock #linechart > div > div{

}


.home-center-chart{
  overflow: scroll !important;
}

.home-center-stock .offers-image{
  height: 327px;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: 55% !important;
}

.home-center-stock a:nth-of-type(1) .offers-image{
  margin-bottom: 15px;
}

.home-center-stock .offers-image .text-container .text-inner{
  bottom: initial;
  top:50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.stock-exchange .nav-tabs{
  margin: 0;
}

.stock-exchange .nav-tabs li{
  padding: 0;
  width: 50%;
  background: #ffffff;
  margin-right: 0px;
}

.stock-exchange .nav-tabs li.active a,.stock-exchange .nav-tabs li.active a:hover{
  background: $primary-color !important;
  color: #ffffff !important;
  border: 1px solid $primary-color !important;
  margin: 0 !important;
}

.stock-exchange .nav-tabs li a{
  display: block !important;
  font-size: 17px;
  font-weight: bold;
  height: 60px;
  border-radius: 0;
  color: #159051;
  padding: 15px 20px !important;
}

.stock-exchange .nav-tabs li a:hover{
  background: transparent;
  border: 1px solid transparent;
}
.table tbody td strong{
  color: #159051;
}
.home-center-chart{
  max-width: 100%;
  overflow: hidden;
  background: #ffffff;
}

.fortex-rate{
  overflow-y: scroll;
}

.fortex-rate .table-wrapper-fortex{
  display: none;
}

.fortex-rate table tbody{
  width: 100%;
}

.fortex-rate tr td{
  padding: 9px  20px!important;
  color: black !important;
  text-align: left;
}

.fortex-rate tr:nth-of-type(even){
  background: #ededed;
}

.fortex-rate tr:nth-of-type(odd){
  background: #fff;
}

.fortex-rate .stock tr:nth-of-type(even){
  background: #ffffff;
}

.fortex-rate tr:first-of-type{
  background: $primary-color;
}

.fortex-rate tr:first-of-type td{
  color: #ffffff !important;
}

.fortex-rate .stock{
  margin-top: 20px;
}

/* Center Section End */

/***** Services Section Start *****/

.section-title.home-title{
  color: $primary-color;
  text-transform: uppercase;
  margin-bottom: 0px;
}
.services-section .outer-custom-container{
  background: #ffffff;
}

.service-item{
  float: left;
  width: 25%;
  text-align: center;
  position: relative;
}

.service-item .image-container{
  height: 125px;
  position: relative;
  margin: auto;
}

.service-item .image-container img{
  width: 100px;
  position: relative;
  top:50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}


.service-item .text-container h2{
  color: #0a67b0;
  font-size: 23px;
  font-weight: 700;
}

.service-hover-container{
  width: 55%;
  margin: auto;
  position: relative;
}

.service-hover-container .curtain-effect{
  opacity: 0;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  position: absolute;
  background: rgba(141, 207, 183, 0.66);
  left: 0;
  right: 0;
  top: 50%;
  margin: auto;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.service-hover-container .curtain-effect a{
  opacity: 0;
  font-size: 16px;
  font-weight: 600;
  background: #ffffff;
  color: $primary-color;
  overflow: hidden;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin: auto;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.service-hover-container:hover .curtain-effect{
  opacity: 1;
  height: 100%;
  width: 100%;
  border-radius: 0;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.service-hover-container:hover .curtain-effect a{
  opacity: 1;
  height: 35px;
  width: 98px;
  padding: 6px 0px;
  border-radius: 0;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

/****** Services Section End ******/


/****** Offers Section Start ******/

.offers-section{
  background: #f3f3f3;
}

.offers-section .offers-item{
  float: left;
  width: 33.33%;
  padding: 10px;
}

.offers-section .offers-image{
  position: relative;
  height: 250px;
  background-size: cover!important;
  background-repeat: no-repeat !important;
  background-position: left !important;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2);
}


/* New offer Start */

.offers-section .offers-image .text-container{
  width: 48%;
  right: -50%;
}

.offers-section .offers-image .image-container{
  width: 49%;
  left: -50%;
}


.offers-image .image-container{
  position: relative;
  float: left;
  text-align: left;
  width: 48%;
  min-height: 100%;
  margin-right: 1%;
  overflow: hidden;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: right center !important;
}

.offers-image .image-container img{
  width: 250px;
  max-height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.offers-image .image-container img.card{
  width: 75%;
  bottom: initial;
  left: 0;
  right: 0;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}


.offers-image .text-container{
  position: relative;
  float: left;
  width: 48%;
  min-height: 100%;
  margin: 0px 1%;
  text-align: center;
}

.offers-image .text-container .text-inner{
  position: absolute;
  bottom: 33px;
}

.offers-image .image-container img{
  max-width: 100%;
}

/* Text Cont Start */
.offers-image .text-container .right-img{
  position: relative;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 12px;
  background: #159051;
}

.offers-image .text-container .right-img img{
  position: absolute;
  width: 35px;
  left: 0;
  right:0;
  margin: auto;
  top:50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.offers-image .text-container .right-text{
  padding-right: 10px;
}

.offers-image .text-container .right-text h1{
  font-size: 30px;
  font-weight: 900;
  color: #0a67b0;
}

.offers-image .text-container .right-text p{
  color: black;
  margin-bottom: 0px;
  font-size: 15px;
}
/*New offer end */
/******* Offers Section End *******/


/******* Home Footer Start ********/

.home-footer .outer-custom-container{
  background: $primary-color;
}

.home-footer .ft-md-2 p{
  color: #fff;
}

.ft-container,.ft-right-container{
  float: left;
}

.ft-container{
  display: inline-block;
  width: 60%;
}

.ft-right-container{
  width: 40%;
  position: relative;
}

.ft-md-1,.ft-md-2{
  float: left;
}

.ft-md-1{
  width: 25%;
  margin-right: 4%;
}

.ft-md-2{
  width: 46%;
}

.ft-image{
  height: 230px;
  width: 100%;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  border: 1px solid #ffffff;
}

.ft-container .ft-md-2{
  color: #ffffff;
}

.ft-container .ft-md-2 h5{
  font-size: 25px;
  font-weight: 600;
  margin-top: 0px;
}

.ft-container .ft-md-2 .ft-view{
  color: #ffffff;
  float: right;
}

.sq-slash ul{
  list-style: none;
}

.sq-slash h5{
  font-weight: 700;
  font-size: 25px;
  color: #159051;
  text-transform: uppercase;
}

.ft-social ul{
  margin-bottom: 0;
}

.ft-social ul li{
  display: inline;
  margin-right: 10px;
  color: black;
}

.ft-contact ul li a{
  color: black;
}

.ft-contact ul li .fa{
  font-size: 18px;
  margin-right: 5px;
}

.ft-social ul li .fa{
  color: $primary-color;
  font-size: 25px;
}

.home-footer .outer-custom-container{
  position: relative;
}

.sq-slash{
  background: #ffffff;
  position: absolute;
  height: 100%;
  width: 470px;
  top:0;
  bottom: 0;
  right: 90px;

  transform: skew(-20deg);
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -ms-transform: skew(-20deg);
  -o-transform: skew(-20deg);


}

.un-sq-slash{
  position: absolute;
  top: 25%;
  left: 90px;
  transform: skew(20deg);
  -webkit-transform: skew(20deg);
  -moz-transform: skew(20deg);
  -ms-transform: skew(20deg);
  -o-transform: skew(20deg);
}

/******** Home Footer End *********/

/* Calculator Start */

.cal-heading h1{
  color: $primary-color;
  font-size: 30px;
  text-transform: capitalize;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 18px;
}

/* Calculator End */

/*---------------- Home Page End ----------------*/








.left-big-contianer{
  float: left;
  width: 70%;
  background: #fff;
  padding: 47px 45px;
  margin-right: 2%;
  min-height: 400px;
}

.right-small-contianer{
  float: left;
  width: 26%;
  background: #ffffff;
}

.section-title .text-container,.section-title .icon-container{
  float: left;
}


/*-------------- Account Page Start -------------*/

.side-scroll-gif{
  width: 100%;
  height: 300px;
  text-align: center;
}

.side-scroll-gif img{
  width: 180px;
  height: auto;
}



.section-title{
  display: inline-block;
  width: 100%;
}

.section-title .icon-container{
  width: 4%;
  margin-right: 1%;
}

.section-title .text-container{
  width: 89%;
}



.side-scroll-heading, .sidebar-item.side-title{
  padding: 18px 20px;
  background: $primary-color;
}

.section-title .text-container h1, .sidebar-title h1{
  font-family: 'Lato', sans-serif;
  font-size: 26px;
  font-weight: 700;
  color: #0b67b1;
  margin: 0;
}

.side-scroll-heading h2,.sidebar-item.side-title span h1{
  font-family: 'Lato', sans-serif;
  font-size: 28px;
  font-weight: 700;
  color: #fff;
  margin: 0;
  text-transform: uppercase;
}



.sidebar-item.side-title span{
  float: none;
  margin: 0;
  display: inline-block;
  top: initial;
  transform:translateY(0);

}


.section-title .icon-container img{
  max-width: 100%;
  height: auto;
}

/* Content Start */

.common-page .section-content{
  padding-left: 76px;
}

.common-page .section-content h2,
.common-page .section-content h4{
  font-size: 22px;
  font-weight: 600;
  color: #0b67b1;
  margin: 20px 0px 15px 0px;
  position: relative;
  display: inline-block;
}

.common-page .section-content ul{
  margin-left: 18px;
  list-style: none;
}

.common-page .section-content ul li{
  position: relative;
}

.common-page .section-content ul li:before{
  content: '';
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: black;
  position: absolute;
  left: -15px;
  top: 7px;
}

.common-page ul.nav-tabs{
  margin-left: 0;
}

.common-page ul.nav-tabs li:not(:last-of-type){
  margin-right: 10px;
}

.common-page ul.nav-tabs li:before{
  content: '';
  height: 0;
  width: 0;
  background: transparent;
}

.common-page ul.nav-tabs li a{
  position: relative;
  border: 0;
  padding: 0;
  color: black;
}

.common-page ul.nav-tabs li.active a,
.common-page ul.nav-tabs li a:hover,
.common-page ul.nav-tabs li a:active,
.common-page ul.nav-tabs li a:focus{
  color: $primary-color;
  border: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.common-page ul.nav-tabs li a:after{
  position: absolute;
  content: '';
  height: 2px;
  width: 0%;
  background: $primary-color;
  bottom: -1px;
  left: 0px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.common-page ul.nav-tabs li.active a:after,
.common-page ul.nav-tabs li a:hover:after{
  content: '';
  width: 100%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/* Content End */


/* Sidebar Start */

.right-small-contianer .sidebar-content{
  overflow: hidden;
}

.sidebar-item{
  width: 100%;
  padding: 10px 20px;
  display: inline-block;
}

.sidebar-item:nth-of-type(even){
  background: #EEEEEE;
}

.sidebar-item a{
  height: 45px;
  width: 100%;
  display: inline-block;
}
.sidebar-item span{
  float: left;
  position: relative;
  top:50%;
  transform: translateY(-50%);
}

.sidebar-item span:first-of-type{
  width: 40px;
  height: 100%;
  margin-right: 15px;
  position:relative;
}


.sidebar-item span:last-of-type{
  width: 75%;
}

.sidebar-item span img{
  width: 100%;
  height: auto;
  position:absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.sidebar-item span img.hover{
  opacity: 0;
}

.sidebar-item a:hover  img.initial{
  opacity: 0;
}

.sidebar-item a:hover  img.hover{
  opacity: 1;
}



.sidebar-item span h1{
  font-size: 16px;
  color: #0b67b1;
  position: relative;
}

.sidebar-item a:hover span h1{
  font-weight: 900;
}



/* Sidebar End */

/*--------------- Account Page End --------------*/


/*--------------- Loan Page Start ---------------*/

/******** List Start *******/

.list-all-page .left-big-contianer{
  margin-right: 0;
  width: 100%;
}

.list-all-page .section-content{
  width: 70%;
  margin-right: 2%;
  float: left;
}

.list-all-page .aside-right{
  width: 28%;
  float: left;
}

.compare-container{
  margin-bottom: 15px;
}

.compare-container img{
  max-width: 100%;
}

.list-all-page .white-back{
  background: #ffffff;
  padding: 47px 45px;
}

.show-all-item{
  display: inline-block;
  width: 100%;
  margin-bottom: 50px;
  &:last-of-type{
    margin-bottom: 0;
  }
}

.show-all-item .image-container{
  float: left;
  width: 5%;
  margin-right: 1%;
}


.section-title .text-container, .show-all-item .text-container{
  width: 94%;
}

.show-all-item .image-container img{
  max-width: 100%;
  height: auto;
}

.banking-page-all .image-container img{
  width: 72%;
}

.banking-page-all .section-title .icon-container img{
  width: 74%;
}

.show-all-item .text-container h3{
  font-size: 22px;
  font-weight: 600;
  color: #0b67b1;
}




.csr-search{
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
}

.csr-search .csr-sr-lab{
  font-weight: 600;
  padding: 0px;
  color: #0b67b1;
}

.csr-search .sr-input{
  float: left;
  width: 300px;
}

.csr-search.sr-btn{
  float:left;
}
.show-all-item .content ul{
  margin-left: 25px;
  list-style: none;
}

.show-all-item .content ul li{
  position: relative;
}

.show-all-item .content ul li:before{
  content: '';
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: black;
  position: absolute;
  left: -20px;
  top: 7px;
}

.show-all-item .show-all-btn{
  display: inline-block;
  float: right;
  margin-top: 40px;
}

.show-all-item .show-all-btn a{
  display: inline-block;
  width: 160px;
  font-size: 16px;
  padding: 4px 0px;
  border: 1px solid #159051;
  color: #159051;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.show-all-item .show-all-btn a:hover,
.show-all-item .show-all-btn a:focus,
.show-all-item .show-all-btn a:active{
  background: $primary-color;
  color: #ffffff;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.show-all-item .show-all-btn span:first-of-type{
  margin-right: 10px;
}




/********* List End ********/

/******* Detail Start ******/

.rate-section{
  margin-top: 20px;
}

.rate-section table{
  width: 420px;
  margin: 0;
}

.rate-section table td{
  text-align: left;
  padding: 5px 0px;
  border-top: 0;
  font-size: 16px;
}

.rate-section table td:first-of-type{
  font-weight: 600;
}

.rate-section table tr{
  background: transparent;
}

.rate-section table tr td{
  border-right: 0 !important;
  padding-left: 0 !important;
}
/******** Detail End *******/

/*---------------- Loan Page End ----------------*/


/*--------------- Rates Page Start --------------*/

/* Table Start */

.second-lvl-tab .nav-tabs li{
  margin-right: 15px;
}

.second-lvl-tab .nav-tabs a,
.second-lvl-tab .nav-tabs li.active a{
  font-size: 15px;
  text-transform: capitalize;
}
/* Table End */
/*--------------- Rates Page End ----------------*/


/*------------- Banking Page Start --------------*/

.banking-detail-page .nav-tabs{
  margin: 20px 0px 15px 0px;
}

.banking-detail-page .tab-content ul{
  margin-left: 25px !important;
}

/*-------------- Banking Page End ---------------*/


/*-------------- Team Page Start ----------------*/

.team-page .bannerSlider .bannerItem a:hover,
.team-page .bannerSlider .bannerItem a:focus,
.team-page .bannerSlider .bannerItem a:active{
  background: #ffffff;
}

.team-member-panel{
  margin-top: 95px;
}

.team-col{
  border: 1px solid #159051;
  position: relative;
  height: 225px;
  margin-bottom: 100px;
}

.team-members .name{
  position: absolute;
  top:70px;
  text-align: center;
  width: 100%;
  padding: 0px 12px;
}

.team-members .name h4{
  font-weight: 600;
  color: black;
  font-size: 18px;
  letter-spacing: 0.02em;
  margin-bottom: 0px;
}

.team-page .team-more{
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  text-align: center;
}

.team-page .team-more a{
  color: #159051;
  font-weight: 600;
  border: 1px solid #159051;
  padding: 6px 10px;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.team-page .team-more a:hover,
.team-page .team-more a:focus,
.team-page .team-more a:active{
  background: $primary-color;
  color: #ffffff;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.team-page table tr{
  background: none;
}

.team-page table tr td{
  border-right: 0 !important;
}

.team-page table tr td:first-of-type{
  width: 25%;
  font-weight: 600;
}

.team-page .team-members .team-img{
  position: absolute;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border: 1px solid #159051;
  background: #e0e5d6;
  background-position: center !important;
  background-size: cover !important;
  left: 0;
  right: 0;
  margin: auto;
  top: -62px;
}
/*--------------- Team Page End -----------------*/


/*--------- Report & Overall Page Start ---------*/

.overall-page .content ul li a{
  color: black;
}

/*---------- Report & Overall Page End ----------*/


/*-------------- Blog Page Start ----------------*/

.blog-detail-page .show-all-item .content img{
  max-width: 100%;
}

.blog-list-page .bannerSlider .bannerItem{
  background-position: top !important;
}

.blog-list-page .bannerSlider .bannerItem a:hover,
.blog-list-page .bannerSlider .bannerItem a:focus,
.blog-list-page .bannerSlider .bannerItem a:active{
  background: #ffffff;
}


.blog-list-page .content,
.blog-detail-page .content{
  padding-left: 0px;
  margin-top: 15px;
}

.blog-list-page .blog-image,
.blog-detail-page .blog-image{
  height: 550px;
  margin-bottom: 25px;
  background-size: cover !important;
  background-repeat: no-repeat;
  background-position: top;
}

.blog-list-page .date,
.blog-detail-page .date,
.csr-page  .date{
  margin-top: 0;
  height: 32px;
  font-size: 16px;
  font-weight: 600;
}

.blog-list-page .date p,
.blog-detail-page .date p,
.csr-page  .date p{
  font-weight: 600;
}

.blog-list-page .date i,
.blog-detail-page .date i,
.csr-page  .date i{
  width: 22px;
  margin-right: 5px;
}

.blog-list-page .date .fa,
.blog-detail-page .date .fa,
.csr-page .fa{
  font-size: 20px;
}

.blog-list-page .date .fa,
.blog-list-page .date p,
.blog-detail-page .date .fa,
.blog-detail-page .date p,
.csr-page .date .fa,
.csr-page .date p{
  float: left;
  color: #159051;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.blog-list-page .sidebar-item .fa,
.blog-detail-page .sidebar-item .fa
{
  font-size: 30px;
  color: $primary-color;
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

.blog-list-page .sidebar-item:hover .fa,
.blog-detail-page .sidebar-item:hover .fa
{
  color: #159051;
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
}

.blog-detail-page .side-title span,.blog-list-page .side-title span{
  width: 100% !important;
}

.blog-detail-page .bannerItem{
  position: relative;
}

.blog-detail-page .banner-content{
  width: 550px;
  position: absolute;
  left: 55px;
  bottom: 40px;
}

.blog-detail-page .bannerSlider .bannerItem{
  background-position: center !important;
}

.blog-detail-page .bannerSlider .bannerItem a{
  position: relative;
  bottom: initial;
  left: initial;
  right: 0;
  margin-top: 10px;
}

.blog-detail-page .banner-content h1{
  color: #ffffff;
  font-size: 28px;
  margin-bottom: 30px;
}

.blog-detail-page .bannerSlider .bannerItem a:hover,
.blog-detail-page .bannerSlider .bannerItem a:focus,
.blog-detail-page .bannerSlider .bannerItem a:active{
  background: #ffffff;
}
/*--------------- Blog Page End -----------------*/

/*--------------- Csr Page Start ----------------*/

.csr-page .date{
  margin-bottom: 15px;
}

.csr-page .content img{
  margin: 10px 0px;
  max-width: 100%;
}

.csr-page .show-all-item .text-container{
  width: 100% !important;
}

/*---------------- Csr Page End -----------------*/


/*-------------- ABSA Page Start ----------------*/

.asba-page .content img{
  width: 400px;
  max-width: 100%;
  height: auto;
}

.asba-page .show-all-item .show-all-btn{
  float: left;
}

/*--------------- ABSA Page End -----------------*/


/*------------- Branch Page Start ---------------*/

.branch-page .branch-map #map{
  height: 400px;
  margin-bottom: 30px;
}

.branch-page .left-big-contianer .nav-tabs {
  margin-bottom: 20px;
}

.branch-item{
  width: 33.33%;
  height: 240px;
  float: left;
  padding: 10px;
}



.banner-border{
  position: relative;
  height: 100%;
  width: 100%;
  border: 1px solid #e1e1e1;
  padding: 40px 20px;
}

.branch-item .image{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 1px solid #e1e1e1;
  background: #e1e1e1;
  background-size: cover!important;
  background-position:  center !important;
  background-repeat: no-repeat !important;

  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: -66px;
}

.branch-item .name{
  width: 100%;
  text-align: center;
}


.branch-item .name h2:first-of-type{
  font-weight: 600;
  color: black;
  font-size: 18px;
  letter-spacing: 0.02em;
}

.branch-item .name h2:nth-of-type(2){
  font-size: 16px;
  font-weight: 400;
  margin-top: 8px;
}

.branch-item .contact{
  display: inline-block;
  width: 100%;
  position: absolute;
  bottom: 30px;
  text-align: center;
}

.branch-item .phone-email{
  width: 70%;
  margin: auto;
  text-align: center;
}

.branch-item .phone-number{
  margin-right: 10px;
}

.branch-item .phone-number span, .branch-item .email span{
  margin-left: 8px;
}

.branch-page #atm .branch-item{

}

.branch-page #corporate h2{
  font-family: 'Lato', sans-serif;
  font-size: 28px;
  font-weight: 700;
  color: #0b67b1;
  margin: 40px 0px 15px 0px;
}
.branch-page #corporate ul{
  list-style: none;
}


/*-------------- Branch Page End ----------------*/


/*--------------- FAQ Page Start ----------------*/


/* Panel Start */
.faq-page .panel-default{
  border-color: transparent;
  border-bottom:  none !important;
}

.faq-page .panel-body{
  border-color: transparent !important;
  border: none !important;
  border-bottom:none !important;
  color: black !important;
}

.faq-page .panel-group .panel{
  margin-bottom: 5px;
}

.faq-page .panel-title a{
  font-weight: 400;
  color: $primary-color;
}

.faq-page .panel-title a .fa{
  margin-right: 10px;
}
/* Panel End */

/* Side Bar Start*/
.faq-page .aside-right .sidebar-item .fa{
  font-size: 28px;
  color: $primary-color;
}

.faq-page .aside-right .sidebar-item .fa{
  font-size: 28px;
  color: $primary-color;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.faq-page .aside-right .sidebar-item a:hover .fa{
  color: $primary-color;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

/*---------------- FAQ Page End -----------------*/


/*-------------- Card Page Start ----------------*/

.card-page-all .branchless ul{
  margin-left: 20px;
}

/*--------------- Card Page End -----------------*/


/*------------- Advisory Note Start -------------*/

.advisory-page .feedback-gq .image-container{
  height: 512px;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.advisory-page .feedback-gq .image-container img{
  position: absolute;
  width: 38%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.advisory-page .feedback-gq .form-contianer .btn{
  width: 120px;
  color: $primary-color;
  background: #fff;
  border-color: $primary-color;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;

}

.advisory-page .feedback-gq .form-contianer .btn:hover,
.advisory-page .feedback-gq .form-contianer .btn:active{
  background: $primary-color;
  color: #fff;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}


/*-------------- Advisory Note End --------------*/


/*-------------- Branch Page Start --------------*/

.emergency-calls{
  margin-bottom: 30px;
}
.product1{
  height: 300px;
  width: 100%;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  margin-bottom: 30px;
}

.caption{
  text-align: center;
}

.position{
  color: #fff;
  position: absolute;
  z-index: 1;
  bottom: 14px;
  width: 100%;
  -webkit-transition: all .4s ease-in-out;
}


.dark-image{
  transform: skewY(-10deg);
  -webkit-transform: skewY(-10deg);

  position: absolute;
  background-color: #4a9c85;
  position: absolute;
  bottom: -53px;
  opacity: 0.6;
  -webkit-transition: all .4s ease-in-out;
  height: 230px;
  width: 100%;

}

.branch-tabs .tab-content{
  padding-top: 30px;
}
.branchless p, .branchless ul li{
  width: 80%;
  line-height: 2;
}
/*--------------- Branch Page End ---------------*/

/*-------------- Side Menu Start ----------------*/

.ci-side-menu{
  z-index: 5;
  right: -155px;
  width: 208px;
  background: $primary-color;
  padding: 10px 0px 5px 0px;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);

  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.ci-side-menu.dim{
  opacity: 0;
}

.ci-side-menu:hover{
  opacity: 1;
  right: 0;

  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.ci-side-menu ul{
  list-style: none;
  margin-bottom: 0;
}

.ci-side-menu ul li{
  display: inline-block;
  width: 100%;
  padding: 5px 5px;
  margin-bottom: 0;
  background: $primary-color;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.ci-side-menu ul li:hover{
  background: #76af9a;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.ci-side-menu ul li:last-of-type{
  margin-bottom: 0;
}

.ci-side-menu ul li div{
  float: left;
}
.ci-side-menu ul li div:first-of-type{
  width: 45px;
  text-align: center;
  margin-right: 8px;
}

.ci-side-menu ul li div:nth-of-type(2){
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: #0b67b1;
}

.ci-side-menu .fa{
  font-size: 28px;
  color: #0b67b1;
}

.ci-side-menu li img{
  width: 22px;
  height: auto;
}

/*--------------- Side Menu End -----------------*/



/*------------- Bottom Footer Start -------------*/



/* Top footer start */

.top-footer{
  border-bottom: 1px solid #eee;
}


.top-footer .footer-custom-container{
  display: inline-block;
  width: 100%;
}


.footer-nav-block{
  float: left;
  width: 20%;
}

.footer-nav-block h1{
  font-size: 16px;
  color: #159051;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.footer-nav-block ul{
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}

.footer-nav-block ul li{
  margin-bottom: 0;
  font-size: 14px;
  margin-bottom: 3px;
}

.footer-nav-block ul li a{
  color: black;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.footer-nav-block ul li a:hover{
  color: #159051;
  font-weight: 900;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
/* Top footer End */


/* Bottom footer start */
#footer-wrapper .bottom-footer{
  padding: 20px 0px 15px 0px;
  background: $primary-color;
}

#footer-wrapper .text{
  display: inline-block;
  color: #fff;
}

#footer-wrapper .bf-social{
  float: right;
  margin-top: -8px;
  margin-right: 60px;
}

#footer-wrapper .bf-social ul{
  margin-bottom: 0;
}

#footer-wrapper .bf-social ul li{
  margin-left: 8px;
  list-style: none;
  display: inline-block;
  height: 30px;
  width: 30px;
  border: 1px solid $primary-color;
  border-radius: 50%;
  position: relative;
  text-align: center;
  background: #ffffff;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}

#footer-wrapper .bf-social ul li .fa{
  color: #fff;
  position: relative;
  top: 38%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}

#footer-wrapper .bf-social ul li.fb:hover,
#footer-wrapper .bf-social ul li.tw:hover,
#footer-wrapper .bf-social ul li.ln:hover,
#footer-wrapper .bf-social ul li.in:hover{
  background: #fff;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}

#footer-wrapper .bf-social ul li.fb{
  background: #4267b2;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}

#footer-wrapper .bf-social ul li.fb:hover .fa{
  color: #4267b2;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}


#footer-wrapper .bf-social ul li.tw{
  background: #2caae1;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}
#footer-wrapper .bf-social ul li.tw:hover .fa{
  color: #2caae1;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}


#footer-wrapper .bf-social ul li.ln{
  background: #007bb6;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}
#footer-wrapper .bf-social ul li.ln:hover .fa{
  color: #007bb6;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}



#footer-wrapper .bf-social ul li.in{
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  box-shadow: 0px 3px 10px rgba(0,0,0,.25);
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}
#footer-wrapper .bf-social ul li.in:hover .fa{
  color: #d6249f;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}


/* bottom footer end */
/*-------------- Bottom Footer End --------------*/


/*----------------- Mcustom Start ---------------*/

.mCSB_scrollTools .mCSB_dragger{
  z-index: 0 !important;
}

.mCSB_inside .mCSB_container{
  margin-right: 8px;
}

.mCSB_scrollTools{
  opacity: 1;
  width: 8px !important;
}

.mCSB_draggerContainer{
  width: 8px !important;
}
.mCSB_draggerRail{
  width: 8px !important;
  background: #eee;
}

.mCSB_dragger{

  height: 80px !important;
}

.mCSB_dragger_bar{
  width: 8px !important;
  line-height: 80px;
  margin: 0px;
  background: $primary-color  !important;
}

/*------------------ Mcustom End ----------------*/


/*------------ Feedback Page Start --------------*/

.advisory-page .dept-tabs .dropdown-menu li{
  height: auto;
  min-width: 200px;
  padding: 0px 8px;
  margin-bottom: 2px;
}

.advisory-page .dept-tabs .dropdown-menu li a{
  font-size: 16px;
  font-weight: 600;
}

.advisory-page .dept-tabs .dropdown-menu li a:after{
  content: '';
  border-bottom: 2px solid transparent;
}

.advisory-page .dept-tabs .nav-tabs  li.dropdown.active ul li a{
  color: black !important;
}

.advisory-page .dept-tabs .nav-tabs  li.dropdown.active ul li.active a{
  color: $primary-color  !important;
}

.advisory-page .ci-dep-container{
  display: inline-block;
  width: 100%;
}

.advisory-page .ci-dep-lbl{
  float: left;
  width: 40%;
  color: $primary-color;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

.advisory-page .ci-dep-sel{
  float: left;
  width: 60%;
}

.advisory-page .ci-dep-sel select{
  border: 1px solid $primary-color;
  padding: 6px 12px;
  width: 100%;
}
/*-------------- Feedback Page End --------------*/



/*--------------- Modal Css Start ---------------*/


#modal_vanancies .modal-body{
  padding: 0px 20px 26px 20px;
}


.modal-header{
  border-bottom: none;
}

.modal-header button{
  opacity: 1;
}
#modal_vanancies .section .title h1{
  font-size: 35px;
  font-weight: 900;
  color: #0a67b0;
  text-align: center;
  margin-bottom: 26px;
}

#modal_vanancies .section .content h3{
  font-size: 22px;
  font-weight: 700;
  color: #0a67b0;
  margin-bottom: 6px;
}

#modal_vanancies .section .content .vacancy-item:not(:last-of-type){
  margin-bottom: 28px;
}

#modal_vanancies .section .content .vacancy-item a{
  width: 120px;
  color: #159051;
  background: transparent;
  border-color: #159051;
  margin-top: 10px;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}

#modal_vanancies .section .content .vacancy-item a:hover,
#modal_vanancies .section .content .vacancy-item a:focus,
#modal_vanancies .section .content .vacancy-item a:active{
  background: $primary-color;
  color: #fff;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}


/* Co-modal Start */

.co-new-modal .modal-dialog {
  width: 800px;
  max-width: 100%;
}

.co-new-modal .modal-content{
  position: relative;
  background: black;
  border-radius: 0px;
}

.co-new-modal .modal-content button{
  z-index: 1;
  position: absolute;
  top: 10px;
  right: 16px;
  opacity: 1;
  color: #fff;
}


.co-new-modal .modal-content .modal-title{
  position: relative;
  padding: 0px 14px 16px 14px;
}

.co-new-modal .modal-content .modal-title:after {
  content: '';
  height: 2px;
  width: 100%;
  background: #e1e1e1;
  position: absolute;
  bottom: 0px;
  left: 0;
}

.co-new-modal .modal-content p,
.co-new-modal .modal-content h1,
.co-new-modal .modal-content h2,
.co-new-modal .modal-content h3{
  color: #fff;
}

.co-new-modal .modal-content .modal-title h1{
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 6px;
}

.co-new-modal .modal-content .modal-title h2{
  font-size: 16px;
  font-weight: 300;
  opacity: .9;
}


.co-new-modal .modal-content .modal-content {
  padding: 24px 14px 0px 14px;
}

.co-new-modal .modal-content .modal-content .block-container{
  display: inline-block;
  width: 100%;
}

.co-new-modal .modal-content .modal-content .block-container .left-block{
  float: left;
  width: 30%;
}

.co-new-modal .modal-content .modal-content .block-container .right-block{
  float: left;
  width: 68%;
  margin-left: 2%;
}

.co-new-modal .modal-content .modal-content .block-container .left-block img{
  max-width: 100%;
  height: auto;
}


.co-new-modal .modal-content .modal-content .block-container .right-block h3{
  font-size: 16px;
  font-weight: 300;
  opacity: .9;
}
.co-new-modal .modal-content .modal-content .block-container .right-block p{
  font-size: 15px;
  font-weight: 300;
  line-height: normal;
  opacity: .9;
}

.co-new-modal .modal-content .modal-content .block-container .right-block p:last-of-type{
  margin-bottom: 0px;
}

.co-new-modal .modal-content .modal-content .modal-social ul{
  list-style: none;
  margin-top: 20px;
  margin-bottom: 0px;
}

.co-new-modal .modal-content .modal-content .modal-social ul li{
  list-style: none;
  display: inline-block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  position: relative;
  text-align: center;
  background: #4267b2;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}

.co-new-modal .modal-content .modal-content .modal-social ul li .fa{
  color: #fff;
  position: relative;
  top: 40%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}


.co-new-modal .modal-content .modal-content .modal-social ul li:hover{
  background: #fff;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}

.co-new-modal .modal-content .modal-content .modal-social ul li:hover .fa{
  color: #4267b2;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}
/* Co-modal Ends */
/*---------------- Modal Css End ----------------*/

.rates-page.list-all-page .calculator-new{
  max-width: 880px;
  margin: auto;
}

.rates-page.list-all-page .calculator-new .section-title{
  height: auto;
}
.rates-page.list-all-page .calculator-new .section-title h1{
  text-align: center;
  font-size: 27px;
  text-transform: capitalize;
  color: #159051;
  font-family: raleway;
}

.rates-page.list-all-page .calculator-new .section-content{
  margin: 0px;
  width: 100%;
}

.rates-page.list-all-page .calculator-new .section-content .calculator-block:not(:last-of-type){
  margin-bottom: 20px;
}

.rates-page.list-all-page .calculator-new .section-content .calculator-block{
  background: rgb(243, 243, 243);
  padding: 26px 30px;
  margin-bottom: 12px;
}

.rates-page.list-all-page .calculator-new .section-content select{
  border-radius: 0px;
  border: 1px solid rgba(175, 173, 173, 0.48);
  border-bottom: 2px solid rgba(175, 173, 173, 0.48);
}

.rates-page.list-all-page .calculator-new .section-content h4{
  font-size: 25px;
  color: #656565;
  margin-bottom: 12px;
  margin-top: 0px;
}

.rates-page.list-all-page .calculator-new .section-content .cal-2nd-row h4{
  text-align: center;
  width: 100%;
}
.rates-page.list-all-page .calculator-new .section-content .amt-contianer{
  width: 100%;
  display: inline-block;
  text-align: center;
}

.rates-page.list-all-page .calculator-new .section-content .cal-amount input{
  margin-left: 10px;
}

.rates-page.list-all-page .calculator-new .section-content .cal-term input{
  margin-right: 10px;
  width: 34px;
}

.rates-page.list-all-page .calculator-new .calculated-result-box-container{
  margin-left: 3px;
  margin-right: -15px;
  display: inline-block;
  width: 100%;
  margin-top: 6px;
}
.rates-page.list-all-page .calculator-new .calculated-result-box-container .calculator-result-box{
  float: left;
  margin: 10px 15px;
  width: calc(33.33% - 30px);
  padding: 18px 10px;
  border: 1px solid rgb(228, 226, 226);
}


.rates-page.list-all-page.emi-page .calculator-new .calculated-result-box-container .calculator-result-box{
  float: none;
  margin: auto;
}

.rates-page.list-all-page .calculator-new .calculated-result-box-container .calculator-result-box h1{
  font-size: 14px;
  text-align: center;
  /*color: #159051;*/
  font-weight: 600;
}

.rates-page.list-all-page .calculator-new .calculated-result-box-container .calculator-result-box .box-title h1{
  color: #159051;
}
.rates-page.list-all-page .calculator-new .calculated-result-box-container .calculator-result-box p{
  text-align: center;
  font-size: 24px;
  margin: 12px 0px;
  color: #656565;
}

.emi-link-div{
  margin: 30px 20px;
}
.emi-link-div a{
  font-size: 16px;
  text-align: center;
  color: #0a67b0;
  font-weight: 600;
}

.emi-link-div a .fa{
  color: #159051;
  margin-right: 10px;
}

/* Chief Information Officer Page Starts */

.chief-page .left-big-contianer{
  width: 100% !important;
  margin: 0px !important;
}

.chief-page .section-content{
  margin: 0px
}

.chief-page .chief-info-block{
  display: inline-block;
  width: 100%;
}

.chief-page .chief-info-block .image-container{
  float: left;
  width: 34%;
}

.chief-page .chief-info-block .text-container{
  float: left;
  margin-left: 2%;
  width: 64%;
}


.chief-page .chief-info-block .image-container img{
  max-width: 100%;
  height: auto;
}
.chief-page .chief-info-block .text-container h1:nth-of-type(1){
  font-weight: bold;
  font-size: 25px;
  color: #0b67b1;
}

.chief-page .chief-info-block .text-container h1:nth-of-type(2){
  font-size: 16px;
  margin-bottom: 20px;
  font-weight: 700;
}
/* Chief Information Officer Page Ends */

.form-group input, .form-group textarea{
  border-radius: 0;
  border-color: $primary-color  ;
}

.form-group.has-error select{
  border-color: #a94442;
}


.form-group.has-error file{
  border-radius: 0;
  border-color: $primary-color  ;
}


/* Page with sidebar starts */

.page-with-side-bar .page-with-side-header h2{
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 26px;
  color: #0b67b1;
}

.page-with-side-bar .nav-tabs{
  padding-right: 40px;
}

.page-with-side-bar .nav-tabs li{
  display: block;
  width: 100%;
  margin: 0px;
}

.page-with-side-bar .nav-tabs li a{
  font-size: 18px;
  display:block;
  border: 0px;
  padding: 4px 0px;
  color: #818285;
}

.page-with-side-bar .nav-tabs li a:focus,
.page-with-side-bar .nav-tabs li a:hover,
.page-with-side-bar .nav-tabs li a:active{
  border: none;
}

.page-with-side-bar .nav-tabs li ul{
  z-index: 0;
  position: relative;
  display: block;
  width: 100%;
  border: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;

  border-radius: 0px;
  padding: 0 20px;
  background: #ddf2ec;
  overflow: hidden;
  max-height: 0px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.page-with-side-bar .nav-tabs li.open ul{
  max-height: 800px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.page-with-side-bar .nav-tabs li ul a{
  white-space: normal;
}
.page-with-side-bar .nav-tabs li ul li{
  margin-bottom: 0px;
}

.page-with-side-bar .nav-tabs li.active > a,
.page-with-side-bar .nav-tabs li a:hover{
  color: #159051 ;
}
/* Page with sidebar starts */



/* Co Tab Container Starts */
.co-tab-container .nav-tabs li a,
.co-tab-container .nav-tabs li.active a,
.co-tab-container .nav-tabs li:active a,
.co-tab-container .nav-tabs li:focus a{
  border: 0px;
}

.co-tab-container .nav-tabs li:not(:last-of-type){
  margin-right: 20px;
}

.co-tab-container .nav-tabs li a{
  position: relative;
  display: inline-block;
  margin-top: 20px;
  padding: 0px;
  text-transform: uppercase;
  color: black;
  font-weight: 600;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.co-tab-container .nav-tabs li a:hover,
.co-tab-container .nav-tabs li.active a{
  color: #159051 ;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.co-tab-container .nav-tabs li a:after{
  position: absolute;
  content: '';
  height: 2px;
  width: 0%;
  background: #159051 ;
  bottom: -1px;
  left: 0px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.co-tab-container .nav-tabs li a:hover:after,
.co-tab-container .nav-tabs li.active a:after{
  content: '';
  width: 100%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/* Co Tab Container Ends */



/*------------ Contact Page Starts --------------*/

.contact-page .captcha-contianer{
  display: inline-block;
  width: 100%;
}

.contact-page .captcha-contianer .g-recaptcha{
  float: right;
}
/*-------------- Contact Page End ---------------*/


/*---------- Online service Page Starts ---------*/
.button-same-level-page .show-all-item .title{
  float: left;
  width: 50%;
}

.button-same-level-page .show-all-item .text-container{
  top: 0;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}

.button-same-level-page .show-all-item .show-all-btn{
  float:right;
  margin-top: 0;
}
/*----------- Online service Page Ends ----------*/


/*--------------- Component Start ---------------*/

.co-site-accordian-container .panel{
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-top: 0;
}

.co-site-accordian-container .panel:not(:last-of-type){
  margin-bottom: 12px;
}

.co-site-accordian-container .panel-heading{
  color: #fff;
  background-color: $primary-color;
  border-color: $primary-color;
  border-radius: 0;
  padding: 0;
}

.co-site-accordian-container .panel-heading a{
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  display: block;
  padding: 10px 15px;

}

.co-site-accordian-container .panel-body{
  padding: 0;
}

.co-site-accordian-container .panel-body table{
  margin-bottom: 0;
}

.co-site-accordian-container .panel-body table tr th,
.co-site-accordian-container .panel-body table tr td{
  border-right: 0 !important;
}

.co-site-accordian-container .panel-body table tr th{
  border-bottom: 2px solid #0000005e !important;
  padding: 6px 0;
  background: #fff;
  color: black !important;
}


.co-site-accordian-container .panel-body table tr:not(:last-of-type){
  padding: 10px !important;
  border-bottom: 1px solid #e9e9e9 !important;
}
/*---------------- Component Ends ---------------*/






/*------------------------------- Online Account Form Starts ------------------------------------*/

.online-account-form-page .section-title .icon-container{
  max-width: 45px;
}
.online-account-form-page ol li{
  font-size: 16px;
}
/*------------- Main Spacing Starts ------------*/
.online-account-form-page .first-allow-round .form-group,
.online-account-form-page .first-allow-round .styled-select.slate{
  margin-bottom: 10px;
}
.online-account-form-page .no-padding{
  padding-left: 0px;
  padding-right: 0px;
  /*padding: 8px 0px;*/
}
.online-account-form-page .no-padding_left{
  padding-left: 0px
}
.online-account-form-page .no-padding_right{
  padding-right: 0px
}
.online-account-form-page .toppad{
  margin-top:20px;
}
/*----- Spacing Start -----*/
.online-account-form-page label{
  margin-bottom: 10px;
}
.online-account-form-page .step_header{
  margin: 0 0px 30px;
}
.online-account-form-page .step_header h4{
  font-weight: bold;
  margin-top: 0;
}
.online-account-form-page .step_header h3{
  margin: 0px;
  font-weight: bold;
}
.online-account-form-page .step_next_btn{
  margin-top: 40px
}
.online-account-form-page input,
.online-account-form-page select{
  margin-bottom: 10px;
  margin-right:5px;
}
.online-account-form-page .radio-margin-bottom{
  margin-bottom: 10px;
}
.online-account-form-page .form-border-top{
  border-top: 1px solid #eee;
}
.online-account-form-page .form_border{
  margin-top: 20px;
  margin-bottom: 20px;
}
.online-account-form-page .form_border label{
  margin-bottom: 0px
}
.online-account-form-page .border_space_bottom{
  margin-top: 5px;
}
.online-account-form-page .radio-contianer input{
  margin-right: 8px;
}
.online-account-form-page .radio-option{
  margin-right: 15px;
  float: left;
}
/*------ Spacing Ends -----*/
/*-------------- Main Spacing Ends -------------*/


/*--------------- Header Starts ----------------*/
.online-account-form-page .dept-tabs {
  padding-top: 0px;
}
.online-account-form-page .stepwizard-row {
  display: table-row;
}
.online-account-form-page .stepwizard {
  display: table;
  width: 100%;
  position: relative;
  margin: 20px 0 0px;
}
.online-account-form-page .stepwizard-step button[disabled] {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}
.online-account-form-page .stepwizard-row:before {
  top: 14px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 100%;
  height: 1px;
  background-color: #ccc;
}
.online-account-form-page .stepwizard-step {
  display: table-cell;
  text-align: center;
  position: relative;
  width: 20%;
}
.online-account-form-page .btn-circle {
  opacity:1;
  width: 35px;
  height: 35px;
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
  line-height: 1em;
  border-radius: 100%;
  font-weight: bold;
  position: relative;
}
.online-account-form-page .stepwizard-step p {
  margin-top: 10px;
  font-weight: bold;
}

.online-account-form-page .refrence-code{
  margin: 20px 0px;
  text-align: center;
  background: #eee;
  padding: 8px 0 2px;
}

/*---------------- Header Ends -----------------*/


/*---------------- Title Starts ----------------*/
.online-account-form-page .account-repete-header h3{
  font-weight: bold;
  text-transform: uppercase;
}
/*----------------- Title Ends -----------------*/


/*-------------- Input Field Starts ------------*/
.online-account-form-page .ui-datepicker-calendar{
  background: #fff;
}
.online-account-form-page input[type=text]{
  text-transform: uppercase;
}
.online-account-form-page input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  cursor:pointer;
  display:block;
  width:8px;
  color: #333;
  text-align:center;
  position:relative;
}
.online-account-form-page input[type=number]::-webkit-inner-spin-button:before,
.online-account-form-page input[type=number]::-webkit-inner-spin-button:after {
  content: "^";
  position:absolute;
  right: 0;
  font-family:monospace;
}
.online-account-form-page input[type=number]::-webkit-inner-spin-button:before {
  top:0px;
}
.online-account-form-page input[type=number]::-webkit-inner-spin-button:after {
  bottom:0px;
  -webkit-transform: rotate(180deg);
}
.online-account-form-page .styled-select.slate {
  height: 33px;
  width: 100%;
  border-color: $primary-color;
}
/*--------------- Input Field Ends -------------*/

/*----------------- Tel Starts -----------------*/
.online-account-form-page #tel_dir_change{
  position: relative;
}
.online-account-form-page #tel_dir_change:after {
  content: '+977+';
  position: absolute;
  height: 32px;
  width: 64px;
  background: #159051;
  left: 0;
  bottom: 1px;
  padding: 7px 6px;
  color: #fff;
}
.online-account-form-page #tel_dir_change input{
  padding-left: 74px;
}
.online-account-form-page #number-pre-sec{
  position: relative;
}
.online-account-form-page #number-pre-sec:after {
  content: '+977+';
  position: absolute;
  height: 34px;
  width: 64px;
  background: #159051;
  left: 0;
  bottom: 10px;
  padding: 7px 6px;
  color: #fff;
}
.online-account-form-page #number-pre-sec input{
  padding-left: 74px;
}
.online-account-form-page #number-pre{
  position: relative;
}
.online-account-form-page #tel_dir_change{
  position: relative;
}
.online-account-form-page #tel_dir_change:after {
  content: '+977+';
  position: absolute;
  height: 32px;
  width: 64px;
  background: #159051;
  left: 0;
  bottom: 1px;
  padding: 7px 6px;
  color: #fff;
}
.online-account-form-page #tel_dir_change input{
  padding-left: 74px;
}
.online-account-form-page #number-pre-sec{
  position: relative;
}
.online-account-form-page #number-pre-sec:after {
  content: '+977+';
  position: absolute;
  height: 32px;
  width: 64px;
  background: #159051;
  left: 0;
  bottom: 11px;
  padding: 7px 6px;
  color: #fff;
}
.online-account-form-page #number-pre-sec input{
  padding-left: 74px;
}
.online-account-form-page #number-pre{
  position: relative;
}
.online-account-form-page #number-pre:after{
  /*content: '+977+01+';*/
  position: absolute;
  height: 32px;
  width: 64px;
  background: #159051;
  left: 0;
  bottom: 11px;
  padding: 7px 6px;
  color: #fff;
}
.online-account-form-page #number-pre input{
  padding-left: 90px;
}
/*------------------- Tel End ------------------*/


/*---------------- Table Starts ----------------*/
.table-user-information > tbody > tr {
  border-top: 1px solid rgb(221, 221, 221);
}
.table-user-information > tbody > tr:first-child {
  border-top: 0;
}
.table-user-information > tbody > tr > td {
  border-top: 0;
}
/*----------------- Table Ends -----------------*/



/*-------------- 1st Step Starts ---------------*/
.added_account_item{
  border-top: 2px solid #eee;
}
.online-account-form-page #step-1 .step-1-account-header h3{
  margin-bottom: 25px;
  font-weight: bold;
}
.online-account-form-page #step-1 .step-1-account-name{
  margin-left: -10px;
}
.online-account-form-page .all-round-border{
  padding-top: 20px;
  padding-bottom: 20px;
}
.online-account-form-page .all-round-border:not(:last-of-type){
  border-bottom: 1px solid #ccc;
}
/*.online-account-form-page .middle_section{
    border-bottom: 1px solid #eee;
}*/
.online-account-form-page .check_options input{
  margin-right: 5px
}
.all-round-border .col-sm-6 .check_options .form-group{
  display: inline-block;
  width: 100%;
  vertical-align: top;
}
.online-account-form-page #step-1 .styled-select.slate{
  width: 100%;
}
.online-account-form-page .next-button-new{
  margin-top: 40px;
}


/*--------------- 1st Step Ends ----------------*/

/*-------------- 2nd Step Starts ---------------*/
.online-account-form-page .second_list_signature input{
  width: 190px
}
.online-account-form-page .signature_content{
  display: inline-block;
  float: right;
  margin-top: 30px;
}
.online-account-form-page .radio-four input{
  margin-right: 10px;
}
.online-account-form-page .step_two_radio{
  margin-bottom: 10px;
}
/*--------------- 2nd Step Ends ----------------*/

/*-------------- 3rd Step Starts ---------------*/
.online-account-form-page .general_rules_top ol{
  padding-left: 20px;
}
.online-account-form-page .rules_title{
  font-weight: bold;
  padding-left: 21px;
}
/*--------------- 3rd Step Ends ----------------*/

/*-------------- 4th Step Starts ---------------*/
.online-account-form-page .check_additional{
  margin-left: 34px;
}
.online-account-form-page .services_container_4 ul{
  list-style: none;
  padding-left: 0px;
}
.online-account-form-page .service_item .check_label{
  margin-left: 20px
}
.online-account-form-page .service_internet .check_label{
  margin-left: 0px
}
.online-account-form-page .service_internet{
  margin-left: 33px
}
.online-account-form-page .service_item{
  display: inline-block;
  margin-top: 5px;
}
.online-account-form-page .rights-item{
  display: inline-block;
  margin-right: 20px;
  margin-top: 7px;
}
.online-account-form-page .rights-item .check_box{
  margin-right: 8px;
}
.online-account-form-page .service_item .check_box,.service_item .check_label{
  float: left;
}
.online-account-form-page .service_item .check_label label{
  margin-bottom: 0px
}
.online-account-form-page .service_item .check_label span{
  display: block;
}
.online-account-form-page .service_internet .check_additional{
  margin-left: 0px
}
/*--------------- 4th Step Ends ----------------*/

/*-------------- 5th Step Starts ---------------*/
.online-account-form-page #dvMap {
  height: 450px;
  width: 100%;
}
.online-account-form-page .map-list-container{
  margin-top: 30px;
}
.online-account-form-page .map-list-container ul{
  padding-left: 25px;
}
.online-account-form-page #step-5 #location{
  width: 70%;
  top: 10px !important;
  left: 0 !important;
  right: 0;
  margin: auto;
  border-radius: 0;
}
/*--------------- 5th Step Ends ----------------*/



/*--------------------------------- New Style --------------------------------*/

.online-account-form-page .form-group{
  margin-bottom: 0px;
}
/* Global Starts */
.ctz-btn{
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  vertical-align: top;
  min-width: 90px;
  text-align: center;
  background: $primary-color;
  color: #fff;
  padding: 10px 10px;
  border: none;
  border-radius: 4px;
}

.ctz-btn.ctz-blue{
  background: #428bca;
}
.ctz-btn.ctz-red{
  background: #d9534f;
}

.step-next-container{
  display: inline-block;
  width: 100%;
  vertical-align: top;
  margin-top: 30px;
}
.step-next-container .left-container{
  /*float: left;*/
  float: right;
  padding-left: 10px
}
.step-next-container .right-container{
  float: right;
}
.step-next-container .right-container .ctz-btn:nth-of-type(2){
  margin-left: 10px;
}
.citizen-add-more-btn-container{
  display: inline-block;
  width: 100%;
  vertical-align: top;
}
.citizen-add-more-btn-container .ctz-btn:nth-of-type(2){
  margin-left: 10px;
}
.citizen-add-more-btn-container .add-more-inner{
  float: left;
}

.online-account-form-page .steps-title{
  margin-bottom: 26px;
}
.online-account-form-page .steps-sub-title{
  margin-bottom: 20px;
}
.online-account-form-page .steps-sub-title h4{
  font-weight: bold;
  margin: 0px;
}
.online-account-form-page .steps-title h3{
  font-weight: bold;
  margin: 0px;
}
.online-account-form-page .note p{
  font-size: 12px;
  margin-bottom: 0;
}
/* Global Ends*/

.form-group-remove-bottom-margin{
  margin-bottom: 0px;
}
.form-group-remove-bottom-margin input{
  margin-bottom: 0px;
}
.online-account-form-page .label-click label{
  font-weight: normal;
}

.repeat-holder-item-container{
  margin: -15 0;
  display: inline-block;
  width: 100%;
  vertical-align: top;
}
.repeat-holder-item{
  margin: 15px 0;
}
.online-account-form-page .co-tab-container .nav-tabs li a{
  margin-top: 0px;
  margin-bottom: 12px;
}
.online-account-form-page #step-4 ol li{
  padding-left: 10px;
}
.online-account-form-page .co-tab-container .nav-tabs li a{
  text-transform: none;
}
.online-account-form-page .step-3-remove-btn-container{
  margin-top: -44px;
}
/* New Style */


/** Form Preview Starts **/
.ctzn-modal .modal-dialog{
  width: 700px;
  max-width: 100%;
}

.ctzn-modal .modal-body .title{
  margin-bottom: 20px;
}

.ctzn-modal .modal-body .title h1{
  font-size: 22px;
  font-weight: 900;
  color: #0a67b0;
}

.ctzn-modal .modal-body .form-preview-item:not(:last-of-type){
  padding-bottom: 50px;
}

.ctzn-modal .modal-body .form-preview-item:last-of-type{
  padding-bottom: 30px;
}

.ctzn-modal .modal-body .form-preview-item .preview-item-title{
  margin-bottom: 15px;
}
.ctzn-modal .modal-body .form-preview-item .preview-item-title h2{
  font-size: 18px;
  font-weight: 600;
  color: #159051;
}
.ctzn-modal .modal-body .form-preview-item table:not(:last-of-type){
  margin-bottom: 30px;
}

.ctzn-modal .modal-body .form-preview-item table tr td{
  width: 50%;
}

/*..............update style starts.............*/

/*.added_intrestrate .no-padding {
    float: right;
    padding-top: 10px;
}*/
.added_intrestrate .no-padding a{
  padding-left: 6px;
}

button#copy_address1 {
  margin-top: 10px;
}
.middle_section {
  margin: 0px 15px;
}
#photo_uploads input, #citizenship_uploads input, .all-uploads input{
  font-weight: 700;
  font-size: 10pt;
  background: linear-gradient(#eee, #ccc);
  padding: 5px 8px;
  outline: none;
}

/*.............update style ends...................*/

/** Form Preview Ends **/

/*---------------------------- Online Account Form Ends ----------------------------*/




/*=========================== Sushant Styles End ===========================*/



.page-with-blue-color ul li a{
  color: #0b67b1 !important;
}

.page-with-blue-color ul li a:hover{
  font-weight: bold;
}
/* Error Message Starts */
#error-msg{
  color: #D8000C;
  background-color: #FFBABA;
  opacity: 0;
}
/* Error Message Ends */

.bannerSlider .cz_banner_item:not(:first-of-type) {
  display: none;
}

.bannerSlider.slick-initialized .cz_banner_item{
  display: block;
}


.online-vacancy-page #captcha-image{
  display: inline-block;
  width: 100%;
}

.online-vacancy-page #captcha-image span{
  float: left;
  display: block;
}

.online-vacancy-page #captcha-image span:nth-of-type(1){
  width: calc(100% - 40px);
}
.online-vacancy-page #captcha-image span:nth-of-type(2){
  width: 40px;
}

.online-vacancy-page #captcha-image span button{
  background: transparent;
  border: 0;
  box-shadow: none;
  margin: 25px;
  margin-bottom: 0;
}



.online-vacancy-page #captcha-image span button img{
  width: 25px;
  margin-bottom: 0
}

.blog-list-page .show-all-item .content img{
  max-width: 100%;
  width: 100%;
  height: auto;
}


.blog-list-page{
  .page-content-area{
    .section-content{
      .title{

      }
      .date{
        //margin-top: 0;
      }
      .content{
        //margin-top: 15px;
        img{
          width: 100%;
          max-width: 100%;
        }
        p{
          //margin-bottom: 15px;
        }
        display: flex;
        flex-wrap: wrap;
        margin-left: -20px;
        margin-right: -20px;
        .blog-image-container{
          width: 50%;
          padding: 20px;
          .blog-image{
            height: 425px;
            margin-bottom: 0;
          }
        }
        .blog-content{
          width: 50%;
          padding: 20px;
        }
      }
      }
    }
}


.branch-page{
  .page-with-side-bar{
    table{
      tr{
        cursor: pointer;
      }
    }
  }
}

/**** csr page css ***/
.csr-page .blog-image{
  height: 550px;
  margin-bottom: 25px;
  background-size: cover !important;
  background-repeat: no-repeat;
  background-position: top;
}

.csr-page{
  .page-content-area{
    .section-content{
      .content{
        img{
          width: 100%;
          max-width: 100%;
        }
        display: flex;
        flex-wrap: wrap;
        margin-left: -20px;
        margin-right: -20px;
        .blog-image-container{
          width: 50%;
          padding: 20px;
          .blog-image{
            height: 425px;
            margin-bottom: 0;
          }
        }
        .blog-content{
          width: 50%;
          padding: 20px;
        }
      }
    }
  }
}
/**** csr page ends ***/
p{
  line-height: 1.8;
}

/*** changes css ***/
.overall-page{
  &.list-all-page{
    &.page-with-blue-color{
      table{
        &:first-of-type {
          tbody {
            tr {
              &:first-of-type {
                background: #ddf2ec;
              }
            }
          }
        }
        &:nth-of-type(2){
          tr{
            &:first-of-type{
              th{
                background: #8dcfb7;
                color: #fff !important;
              }
            }
            &:nth-of-type(odd) {
              background: #ddf2ec;
            }
          }
        }
      }

    }
  }
}
/***changes css ends ****/