/*---------------------------- Universal Start ----------------------------*/

body {
	padding-top:0;
	display: block;
    position:absolute;
    height:auto;
    bottom:0;
    top:0;
    left:0;
    right:0;
}

#wrapper {
	min-height:100%;
	position:relative;
}

#header-wrapper {
}

#content-wrapper {

}

#footer-wrapper {
	width:100%;
	bottom:0;
	left:0;

}

a:link, a:visited {
	text-decoration:none;
}

ul li {

}

h1,h2,h3{
	margin: 0;
}

h1{
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 36px;
}

h2{
	font-size: 28px;
}

p{
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}

ul li{
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}
/*----------------------------- Universal End -----------------------------*/


.my-container{
	margin: 0 auto;
	background-color: #464646;
}

.top-menu{
	overflow: hidden;
	position: relative;
	font-weight: 600;
}



.top-links{
	float: left;
	position: absolute;
	left: 40%;
	text-transform: capitalize;
	font-size: 13px;
}

.side-links{
	float: right;
	text-transform: capitalize;
	font-size: 13px;
    color: white;
	height: 30px;
}

.top li{
	margin-right:10px;
}

.top li a:hover{
	color: #fff;
}

.side-links li a {
	color: #fff;
}

.side-links .dropdown-content a{
	color: black;
}

.side-links .dropdown-content a:hover {
	color: #53bea1
}

.align-center{
	text-align: center;
}

.heading{
	text-align: center;
}

.heading h1{
	font-size: 27px;
	text-transform: capitalize;
	color: #159051;
	font-family: raleway;
}
.text-wrap{
	text-align: center;
	margin: 20px 0;
	padding:15px;
}
.text-wrap p{
	margin: 0;
	font-size: 15px;
}
.index-img{
	text-align: center;
	margin: 15px auto;
	max-width: 825px;
	padding: 20px 120px;
	background-color: #f3f3f3;
}
.index-img p{
	font-size: 25px;
	color: #656565;
}
.index-img .months{
	width: 35px;
}

.amount-bottom > input{
	border: none;
	padding: 5px;
	color: #159051;
	text-align: center;
	border-radius: 3px;
	font-family:lato;
}
.index-wrap{
	text-align: center;
}
.index-box{
	border: 1px solid #cccccc;
	width: 22%;
	text-align: center;
	padding: 10px;
	margin: 0 24px 0 0;
	border-radius: 2px;
	display: inline-block;
}
.index-box p {
	margin: 0;
	font-size: 12px;
	color: #838383;
}
.index-box h2 {
	font-size: 24px;
	margin: 25px 0;
	color: #696969;
}
.align-center{
	text-align: center;
}
.find-out-about, .download{
	background-color: #159051;
	padding: 5px 10px;
	border-radius: 2px;
	text-align: center;
	display: inline-block;
	margin: 40px 0;
}
.find-out-about p, .download p{
	color: #fff;
	margin: 0;
	font-size: 14px;
}
.download{
	margin: 20px 0 !important;
}
.download img{
	margin: 0 0 0 7px;
}
.find-out-about img{
	margin: 0 0px 0 5px;
}
.find-out-about a:hover{
	color: #fff;
}
.index-img-holder{
	position: relative;
}
.index-img-wrap img{
	width: 100%;
}
.KYC-form{
	position: absolute;
	top: 55px;
	right: 85px;
	background-color: #fff;
	padding: 15px 30px;
	width: 37%;
	border-radius: 2px;
}
.KYC-form h2{
	margin:5px 0;
	font-size: 25px;
	font-weight: 500;
	font-family: raleway;
}
.KYC-form p{
	margin: 0;
}
.KYC-form a:hover{
	color: #fff;
}

.index-text-wrap{
	margin: 20px 0 0 0;
}

.slider.slider-horizontal {
 max-width: 901px;
height: 20px;
width: 100%;
font-family:lato;
}

.slider_knob{
	background: url(http://localhost/working/himalayan/themes/himalayan//assets/img/slider_ball.png) no-repeat !important;
	width: 38px !important;
	height: 38px !important;
	top: -14px !important;
}
.sglide-buttons{
	margin: 10px 0 6px 0;
}

#slider1, #slider2, #slider3, #slider4 {
	background: #b8b8b8;
}

.sidebar-holder-branch{
	position: absolute;
  	top: 52px;
  	right: -200px;
  	z-index: 1;
  	width: 275px;
  	transition: .4s;
}


.amount-box-wrap{
	width: 100%;
	overflow: hidden;
	margin-bottom:15px;
}

.amount-box{
	border:1px solid #cccccc;
	width: 32%;
	float: left;
	text-align: center;
	padding: 10px;
	margin: 0 15px 0 0;
	border-radius: 2px;
}

.amount-box p{
	text-transform: capitalize;
	margin: 0;
	font-size: 13px;
	color: #838383;
}

.amount-box h2{
	font-size: 24px;
	margin: 25px 0;
	color: #696969;
}

.no-margin{
	margin: 0 !important;
}

.citizens-search{
	    float: right;
    margin-right: 100px;
    margin-top: 100px;
}

.modal-content .tab-content{
	padding-top: 0;
}

.modal-dialog{
	margin-top: 90px;
}

