

* {
  padding: 0px;
  margin: 0px;
  font-family: 'Lato', sans-serif;
}

.wrapper {
  overflow: hidden;
}
  

  
  /************** New Top Navigation End ****************/
  

  .wrapper .content-wrapper {
    /****************block1 ends***********/
    /****************block1 ends***********/
    /****************block1 ends***********/ }
    .wrapper .content-wrapper .slider .bodyImg {
      width: 100%;
      height: 545px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      position: relative; }
      .wrapper .content-wrapper .slider .bodyImg .bodyText {
        position: absolute;
        top: 20%;
        left: 50px;
        width: 20%; }
        .wrapper .content-wrapper .slider .bodyImg .bodyText .title {
          color: #fff; }
          .wrapper .content-wrapper .slider .bodyImg .bodyText .title h3 {
            font-size: 64px;
            font-weight: 600; }
        .wrapper .content-wrapper .slider .bodyImg .bodyText .button {
          padding-right: 10px;
          text-align: right; }
          .wrapper .content-wrapper .slider .bodyImg .bodyText .button .btn {
            border-radius: 0px;
            background: #0b67b1;
            color: #fff;
            width: 174px;
            height: 56px;
            font-size: 18px; }
    .wrapper .content-wrapper .block1 {
      padding: 60px 0px;
      background: #f3f3f3; }
      .wrapper .content-wrapper .block1 .container {
        width: 100%;
        padding: 0px 35px;
        /**********product button lists ends**********/
        /*************twoColumn ends***********/
        /************homeTools ends************/ }
        .wrapper .content-wrapper .block1 .container .productsBtn .pTitle {
          width: 100%;
          padding-top: 18px;
          height: 70px;
          margin-bottom: 45px; }
          .wrapper .content-wrapper .block1 .container .productsBtn .pTitle .plogo {
            width: 20%;
            float: left;
            padding-left: 30px; }
            .wrapper .content-wrapper .block1 .container .productsBtn .products .plogo .fa {
              font-size: 30px;
              color: #fff;}
              .wrapper .content-wrapper .block1 .container .productsBtn .pLists .plogo .fa {
              font-size: 30px;
              }
          .wrapper .content-wrapper .block1 .container .productsBtn .pTitle .pTopic {
            width: 100%;
            padding-left: 90px;
            text-align: left; }
            .wrapper .content-wrapper .block1 .container .productsBtn .products .pTopic h5 {
              font-size: 16px;
              font-weight: 600;
              margin: 0;
              color: #fff;
              padding-top: 8px; }
              .wrapper .content-wrapper .block1 .container .productsBtn .pLists .pTopic h5{
                  color: #0a67b0;
                  font-size: 16px;
              font-weight: 600;
              margin: 0;
              padding-top: 8px;
              }
        .wrapper .content-wrapper .block1 .container .productsBtn .products {
          background: #159051; }
        .wrapper .content-wrapper .block1 .container .productsBtn .pLists {
          padding-top: 0px; }
          .wrapper .content-wrapper .block1 .container .productsBtn .pLists button {
            background: #fff;
            width: 100%;
            height: 74px;
            border: none;
            box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.2); }
            .wrapper .content-wrapper .block1 .container .productsBtn .pLists button a {
              color: #0a67b0; }
              .wrapper .content-wrapper .block1 .container .productsBtn .pLists button a .plogo {
                padding-left: 30px; }
        .wrapper .content-wrapper .block1 .container .twoColumn .row .advertise {
          padding-bottom: 28px; }
          .wrapper .content-wrapper .block1 .container .twoColumn .row .divRow {
            
                margin-bottom: 20px;
                }
                 .wrapper .content-wrapper .block1 .container .twoColumn .row .divRow img {
                width: 100%;
                
                height:250px; }
          .wrapper .content-wrapper .block1 .container .twoColumn .row .advertise .slick-dots {
            bottom: 0px; }
            .wrapper .content-wrapper .block1 .container .twoColumn .row .advertise .slick-dots li button {
              display: none; }
          .wrapper .content-wrapper .block1 .container .twoColumn .row .advertise .slick-arrow {
            display: none; }
        .wrapper .content-wrapper .block1 .container .twoColumn .row .stock {
          background: #fff; }
          .wrapper .content-wrapper .block1 .container .twoColumn .row .stock .nav-tabs {
            width: 100%; }
            .wrapper .content-wrapper .block1 .container .twoColumn .row .stock .nav-tabs li {
              width: 50%;
              text-align: center; }
              .wrapper .content-wrapper .block1 .container .twoColumn .row .stock .nav-tabs li a {
                border-radius: 0;
                cursor: pointer;
                border: 0px; }
              .wrapper .content-wrapper .block1 .container .twoColumn .row .stock .nav-tabs li a:active {
                background: #159051; }
            .wrapper .content-wrapper .block1 .container .twoColumn .row .stock .nav-tabs li:active {
              background: #159051; }
              .wrapper .content-wrapper .block1 .container .twoColumn .row .stock .nav-tabs li:active a {
                color: #fff;
                border: none; }
        .wrapper .content-wrapper .block1 .container .homeTools .tools .tool-title {
          background: #159051;
          padding: 8px;
          width: 100%;
          margin-bottom: 20px;
          text-align: center;
          color: #fff; }
          .wrapper .content-wrapper .block1 .container .homeTools .tools .tool-title h4 {
            font-size: 18px; }
        .wrapper .content-wrapper .block1 .container .homeTools .tools .tool-buttons {
          margin-bottom: 20px;
          box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.2); }
          .wrapper .content-wrapper .block1 .container .homeTools .tools .tool-buttons .btn {
            background: #fff;
            width: 100%;
            padding: 10px; }
            .wrapper .content-wrapper .block1 .container .homeTools .tools .tool-buttons .btn .tool-btn {
              color: #159051;
              font-size: 50px;}
            .wrapper .content-wrapper .block1 .container .homeTools .tools .tool-buttons .btn .tool {
              color: #159051; }
              .wrapper .content-wrapper .block1 .container .homeTools .tools .tool-buttons .btn .tool h6 {
                font-size: 14px; }
    .wrapper .content-wrapper .block2 {
      background: #fff;
      padding: 60px 0px; }
      .wrapper .content-wrapper .block2 .container {
        width: 100%;
        padding: 0px 35px; }
        .wrapper .content-wrapper .block2 .container .servicesBlock  {
          color: #159051;
          width: 100%; }
          .wrapper .content-wrapper .block2 .container .servicesBlock .facilitiesBlock{
              padding-left: 5%;
                  width: 100%;
    height: 280px;
          }
          .wrapper .content-wrapper .block2 .container .servicesBlock .facilities {
            position: relative;
            overflow: hidden;
            float: left;
            width: 24%; }
            .wrapper .content-wrapper .block2 .container .servicesBlock .facilities .services {
              height: 272px;
              text-align: center;
              position: relative; }
              .wrapper .content-wrapper .block2 .container .servicesBlock .facilities .services .block {
                  
                  height: 200px;
                 }
                .wrapper .content-wrapper .block2 .container .servicesBlock .facilities .services .block img{
                    width: 35%;
                    padding-top: 40px;
                }
              .wrapper .content-wrapper .block2 .container .servicesBlock .facilities .services .serviceType {
                text-align: center;
                padding-top: 10px;}
                .wrapper .content-wrapper .block2 .container .servicesBlock .facilities .services .serviceType h5 {
                  color: #0a67b0;
                  font-size: 23px;
                  font-weight: 700;
                  padding: 0 45px; }
            .wrapper .content-wrapper .block2 .container .servicesBlock .facilities .more {
              background: #159051;
              opacity: 0.9;
              height: inherit;
              width: 100%;
              height: 0px;
              position: absolute;
              bottom: 0;
              transition: all .6s ease;
              text-align: center; }
              .wrapper .content-wrapper .block2 .container .servicesBlock .facilities .more .moreText {
                color: #fff;
                padding-top: 30%; }
              .wrapper .content-wrapper .block2 .container .servicesBlock .facilities .more .moreBtn .btn {
                background: #fff;
                border-radius: 0px; }
                .wrapper .content-wrapper .block2 .container .servicesBlock .facilities .more .moreBtn .btn a {
                  color: #159051; }
              .wrapper .content-wrapper .block2 .container .servicesBlock .facilities .more:hover {
                height: 272px;
                transition: all .6s ease; }
          .wrapper .content-wrapper .block2 .container .servicesBlock .facilities:hover .more {
            height: 100%; }
    .wrapper .content-wrapper .block3 {
      background: #f3f3f3;
      padding: 35px 0px; }
      .wrapper .content-wrapper .block3 .container {
        width: 100%;
        padding: 0px 35px; }
        .wrapper .content-wrapper .block3 .container .offerBlock h1 {
          color: #159051; }
        .wrapper .content-wrapper .block3 .container .offerBlock .offers .addImg {
          padding-bottom: 40px;
          display: block !important;}
          .wrapper .content-wrapper .block3 .container .offerBlock .offers .addImg .offerAd img{
            box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2);
            height: 248px;
            width: 100%;
             }
  .wrapper .content-wrapper .footer {
      background: #159051; }
       .footer .container {
        width: 100%;
        padding: 0px 35px;
        background: #159051; }
        .wrapper .content-wrapper .footer .container .news {
          padding: 80px 0px;
          background: #159051;
          height: 100%;
          width: 70%;
          float: left; }
          .footer .container .news .row .newsImg img{
            width: 100%;
            height: 300px; }
           .footer .container .news .row .newsDetail {
            width: 80%; }
           .footer .container .news .row .newsDetail .newsTitle {
              color: #fff; }
            .footer .container .news .row .newsDetail .newsTitle h5 {
                font-size: 25px;
                font-weight: 600; }
               .footer .container .news .row .newsDetail .newsTitle h6 {
                font-size: 18px; }
             .footer .container .news .row .newsDetail .detail p {
              color: #fff;
              font-size: 14px; }
            .wrapper .content-wrapper .footer .container .news .row .newsDetail .newsBtn {
              text-align: right; }
              .wrapper .content-wrapper .footer .container .news .row .newsDetail .newsBtn a {
                color: #fff; }
              .wrapper .content-wrapper .footer .container .news .row .newsDetail .newsBtn .fa {
                color: #fff; }
        .wrapper .content-wrapper .footer .container .contacts {
          padding: 228px 0px;
          width: 30%;
          float: left;
          position: relative; }
          .wrapper .content-wrapper .footer .container .contacts .contactDetail {
            position: absolute;
            z-index: 1;
            top: 30%;
            left: 10%; }
            .wrapper .content-wrapper .footer .container .contacts .contactDetail h5 {
              font-weight: 700;
              font-size: 25px;
              color: #159051; }
            .wrapper .content-wrapper .footer .container .contacts .contactDetail .contactInfo {
              font-size: 16px;
              color: #464646; }
            .wrapper .content-wrapper .footer .container .contacts .contactDetail .social-media {
              font-size: 25px;
              font-weight: 700; }
              .wrapper .content-wrapper .footer .container .contacts .contactDetail .social-media a {
                color: #159051;
                padding-right: 35px; }
          .wrapper .content-wrapper .footer .container .contacts .detailInfo {
            position: absolute;
            top: 0px;
             -webkit-transform: skew(-20deg);
            transform: skew(-20deg);
            background-color: #fff;
            height: 100%;
            width: 100%;
            right: 65px; }
  .wrapper #footer-wrapper .copyright .container {
    width: 100%;
    padding: 0px 35px; }
    .wrapper #footer-wrapper .copyright .container .copyText {
      padding: 20px 0px; }
      .wrapper #footer-wrapper .copyright .container .copyText p {
        font-size: 16px;
        color: #848484;
        margin: 0px; }

/*# sourceMappingURL=styles.css.map */















.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 70%;
  margin: auto;
}








.navbar{
  padding-bottom: 16px;
  margin-bottom: 0;
  background: #fff;
}
.navbar-right{
  margin-right: 0;
}
#block1{
  padding: 30px;
  background: #f3f3f3;
  padding-bottom: 0;
}
#dw-btn{
    margin-right: 30px;
}
.btn{
  border-radius: 0;
  font-weight: bold;
}
.blocks{
  margin-bottom: 30px;
}
*{
  font-family: 'Lato', sans-serif;
}

.navbar-default .navbar-nav>li>a:active {
  color: #159051;
}


.dropdown {
  margin:2px;
  position: relative;
  display: inline-block
}






.custom-drop-new-hover:hover .test{
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f3f3f3;
  text-align: center;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 9999;
}
.dropdown-content a {
  color: black;
  padding: 5px 16px;
  text-decoration: none;
  display: block;
}





/*.collapse{
  width: 70%;
}
 */
/*.collpase ul{
  text-align: center;
  width: 100%;
}
.collapse  ul:nth-child(2) li{
  text-align: center;
        padding: 5px;
}
.collapse  ul:nth-child(8){
    padding: 0 !important;
  
}
.collapse  ul:nth-child(2) li a {
  font-size: 14px;
       padding: 6px;
      padding-top: 15px;
}
.collapse  ul:nth-child(2) li:nth-child(20){
   border-bottom: none;
}

.collapse ul li{
  padding: 0px;
  text-align: center;
        margin: 0;
}*/



.header-img{
  min-height: 526px; 
  width: 100%;
  background-repeat: no-repeat;
  position: relative; 
}
.header-img .header-text{
  width: 400px;
  position: absolute;
  top: 150px; 
  left: 50px;
  vertical-align: middle;
  color: #fff;
}
.header-buttons{
  position: absolute;
  bottom: 40px;
  right: 0px;

}
.header-buttons .btn{
  color: #fff;
  width: 120px;
  background: #159051;
}
/*INDEX DESIGN*/

.buttons .btn{
  background: #fff;
  width: 100%;
  padding: 10px;
  margin-bottom: 40px;
  
}
.buttons .btn-img{
  float: left;
  padding-left: 10px;
  padding-right: 20px;
}
.block1 .col-md-2{
  padding: 0;
}
/*.btn-img .fa{
  font-size: 23px;
  }*/
  .topic h5{
    font-weight: bolder;
  }
  .piggy-bank, .coin-drop{
    width: 100%;
    height: 280px;
    position: relative;
  }
  .piggy-bank{
    margin-bottom: 15px;
  }
  .header-text1{
    position: absolute;
    right: 30px;
    color: #002767; 
  }
  .header-text2{
    position: absolute;
    right: 30px;
    bottom: 80px;
    color: #fff;
  }
  .header-text1 p, .header-text2 p{
    text-align: right;
  }
  .stock{
    background: #fff;
  }
  .wrapper .content-wrapper .block1 .container .twoColumn .row .stock .tab-content .table thead tr {
              background: #159051;
               }
              .wrapper .content-wrapper .block1 .container .twoColumn .row .stock .tab-content .table thead tr th {
                text-align: center;
                color: #fff;}
/*.stock .index-tabs li a{
  color: #464646;
  }*/
  .graph{
    height: 250px;
  }
  .graph img{
    width: 100%;
    height: 250px;
  }
  .table{
    margin-bottom: 0;
  }


  .index-tabs ul{
    width: 100%;
  }
  .index-tabs ul li{
    width: 33.33%;
    font-size: 12px;
  }
  .index-tabs ul li a{
    padding: 0 5px;
    color: #464646;
  }
  .stock .nav-tabs li:active a{
    background: #159051;
    color: #fff;
    border: none;
  }

  .stock .tab-content thead th {
    color: #464646;
    padding: 10px;
  }
  .stock .tab-content .table tbody td{
    color: #000;

    padding: 8px;
  }
  .index-tabs .tab-content{
    padding: 0;
  }
  .index-tabs .nav-tabs li{
    padding: 0;
    text-align: center;
  }

  .stock .nav-tabs li {
    padding: 0px;
    font-size: 12px;
    width: 50%;

  }
  .stock .nav-tabs li a{
    color: #464646;
    border-radius: 0;
    font-size: 16px;
  }
  .stock .nav-tabs > li.active > a,
  .stock .nav-tabs > li.active > a:hover,
  .stock .nav-tabs > li.active > a:focus {
    background: #159051;
    color: #fff;
    border: none;
  }
  
  .tool-title{
    background: #4fb69b;
    padding: 8px;
    width: 100%;
    margin-bottom: 15px;
    text-align: center;
    color: #fff;
  }
  .tool-buttons{
    margin-bottom: 15px;
  }
  .tool-buttons .btn{
    background: #fff;
    width: 100%;  
    padding: 15.7px;
  }
  .tool-btn .fa{
    font-size: 50px;
  }
  .tool-btn, .tool{
    color: #4fb69b;
  }

  .column-img img{
    width: 100%;
    height: 250px;
  }

  .column-text{
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 30px;
    background: #fff;
    font-family: 'Lato', sans-serif;
    color: #a4aebb;
        min-height: 290px;
  }

    .column-text h3{
        padding: 0px;
        margin: 0px;
        padding-bottom: 10px;
        min-height: 60px;
    }
    /*
    .column-text p:last-of-type{
        padding-bottom: 100px;
    }*/
    .column-text .read-button{
        position: relative;
        padding-top: 20px;
        padding-bottom: 20px;
        bottom: 10px;
    }

  .read-button .btn{
    background: #4fb69b;
    color: #fff;
    width: 140px;
        
  }

  /*FOOTER-DESIGN*/
    .footer{
    
    float: left;
    width: 100%;
        padding-left: 30px;
        padding-right: 30px;
     }
    
    .footerText {
        text-align: left;
        padding-top: 4px;
    }
    .footerText h5{
        font-size: 14px;
        margin: 0;
        padding: 0; 
    }
       
     .socialMedia ul{
        margin: 0px;
        padding: 0px;
        float:right;
    }
       
       
    .socialMedia ul li{
        display:inline;
        margin-right: 15px;
    }

    .socialMedia ul li .fa{
        color: #464646;
        font-size: 20px;
    }

  /*BRANCH EMERGENCY*/
  .call{
    padding-bottom: 20px;
  }
  .call-detail{
    width: 100%;
    height: 380px;
    text-align: center;
    padding: 0;
  }
  .call-logo img{
    height: 55px;
    float: left;
    padding-right: 10px;
  }
  .call-text h3{
    padding-top: 10px;  
    color: #0b67b1;
    padding-bottom: 20px;
  }
  .table td{
    border: none;
  }
  .cal-detai,l .call-detail{
    color: #fff;
  }


  /*GENERAL PAGES1*/
  .header-text button{
    width: 120px;
    background: #0b67b1;
    
    border: 1px solid #0b67b1;
}
.header-text .text-btn h5{
    font-size: 18px;
    color: #fff;
}
.header-text .text-btn h5:hover, .header-text button:hover .text-btn h5{
    color: #0b67b1;
}
.header-text button:hover{
  background: #fff;
  color: #0b617b1;
  border: 1px solid #0b67b1;
  transition: all .3s ease;
}
.general-pages{
  padding: 30px;
  background: #f3f3f3;
}
.page{
  background: #fff;
  padding: 20px;
  padding-bottom: 91px;
}
.page h4{
  color: #159051;
  font-weight: bold;
  padding-bottom: 10px;
}
.page p{
  color: #a4aebb;
}
/*GENERAL PAGES2*/
.page-img img{
  width: 100%;
  min-height: 900px;
}
/*GENERAL PAGES3*/
.page-img1 img{
  width: 100%;
  min-height: 1140px;
}

/*RATES AND CHARGES DESIGN*/
.rates{
  background: #fff;
}
.rates .blog{
        padding-bottom: 30px;
}
.rates-tab{
  padding: 30px;
  background: #f3f3f3;
}
.tab-content .table th, .tab-content .table td{
  padding: 20px;
}
.tab-content .table thead th{
  color: #159051;
  font-weight: bold;
  font-size: 16px;
}

.table-striped > tbody > tr:nth-child(even) > td{
  background-color: #f9f9f9;
        

}
.table-striped > tbody > tr:nth-child(odd) > td{
  background-color: #fff;
      
}
#forex table{
text-align: left;
}

#forex .table thead th{
    text-align: left !important;
}
#forex .table tbody td{
   /*padding-left: 30px;*/
}
#agreement table{
text-align: left;
}

#agreement .table thead th{
    text-align: left !important;
}
#agreement.table tbody td{
   padding-left: 30px;
}
/*NAV TABS DESIGN*/
.nav-tabs{
  border: none;
}




.account-blogs{
  background: #fff;
  padding: 30px;
}
/*NEWS DESIGN*/

.news-block, .acc-block{
  padding: 30px;
  background: #f3f3f3;
}
.acc-block p, .acc-block li{
  color: #a4aebb;
}
.news-and-blogs, .acc-blogs, .acc2-blogs{
  padding: 20px;
  padding-top: 10px;
  background: #fff; 
}
.acc2-blogs{
  padding: 20px;
  padding-top: 10px;  
}
.acc-blogs p, .acc-blogs p{
       line-height: 2;
}
.blog-logo img{
  height: 55px;
  float: left;
  padding-right: 30px;
}
.blog-title h3, .ans-ques-title h3{
/*  padding-top: 30px;  */
  color: #0b67b1;
  /*padding-bottom: 20px;*/
  font-weight: bold;
}

.blog-title h3{
    line-height: 51px;
}

.blog-title1 h3{
  color: #0b67b1;
  font-weight: bold;
        width: 80%;
}
.account-blogs .blog-title h3{
  padding-top: 0;
}

.news-title h3{
  color: #0b67b1; 
  font-weight: bold;  
}

.news-paragraph p{
  color: #a4aebb;
  padding: 20px 0;
}
.news-paragraph img{
  width: 30%;dding: 30px;
  border: solid;  
  background: #159051;
  color: #fff;
  margin-bottom: 15px;
  border: 0;
}
.blog-link{
  /*background: #e7e6e6;
  margin-bottom: 20px;
  padding-left: 25px;*/
}
.user-tools button{
  width: 100%;
  
  margin-bottom: 15px;
  background: #e7e6e6;
}
.blog-link .btn{  
  text-align: center;
  padding: 30px;
  background: none;    
  width: 80%;
  padding-left: 0;
}
.blog-link .btn h3{
  color: #c6cad1;
}

/*CONTACT DESIGN*/

.contact-block, .emergency-block, .location-block, .team-block{
  padding: 30px;
  background: #f3f3f3;
}
.emergency, .locations, .teams{
  background: #fff;
  padding: 20px;
}
.dept-logo img{
  height: 55px;
  float: left;
  padding-right: 10px;
}
.dept-tabs{
  padding-top: 20px;
}
.stock .tab-content{
  padding-top: 0;
}






/*FAQ DESIGN*/
.FAQ-block{
  padding: 30px;
  background: #f3f3f3;
}
.FAQ-form h4{
  color: #159051;
  padding: 30px 0;
}
.ans-ques-block{
  background: #fff;
  padding: 20px;
}
.ans-ques{
  padding-bottom: 50px;
}
.ans-ques-logo img{
  height: 55px;
  float: left;
  padding-right: 10px;
}
.category-title{
  text-align: center;
  padding: 30px;
  border: solid;  
  background:#159051;
  color: #fff;
  margin-bottom: 15px;
  border: 0;
}
.category-buttons .btn{
  width: 388px; 
  /*text-align: center;*/
  padding: 30px;
  margin-bottom: 30px;
  background: #e7e6e6;
}
.category-buttons .btn h3{
  color: #c6cad1;
}
.category-btn{
  float: left;
  
}
.category-btn .fa{
  color: #a4aebb;
  font-size: 45px;
  padding-top: 10px;
  padding-left: 30px;
}
.category h2{
  color: #a4aebb;
}
/*.panel-group .panel{
  margin-bottom: 30px;
  border-right: none;
  border-left: none;
}*/
/*.panel-default .panel-heading{
  background: #fff;
}
.panel-collapse{
  background: #f5f5f5;
}*/
.num-slider{
  text-align: center;
}
ul.pagination {
  display: inline-block;
  padding: 0;
  margin: 0;
}
ul.pagination li {display: inline;}

ul.pagination li a {
  color: #a4aebb;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border: none;
}
ul.pagination li a:active{
  color: #535353;
  background: #fff;
}
.queries h4{
  color: #159051 !important;
}

/*.panel-body-1{
  color: #b5bdc8 !important;
  background: #fff;
  padding-left: 30px;
}*/

/*.panel .panel-body-1 p{
      width: 80%;
      line-height: 1.5;
}*/
/*.panel-body{
  color: #b5bdc8 !important;
  background: #fff;
  padding-left: 30px;
}*/

/*LOAN DESIGN*/

.loan{
  background: #f3f3f3;
  padding: 30px;
}
.loan-blogs {
  background: #fff;
  padding: 7px 20px;
}
.loan-info{
  padding-left: 65px;
}
.loan-info h5{
  color: #a4aebb;
  padding-bottom: 20px;
        width: 80%;
}
.loan-info ul{
      padding:0;
}
.loan-info ul li{
     line-height: 2;
}
.interest table{
  width: 325px;
}
.interest table th{
  color: #159051;
  border: none;
}
.interest table td{
  color: #a4aebb;
  border: none;
}


/*.criteria ul li{
  color: #a4aebb;
  padding-bottom: 10px;
        width:100%;
        line-height:2;
}*/

.apply-button button{
  width: 120px;
  color: #159051;
  background: transparent;
  border-color: #159051;
  margin-top: 50px;
}
.scrolls{
  overflow-y: scroll;
  height: 530px;
}
.loan .scrolls{
  height: 580px;
}
.scroll-column ul{
  padding-left: 0;
  display: block;
}
.sub-scroll{
  text-align: center;
}
.loan h5 li{
  padding: 5px;
}
.borrow h2{
  color: #0b67b1;
}
.criteria li h4{
  color: #0b67b1;
}
.smart table tbody td{
  text-align: left;
  padding-left: 20px;
}

/*MAIN NEWS DESIGN*/

.main-news{
  padding-top: 40px;
}
.articles{
  padding-bottom: 40px; 
}
.main-new-img img{
  width: 100%;
  height: 258px;  
  padding-bottom: 10px;
}
.main-news .news-title h3{
  color: #0b67b1; 
  font-weight: bold;  
  margin: 0;
}
.news-article .date{
  padding: 10px 0;
}
.blog-link .btn-img{
  float: left;
  margin-right:10px;
  background: none;
}
.btn-img .fa{
  font-size: 20px;
}
.blog-link .topic h3{
  font-weight: bolder;
}
.acc1-blogs .criteria h3{
  padding-top: 10px;
}

/*DEPOSIT DESIGN*/
.accounts{
  padding-bottom: 30px;
  padding: 0;
}
.accounts .row{
  padding-bottom: 50px;
}
.acc-blogs .blog ,.acc1-blogs .blog{
  padding-bottom: 50px;
}
.acc1-blogs{
  padding: 30px;
  background: #fff;
}
.acc-imgs{
  /*text-align: center;*/
}
.acc-imgs img{
  width: 50%;

}
.save-accounts .acc-imgs img{
  width: 65px;
}

#detailPageFix .blog-logo img{
    padding-left: 10px;
}



.acc-details{
  margin-left: -20px;
}
.acc-details .blog-title h3{
  /*margin-top: 70px;*/
}
.acc-read p{
  color: #a4aebb;
  width: 80%;
}
.acc-read ul{
    padding:0;
}
.acc-read ul li{
  width:80%;
}
.acc-buttons{
  padding-right: 100px;
  text-align: right;
  padding-top: 100px;

}
.acc-buttons button{
  width: 150px;
  background: transparent;
  border-color: #159051;
  color: #159051;
}
#know-btn{
  margin-right: 30px;
}
.compare-acc{
  padding-bottom: 50px;
}
.compare-acc img{
  width: 100%;
}
.buttons .acc-btn-img{
  float: left;
  padding-left: 10px;
}
.blog-link .acc-btn-img{
  float: left;
  margin-left:50px;
  background: none;

}
.acc-btn-img img{
  height: 50px;
  width: 50px;
}
.acc-blogs .blog-link .btn{ 
  text-align: center;
  /*padding: 20px;*/
  background: none;
  width: 80%;
  padding-left: 0;
}
.acc-tools .blog-link{
  background: #e7e6e6;
  margin-bottom: 20px;
  text-align: center;
  padding-left: 0;
  color: #a4aebb;
}
.acc-tools .blogs{
  padding: 20px;
}

.acc-topic h3{
  color: #a4aebb;
}
/*DEPOSIT DESIGN*/
.mahila-bachat{
  padding-left: 65px;
  padding-bottom: 100px
}

.deposit-info h5{
  color: #a4aebb;
  padding-bottom: 40px;
}
.features{
  padding-bottom: 250px;
}
.features h3{ 
  padding-top: 30px;
  padding-bottom: 20px; 
  color: #0b67b1; 
  font-weight: bold;
}
.features ul li{
  color: #a4aebb;
  padding-bottom: 10px;
}

.features ul{
  padding-left: 0 ;
}
.interest-rate img{
  width: 100%;
}

.mahila-bachat .acc-buttons{
  text-align: left;
  padding-top: 40px;
}
.row .blogger{
  background: #f3f3f3;
}
.scroll-column{
  margin-bottom: 30px;
}
.scroll-section{
  position: relative;
  height: 150px;
  padding: 20px 0;
}
.btn-img{
  /*position: absolute;*/
  left: 10px;
  width: 30%;
  float: left;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-img img{
  width: 50%;
    max-height: 100%;
}
.btn-topic{
  float: right;
  width: 70%;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.btn-topic h3{
  color: #a4aebb;
  margin-top: 10px;
}/*
.btn-topic a:active h3 {
  color: #53bea1;
  }*/
  .scrolls .scroll-section:nth-child(odd){
    background: #e7e6e6;
  }
  .scrolls .scroll-section:nth-child(even){
    background: #fff;
  }
  .scrolls .scroll-section:active{
    color: #159051;
  }
  
  /*LOCATION DESIGN*/

  .location-tabs .tab-content{
    padding-top: 50px;
  }
  .first-column{
    margin-bottom: 40px;
  }
  .sub-col{
    border: 1px solid #a4aebb;
    position: relative;
    height: 200px;
    border-bottom-width: 5px;
    margin-bottom: 20px;
  }
  .office-img{
    float: left;
    padding-right: 50px;
  }
  .office-img img{
    position: absolute;
    left: 10px;
    top: -10px;
    border: 2px solid #0b67b1;
  }
  .office-location{
    position: absolute;
    right: 10px;
  }
  .office-tel{
    position: absolute;
    bottom: 20px;
    width: 100%;
    color: #a4aebb;
  }
  .office-tel .phone{
    float: left;
    padding-right: 5px;
    padding-left: 5px;
  }

  .save-accounts .blog{
    background: #fff;

  }


  /*TEAMS DESIGN*/
  .teams-tabs .tab-content{
    padding-top: 80px;
  }
  .team{
    margin-bottom: 50px;
  }

  .team-img img{
    position: absolute;
    left: 33%;
    top: -50px;
    border: 2px solid #159051;
        height:100px !important;
        width:100px !important;
        left: 0;
        right: 0;
        margin: auto;
  }

  .team-subscribe ul{
    background: #159051;
    position: absolute;
    bottom: 10px;
    width: 100%;
  }
  .team-subscribe li {
    display: inline-block;
    width: 50px;

  }
  .team-subscribe .fa{
    color: #fff;
    font-size: 20px;
    padding: 5px 40px;
  }


  /*SLIDER DESIGN*/

  .carousel-fade .carousel-inner .item {
    opacity: 0;
    transition-property: opacity;
    overflow:hidden;
  }
  .carousel-fade .carousel-inner .active {
    opacity: 1;
  }

  .carousel-fade .carousel-inner .active.left,
  .carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
  }

  .carousel-fade .carousel-inner .next.left,
  .carousel-fade .carousel-inner .prev.right {
    opacity: 1;
  }

  .carousel-fade .carousel-control {
    z-index: 2;
  }
  .carousel-caption{
    left: 45px;
    bottom: 150px;
    text-align: left;
  }
  .carousel-caption .header-text{
    width: 32%;
    color: #fff;
  }
  .carousel-caption .header-text h1{
          font-size: 65px;
        font-weight: 600;
  }
  .carousel-caption button{
    position: absolute;
    left: 0%;
        border-radius: 0px;
    background: #0b67b1;
    color: #fff;
        width: 150px;
    height: 50px;
    font-size: 18px;
  
  }

  .topic{
    text-align: left;
  }


  .loan-blogs h5{
    color: #a4aebb;
  }

        .accounts .criteria ul li,.accounts .criteria p{
           width:100%;
}
  .main-menu .fa {
    color: #fff;
    position: relative;
    display: table-cell;
    width: 130px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size: 25px;
  }
  .main-menu:hover,
  nav.main-menu.expanded {
    width: 250px;
    overflow: visible;
  }
  .main-menu {
    background: #159051;
    border-right: 1px solid #e5e5e5;
    position: fixed;
    /*top: 0;*/
    bottom: 100px;
    /*height: 25%;*/
    right: 0;
    width: 90px;
    overflow: hidden;
    -webkit-transition: width .05s linear;
    transition: width .05s linear;
    -webkit-transform: translateZ(0) scale(1, 1);
    z-index: 1000;
  }
  .main-menu>ul {
    margin: 7px 0;
    height: 148px;
  }
  .main-menu>ul>li{
    height: 36px;

  }
  .main-menu .side-tool {
    position: relative;
    display: block;
    width: 250px;
        border-bottom: 1px solid #fff;
  }
  .main-menu .side-tool>a {
    position: relative;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    color: #999;
    font-family: arial;
    font-size: 14px;
    text-decoration: none;
    -webkit-transform: translateZ(0) scale(1, 1);
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
  }
  .main-menu .nav-icon {
    position: relative;
    display: table-cell;
    width: 60px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
  }
  .main-menu .nav-text {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    width: 190px;
  }
  .main-menu>ul.logout {
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .no-touch .scrollable.hover {
    overflow-y: hidden;
  }
  .no-touch .scrollable.hover:hover {
    overflow-y: auto;
    overflow: visible;
  }
  .main-menu a:hover,
  .main-menu a:focus {
    text-decoration: none;
  }
  nav {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
  nav ul,
  nav li {
    outline: 0;
    margin: 0;
    padding: 0;
  }
/*  .main-menu li:hover>a,
  nav.main-menu li.active>a,
  .dropdown-menu>li>a:hover,
  .dropdown-menu>li>a:focus,
  .dropdown-menu>.active>a,
  .dropdown-menu>.active>a:hover,
  .dropdown-menu>.active>a:focus,
  .no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
  .dashboard-page nav.dashboard-menu ul li.active a {
    color: #fff;
    background-color: #0e794d;

  }*/
  .area {
    float: left;
    background: #e2e2e2;
    width: 100%;
    height: 100%;
  }
  .nav-text{
     color: #fff;
           font-size: 18px;
           
  }

.tool-menu{
    height: 50px;
    text-align: left;
    padding-left: 22px;
    padding-top: 15px;
    font-weight: bold;
    }
   
    .main-menu:hover .tool-menu,
  nav.main-menu.expanded {
    text-align: center;
  }









/*=============================================================================================
                                    New Css
=============================================================================================*/

/*==============================================
                    Set up 
==============================================*/
.topNavContainer{
    width: 100%;
    padding: 0 10px;
    height: 30px;
}

.news-button .blogs{
    background: #159051;
    color: #fff;
}
/*==============================================
                    Setup end
==============================================*/



/*==============================================
                Navigaiton Start
==============================================*/
.navbar-header {
    width: 20%;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    width: 80%;
    padding-bottom: 16px;
}

.navbar-default .navbar-brand {
    padding-right: 0px;
}

.navbar {
    padding-bottom: 0px;
}

.nav .navbar-nav{
    padding-bottom: 0;
}

.navbar-brand img {
    width: 267px !important;
}

.e-bank img{
    height: 50px;
}

.remitance img{
    height: 50px
}
.wrapper .header-wrapper nav .container .collapse .navbar-navb.cbil{
    padding: 15px 5px 0px !important;
    
}
.cbil img{
    height: 30px;
}

.wrapper .header-wrapper nav .container .collapse .navbar-nav #search{
    padding-top: 10px !important;
}
.navbar #search .glyphicon{
    color: #fff;
    left: -9px;
}
.my-container .dropdown .dropdown-content{  /*Top Nav Fix*/
    position: absolute;
    top: 28px;
}

#newHomeBtnFix .buttons .btn-img{           /*Top Nav Fix end*/
    height: 21px;
}

.navbar-nav .dropdown .dropdown-content{
    left: 0;
    display: none;
}

/*.dropdown ul li{
    width: 250px;
    height: 60px;
}*/
.dropdown .reports li,.dropdown .media li{
    height: 30px;
}

.topNavContainer .dropdown {
    padding-top: 6px;
    margin-bottom: 0;
    height: 100%;
}

.topNavContainer .dropdown .dropdown-content {
    top: 28px;
    right: 0;
    left: auto;
}

.navbar-nav .dropdown .dropdown-content {       /*Bottom Drop Down*/
    left: 0;
    padding-top: 0px;
}
/*==============================================
                Navigaiton End
==============================================*/



/*=====================================
      New Mobile View Navigaiton
======================================*/
.topHeader a{               /*Small Navigaiton*/
    text-decoration: none;
}

.topHeader{
    background-size: cover;
    background-position: center;
    width: 100%;
    position: relative;
    z-index: 1;
    display: none;
}

.burger-nav, .mini-menu{
    display: block;
    height:40px;
    width: 34px;
    background: url(../../img/navBurger.png) no-repeat 98% center;
    cursor: pointer;
    position: absolute;
    right: 35px;
    top: 29px; 
}
.mini-menu{
    left: 35px;
}
.topMenu{
    display: none;
    min-height: 50px;
}
.topMenu .secondTopMenu{
    max-height: 0px;
    padding-top: 40px;
     transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all 5s ease;
    -o-transition: all .5s ease;
}
.topMenu ul li{
    width: 100%;
}
.navigaitonHeader img {
    height: 95px;
    padding-left: 10px;
}

header nav ul{
    width: 100%;
    overflow: hidden;
    background: #f1f1f1;
    color: #fff;
    margin: 0;
    padding: 0; /* Brings the ul to the left side*/
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all 5s ease;
    -o-transition: all .5s ease;
}

header nav ul.open{
    display: block;
    max-height: 2000px;
    transition: all .7s ease;
    -webkit-transition: all .7s ease;
    -moz-transition: all .7s ease;
    -ms-transition: all .7s ease;
    -o-transition: all .7s ease;
}
 .topMenu ul.open{
    max-height: 500px;
    transition: all .7s ease;
    -webkit-transition: all .7s ease;
    -moz-transition: all .7s ease;
    -ms-transition: all .7s ease;
    -o-transition: all .7s ease;
}

.navigaitonMenu ul li{
    text-align: left;
    width: 100%;
    margin: 0;
}

.navigaitonMenu ul li {
    font-size:16px;
    color: #777;
    padding: 10px;
    border-bottom: 1px solid #fff;
    display: block;
    margin: 0;
    padding-left: 20px;/* Pushesh the links to a bit right*/
    text-align: center;
}

.navigaitonMenu ul li img{
    margin: auto;
}

.navigaitonMenu ul li a:hover{
    color: black;
    background: #e8e6e6;
}

header > nav > ul > li > ul{            /*Seocnd Level*/
    max-height: 0px;
    transition: all .7s ease;
    -webkit-transition: all .7s ease;
    -moz-transition: all .7s ease;
    -ms-transition: all .7s ease;
    -o-transition: all .7s ease;
}

header > nav > ul > li > ul .open{
    max-height: 2000px;
    transition: all .7s ease;
    -webkit-transition: all .7s ease;
    -moz-transition: all .7s ease;
    -ms-transition: all .7s ease;
    -o-transition: all .7s ease;
}

.customDrop ul{
    background: #D7F0F7;
}

.topHeader{
    display: none;
    min-height: 100px;
}
canvas{
    width: 100% !important;
}
/*==============================================
            New Mobile View Navigaiton
==============================================*/



/*==============================================
                Carousel Start
==============================================*/
.carousel-caption {         /*Home Page*/
    left: 23px;
    bottom: 37px;
    text-align: left;
}

.tophomecarousel .carousel-inner .img-responsive{
    width:100%; 
    height:430px;
    min-height: 130px
}

.tophomecarousel .carousel-caption {
    bottom: 79px;
}

/*other*/
.carousel-inner > div{
    background-position: center !important;
    background-size: cover !important;
    width: 100%;
    height: 526px;
}

/*==============================================
                Carousel End
==============================================*/



/*==============================================
                    Home Start
===============================================*/

#newHomeBtnFix .homeAlignBtnCenter{
    display: flex;
    align-items: center;
    justify-content: center;
}

.homeAlignBtnCenter .btn-img{
    width: auto;
    padding-right: 10px;
    padding-left: 0px;
    height: 10px;
}

.homeBlogImage .column-img {
    background-size: cover !important;
    height: 350px;
    width: 100%;
    background-position: top !important;
}

.piggycoin .piggy-bank{
    background-size: 100% 100% !important;
}

.piggycoin .coin-drop{
    background-size: 100% 100% !important;
}

.homeAlignBtnCenter{
        display: flex;
    align-items: center;
    justify-content: center;
}

.homeAlignBtnCenter .btn-img .fa {
    font-size: 25px;
}
/*==============================================
                    Home End
===============================================*/



/*==============================================
                    News 
===============================================*/
.bigNewsImg .carousel-inner div {
     background-position: top; background-size:cover; width:100%; height:526px;  
}
/*==============================================
                    News  End
===============================================*/



/*==============================================
                    Loan  Start
===============================================*/
.save-accounts .col-md-8{
    padding-left: 28px;
}

#loanContentFix .acc-details {
    margin-left: -93px;
}
/*==============================================
                    Loan  End
===============================================*/



/*==============================================
            Branchless Banking Start
===============================================*/
#branchlessBankingFix .row .col-md-8{
    padding-left: 30px;
}

 .location .sub-col {            /*Branches Fix*/
        margin-bottom: 65px;
} 

.nav-tabs {
    border: none;
    margin-bottom: 20px;
}

.office-img img {
    position: absolute;
    left: 20px;
    top: -47px;
    border: 2px solid #0b67b1;
}

.office-location {
    position: absolute;
    right: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

.office-tel {
    padding-left: 10px;
    padding-right: 10px;
}

.mail .fa{
    padding-left: 5px;
}

.branchless ul li{                 /*Branches Fix*/
        list-style: disc !important;
}
/*==============================================
            Branchless Banking End
===============================================*/



/*==============================================
                Service Start
===============================================*/

/*==============================================
                Service End
===============================================*/
   


/*==============================================
                Banking Start
===============================================*/
#bankingFixBottom .blog{
    padding-top: 0px;
}
/*==============================================
                Banking End
===============================================*/
  


/*==============================================
                Remit Start
===============================================*/
.rates .criteria ul{
    width: 100%
}
/*==============================================
                Remit End
===============================================*/
  


/*==============================================
            Side Tool Fix Start
===============================================*/
.acc-tools .news-button .blogs{
    height: 135px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-tools .btn{
    min-height: 135px;
    padding: 0px 40px;
}

.user-tools .btn .blog-link {
    display: flex;
    align-items: center;
    margin: 0;
    justify-content: center;
}
.user-tools .btn .blog-link .acc-btn-img{
    float: left;
    margin-right: 20px;
}

.user-tools .btn .blog-link  .acc-topic{
    float: left;
    text-align: left;
}

.blog-link .acc-btn-img{
    margin-left: 0;
}

.user-tools .btn .blog-link .acc-topic h3{
    margin: 0;     
}
/*==============================================
            Side Tool Fix End
===============================================*/



/*==============================================
            FAQ Fix Start
===============================================*/
.FAQ-block .ans-ques .ans-ques-title h3{
    margin: 0;
    line-height: 45px;
}

.FAQ-block  .ans-ques-logo img{
    padding-right: 25px;
}
.FAQ-block .categories .category-buttons .btn{
    width: 100%;
}
/*==============================================
            FAQ Fix End
===============================================*/




.blog-title h3{
    margin-top: 0px;
}
.blog-title1 h3{
    margin-top: 0px;
}

.loan-msg button, .FAQ-form button {
    margin-bottom: 10px;
}

.acc-blogs .blog ,.acc1-blogs .blog{
  padding-bottom: 50px;
    padding-left: 17px;
    padding-top: 32px;
}

.blogger .blog-logo img {
    margin-top: 15px;
}



/*==============================================
                    Card Fix Start
===============================================*/
#cardKnowMoreFix .blog{
    padding-top: 0px;
}
/*==============================================
                    Card Fix End
===============================================*/



/*==============================================
             Rate Fix Start
===============================================*/
.rates-tab .acc-blogs .blog, .acc1-blogs .blog{
    padding-left: 0;
} 
/*==============================================
             Rate Fix End
===============================================*/



/*=======================================================
                News Fix Start
=======================================================*/
.btn-img .fa {
    font-size: 55px;
}
/*=======================================================
                News Fix End
=======================================================*/



/*=======================================================
                commission-page-new Start
=======================================================*/

.commission-page-new table tr:nth-child(2n+1) > td {
    background-color: #fff;
}

.commission-page-new table > tbody > tr:nth-child(2n) > td {
    background-color: #f9f9f9;
}

.commission-page-new table th, 
.commission-page-new table td {
    padding: 20px;
}

.commission-page-new table tbody td {
    color: #a4aebb;
    font-weight: normal;
    text-align: left;
}

.commission-page-new table tbody tr:first-of-type td{
    color: #159051;
font-weight: bold;
font-size: 16px;
background-color: #d9edf7;
}

.commission-page-new table tr:first-of-type{

font-size: 16px;
}
.onlineStore .acc-imgs img{
    width: 50%;
}
/*=======================================================
                commission-page-new End
=======================================================*/



            

.wrapper .header-wrapper .topHeader {
    min-height: 100px;
    display: none; }
    .wrapper .header-wrapper .topHeader .navigate {
      padding: 20px; }
    .wrapper .header-wrapper .topHeader .navigateMenu .burgerNav {
      background: url(../../img/burger.png) no-repeat 98% center;
      background-position: center;
      background-size: contain;
      display: block;
      height: 40px;
      width: 34px;
      cursor: pointer;
      position: absolute;
      right: 20px;
      top: 55px; }
    .wrapper .header-wrapper .topHeader .navigateMenu .newMenu {
      width: 100%;
      overflow: hidden;
      max-height: 0px;
      background: #f1f1f1;
      color: #fff;
      margin: 0;
      padding: 0;
      transition: all .5s ease;
      -webkit-transition: all .5s ease;
      -moz-transition: all .5s ease;
      -ms-transition: all 5s ease;
      -o-transition: all .5s ease; }
      .wrapper .header-wrapper .topHeader .navigateMenu .newMenu .customDrop {
        width: 100%;
        margin: 0;
        font-size: 16px;
        color: #777;
        padding: 20px 10px;
        border-bottom: 1px solid #fff;
        margin: 0 auto;
        padding-left: 20px;
        /* Pushesh the links to a bit right*/
        text-align: center; }
        .wrapper .header-wrapper .topHeader .navigateMenu .newMenu .customDrop a{
            color: #464646;
            
    font-weight: 700;
        }
        .wrapper .header-wrapper .topHeader .navigateMenu .newMenu .customDrop .menu1 .inlistMenu li a{
                color: #464646;
    font-weight: 500;
    font-size: 14px;
        }
        .wrapper .header-wrapper .topHeader .navigateMenu .newMenu .customDrop .menu1 {
          background: #D7F0F7;
          width: 100%;
          max-height: 0px;
          position: relative;
          z-index: 1000;
          margin-left: initial;
          left: initial;
          transition: all .7s ease;
          -webkit-transition: all .5s ease;
          -moz-transition: all .5s ease;
          -ms-transition: all .5s ease;
          -o-transition: all .5s ease; }
          .wrapper .header-wrapper .topHeader .navigateMenu .newMenu .customDrop .menu1 .colMenu {
            border: 0;
            width: 300px;
            float: left;
            margin-right: 15px;
            padding-bottom: 35px; }
            .wrapper .header-wrapper .topHeader .navigateMenu .newMenu .customDrop .menu1 .colMenu .inListImg {
              height: 142px; }
              .wrapper .header-wrapper .topHeader .navigateMenu .newMenu .customDrop .menu1 .colMenu .inListImg img {
                width: 15%;
                float: left; }
              .wrapper .header-wrapper .topHeader .navigateMenu .newMenu .customDrop .menu1 .colMenu .inListImg span {
                padding-left: 100px;
                text-align: left;
                line-height: 22px;
                font-size: 18px;
                color: #00762F;
                font-family: lato_regular, sans-serif;
                font-weight: 700;
                position: relative;
                margin-bottom: 10px;
                display: block; }
              .wrapper .header-wrapper .topHeader .navigateMenu .newMenu .customDrop .menu1 .colMenu .inListImg ul {
                list-style: none;
                padding-left: 100px; }
                .wrapper .header-wrapper .topHeader .navigateMenu .newMenu .customDrop .menu1 .colMenu .inListImg ul li {
                  width: 100%;
                  text-align: left;
                  color: #464646;
                  cursor: pointer; }
                .wrapper .header-wrapper .topHeader .navigateMenu .newMenu .customDrop .menu1 .colMenu .inListImg ul li:hover {
                  color: #159051;
                  cursor: pointer; }
          .wrapper .header-wrapper .topHeader .navigateMenu .newMenu .customDrop .menu1 .a1 {
            height: 470px; }
          .wrapper .header-wrapper .topHeader .navigateMenu .newMenu .customDrop .menu1 .a2 {
            height: 300px; }
        .wrapper .header-wrapper .topHeader .navigateMenu .newMenu .customDrop .menu1.open {
             padding-top: 10px;
          max-height: 3000px;
          transition: all .7s ease;
          -webkit-transition: all .5s ease;
          -moz-transition: all .5s ease;
          -ms-transition: all .5s ease;
          -o-transition: all .5s ease; }
    .wrapper .header-wrapper .topHeader .navigateMenu .newMenu.open {
      display: block;
      max-height: 3000px;
      transition: all .5s ease;
      -webkit-transition: all .5s ease;
      -moz-transition: all .5s ease;
      -ms-transition: all .5s ease;
      -o-transition: all .5s ease; }



