/*------------------- Spacing Start -------------------*/
/*--------------------- Spacing End -------------------*/
/*------------------- SiteWide Start ------------------*/
/*-------------------- SiteWide End -------------------*/
/*------------------ Home Page Start ------------------*/
/*------------------- Home Page End -------------------*/
/*------------------ Navigation Start -----------------*/
/*------------------- Navigation End ------------------*/
/*----------------- Branch Page Start -----------------*/
/*------------------ Branch Page End ------------------*/
/*----------------- Common Page Start -----------------*/
/*------------------ Common Page End ------------------*/
@media all and (max-width: 2560px) {
  .right-tool-links .side-item a {
    height: 140px;
  }
}

@media all and (max-width: 1599px) {
  .advisory-page .feedback-gq .image-container img {
    width: 50%;
  }
  /*------------------ Site Wide Start ------------------*/
  .ci-md-2 {
    width: 17%;
  }
  .ci-md-1 {
    width: 20%;
  }
  .ci-md-8 {
    width: 61%;
  }
  .left-big-contianer .nav-tabs {
    margin-bottom: 16px;
  }
  .show-all-item .image-container {
    width: 6%;
  }
  .section-title .text-container, .show-all-item .text-container {
    width: 93%;
  }
  .banking-page-all .section-title .icon-container img {
    width: 92%;
  }
  .side-scroll-heading h2 {
    font-size: 22px;
  }
  /*------------------- Site Wide End -------------------*/
  /*------------------ Navigation Start -----------------*/
  .logo-container {
    width: 16%;
  }
  .nav-container {
    width: 84%;
  }
  /*    .logo-container img {
        width: 240px;
    }*/
  /*    .product-links ul li a,.rep-med ul li a{
        padding: 0;
    }*/
  .ci-drop-area ul li {
    margin: 0;
  }
  /*------------------- Navigation End ------------------*/
  /*------------- Site Wide Banner Start ----------------*/
  .bannerSlider .bannerItem .text h1,
  .bannerSlider .bannerItem .text h1 p {
    font-size: 48px;
  }
  /*-------------- Site Wide Banner End -----------------*/
  /*------------------ Home Page Start ------------------*/
  .left-quick-links .side-item:first-of-type, .right-tool-links .side-item:first-of-type {
    height: 50px;
  }
  .left-quick-links .side-item a {
    height: 73px;
  }
  .right-tool-links .side-item a {
    /*height: 90px;*/
    height: 116px;
  }
  .home-center-stock .offers-image {
    height: 273px;
  }
  .home-center-chart {
    height: 256px;
  }
  .side-item a {
    padding: 0px 12px;
  }
  .side-item span:nth-of-type(1) {
    width: 30px;
    font-size: 22px;
  }
  .side-item span:nth-of-type(2) {
    width: calc(100% - (30px + 10px));
  }
  .side-item a span:nth-of-type(1) img {
    width: 28px;
  }
  /* Stock Section Start*/
  .side-item a, .stock-exchange .nav-tabs li a, .right-tool-links .side-item:first-of-type a {
    height: 50px;
  }
  .side-item span:nth-of-type(2) {
    font-size: 15px;
    letter-spacing: 1px;
  }
  .stock-exchange .nav-tabs li a {
    padding: 14px 20px;
    font-size: 15px;
  }
  .home-center-stock .image-block {
    height: 245px;
  }
  .fortex-rate tr td {
    padding: 5px 20px !important;
  }
  .right-tool-links .side-item:last-of-type {
    margin-bottom: 0px;
  }
  .home-center-stock .offers-image {
    background-position: 42% !important;
  }
  /* Stock Section End*/
  /* Service Section Start */
  .service-hover-container {
    width: 75%;
  }
  .service-item .image-container img {
    width: 65px;
  }
  /* Service Section End */
  /* New Offers Start */
  .offers-section .offers-image {
    height: 220px;
  }
  /*    .offers-item .text-container{
        width: 53%;
    }
    
    .offers-item .image-container{
        width: 44%;
    }*/
  .offers-item .text-container .text-inner {
    bottom: 20px;
  }
  .home-center-stock .offers-image .text-container .right-img,
  .offers-item .text-container .right-img {
    height: 60px;
    width: 60px;
  }
  .home-center-stock .offers-image .text-container .right-img img,
  .offers-item .text-container .right-img img {
    width: 28px;
  }
  .home-center-stock .offers-image .text-container .right-text h1,
  .offers-item .text-container .right-text h1 {
    font-size: 22px;
  }
  /* New Offers End */
  /* Footer Start*/
  .ft-md-1 {
    width: 36%;
  }
  .ft-image {
    height: 240px;
  }
  .sq-slash {
    width: 400px;
  }
  /* Footer End*/
  /*------------------- Home Page End -------------------*/
  /*----------------- Common Page Start -----------------*/
  .section-title .text-container h1, .sidebar-title h1 {
    font-size: 28px;
  }
  .common-page .section-content {
    padding-left: 55px;
  }
  /*------------------ Common Page End ------------------*/
  /*------------------ Blog Page Start ------------------*/
  .blog-list-page .blog-image, .blog-detail-page .blog-image {
    height: 400px;
  }
  /*------------------- Blog Page Ends ------------------*/
  /*------------------- CRS Page Start ------------------*/
  .csr-page .date {
    margin-top: 0;
  }
  .show-all-item .content,
  .csr-page .title,
  .csr-page .date,
  .csr-search {
    padding-left: 62px;
  }
  /*-------------------- CRS Page End -------------------*/
}

@media all and (max-width: 1399px) {
  .bannerSlider .bannerItem .image img {
    width: 150px;
  }
  .bannerSlider .slick-prev {
    left: 70px !important;
  }
  .bannerSlider .slick-next {
    right: 70px !important;
  }
  /*------------------- Spacing Start -------------------*/
  .bannerSlider .cz_banner_item .home-ban-more {
    left: 30px;
  }
  .outer-custom-container {
    padding-left: 30px;
    padding-right: 30px;
  }
  .services-section .outer-custom-container {
    padding-left: 30px;
    padding-right: 30px;
  }
  .offers-section .outer-custom-container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .footer-custom-container {
    padding-left: 30px;
    padding-right: 30px;
  }
  .service-hover-container {
    width: 66%;
  }
  .service-item .image-container {
    height: 110px;
  }
  .service-item .text-container h2 {
    font-size: 21px;
  }
  .service-item .image-container img {
    width: 56px;
  }
  /*--------------------- Spacing End -------------------*/
  /*------------------- SiteWide Start ------------------*/
  .left-big-contianer {
    padding: 20px 35px;
  }
  .common-page .section-title, .list-all-page .section-title {
    height: 50px;
  }
  .common-page .section-content {
    padding-left: 53px;
  }
  .common-page .section-content h2, .common-page .section-content h4 {
    margin: 14px 0px 10px 0px;
  }
  .section-title.home-title h1 {
    font-size: 30px;
  }
  .common-page .section-content h2, .common-page .section-content h4 {
    font-size: 20px;
  }
  .section-title .text-container h1, .sidebar-title h1 {
    font-size: 22px;
  }
  .page-with-side-bar .page-with-side-header h2 {
    font-size: 22px;
  }
  /*-------------------- SiteWide End -------------------*/
  /*------------- Site Wide Banner Start ----------------*/
  .bannerSlider .bannerItem, .bannerSlider .cz_banner_item {
    height: 360px;
  }
  .bannerSlider .cz_banner_item .text-container .right-img,
  .bannerSlider .bannerItemInside .text-container .right-img {
    height: 75px;
    width: 75px;
  }
  /*-------------- Site Wide Banner End -----------------*/
  /*------------------ Navigation Start -----------------*/
  /*    .nav-container > ul > li:nth-of-type(2) > a, .nav-container > ul > li:nth-of-type(5) > a, .nav-container > ul > li:nth-of-type(6) > a {
        padding: 10px 6px 24px 6px;
    }*/
  .nav-container > ul > li > a {
    padding: 10px 12px 34px 12px;
  }
  .nav-container > ul > li {
    margin-left: 10px;
  }
  .nav-container .center-nav {
    margin-top: 32px;
  }
  /*    .nav-container ul li a {
        font-size: 14px;
    }*/
  .nav-container .ci-drop-area {
    top: 53px;
  }
  .nav-container .cbl-logo img {
    width: 75px;
  }
  .nav-container > ul > .nv-search .fa {
    font-size: 18px;
  }
  /*    .bottom-navigation-container, .logo-container, .nav-container{
        height: 70px;
    }*/
  .nav-container > ul > .nv-pe-a > a, .nav-container > ul > .nv-pe-b > a {
    padding-top: 20px;
    padding-bottom: 16px;
  }
  .nav-container > ul > .cbl-logo > a {
    padding-top: 16px;
    padding-bottom: 17px;
  }
  .bottom-navigation-container .ci-custom-container {
    padding-left: 20px;
  }
  /*    .logo-container img {
        width: 150px;
    }*/
  /*    .product-links ul li a,.rep-med ul li a{
        padding: 0;
    }*/
  .ci-drop-area ul li {
    margin: 0;
  }
  .nav-container ul > li img {
    width: 28px;
  }
  .nav-container .cbl-logo img {
    width: 85px;
    margin-top: -4px;
  }
  /*------------------- Navigation End ------------------*/
  /*------------------ Home Page Start ------------------*/
  .side-item a {
    padding: 0px 9px;
  }
  /* Banner Section Start */
  .bannerSlider .bannerItem a {
    left: 30px;
  }
  /* Banner Section End */
  /* Stock Section Start*/
  .right-tool-links .side-item:first-of-type span, .right-tool-links .side-item:first-of-type span {
    font-size: 14px;
  }
  .side-item span:nth-of-type(2) {
    font-size: 14px;
  }
  /* Stock Section End*/
  /* Home footer Start*/
  .sq-slash {
    width: 330px;
  }
  .un-sq-slash {
    top: 30%;
    left: 55px;
  }
  /* Home footer End*/
  /*------------------- Home Page End -------------------*/
  /*------------------ Blog Page Start ------------------*/
  .blog-list-page .blog-image, .blog-detail-page .blog-image {
    height: 400px;
  }
  .blog-detail-page .banner-content {
    left: 29px;
  }
  /*------------------- Blog Page Ends ------------------*/
  /*----------------- Branch Page Start -----------------*/
  .branch-item {
    width: 33.33%;
  }
  /*------------------ Branch Page End ------------------*/
  /*------------------ Team Page Start ------------------*/
  .team-page .team-members .team-img {
    height: 100px;
    width: 100px;
    top: -52px;
  }
  .team-col {
    height: 216px;
  }
  /*------------------- Team Page End -------------------*/
  /*------------------ Rate Page Start ------------------*/
  .page-with-side-bar .nav-tabs {
    padding-right: 0px;
  }
  /*------------------- Rate Page End -------------------*/
}

@media all and (max-width: 1292px) {
  .fortex-rate {
    height: 256px;
    overflow-y: scroll;
  }
  .bannerSlider .image-container img {
    width: 330px;
  }
  /*------------------ Home Page Start ------------------*/
  .home-center-stock .image-block {
    height: 238px;
  }
  .ci-md-8 {
    width: 71%;
  }
  .ci-md-2 {
    width: 27%;
  }
  .ci-md-1 {
    width: 100%;
  }
  .right-tool-links {
    margin-top: 15px;
  }
  .right-tool-links .side-item {
    float: left;
    width: 32.66%;
    margin-right: 1%;
  }
  .right-tool-links .side-item:first-of-type {
    width: 100%;
  }
  .right-tool-links .side-item:first-of-type, .right-tool-links .side-item:nth-of-type(4), .right-tool-links .side-item:nth-of-type(7) {
    margin-right: 0px;
  }
  .right-tool-links .side-item a {
    height: 65px;
  }
  /*------------------- Home Page End -------------------*/
}

@media all and (max-width: 1199px) {
  .advisory-page .feedback-gq .image-container img {
    width: 75%;
  }
  .wrapper .header-wrapper nav {
    max-height: 150px;
  }
  .rc-anchor-normal {
    width: 250px;
  }
  /*------------------- SiteWide Start ------------------*/
  #content-wrapper {
    padding-top: 110px;
  }
  .common-page .section-content {
    padding-left: 38px;
  }
  .left-big-contianer {
    width: 68%;
  }
  .right-small-contianer {
    width: 30%;
  }
  .right-tool-links .side-item:first-of-type span, .right-tool-links .side-item:first-of-type span {
    font-size: 14px;
  }
  .section-title .text-container h1, .sidebar-title h1 {
    font-size: 26px;
  }
  .common-page .section-content h2, .common-page .section-content h4 {
    margin: 10px 0px 9px 0px;
  }
  .sidebar-item span:last-of-type h1 {
    font-size: 18px;
  }
  .sidebar-item span:first-of-type {
    width: 35px;
    margin-right: 10px;
  }
  .sidebar-item {
    padding: 5px 10px;
  }
  .show-all-item .image-container {
    width: 8%;
  }
  .section-title .text-container, .show-all-item .text-container {
    width: 91%;
  }
  /*-------------------- SiteWide End -------------------*/
  /*------------- Site Wide Banner Start ----------------*/
  .bannerSlider .bannerItem, .bannerSlider .cz_banner_item {
    height: 300px;
  }
  .bannerSlider .cz_banner_item.homewatermark .text-container,
  .bannerSlider .bannerItemInside .text-container,
  .bannerSlider .text-container {
    width: 55%;
  }
  .bannerSlider .image-container {
    width: 40%;
  }
  .bannerSlider .image-container img {
    width: 280px;
  }
  .bannerSlider .cz_banner_item,
  .bannerSlider .bannerItem {
    background-position: -190px !important;
  }
  /*-------------- Site Wide Banner End -----------------*/
  /*------------------ Navigation Start -----------------*/
  .logo-container img {
    width: 210px;
  }
  .rep-med .ci-drop-area ul li:hover a {
    color: black;
  }
  .ci-drop-area {
    background: #b5e9f4;
  }
  .ci-drop-area ul li ul {
    background: #a9f0ff;
  }
  .ci-top-toggle .ci-burger {
    display: none;
  }
  .rep-med .ci-drop-area ul li:hover {
    background: none;
  }
  .bottom-navigation-container .top-has-sub-menu > ul {
    max-height: 0px;
    overflow: hidden;
  }
  .bottom-navigation-container .top-has-sub-menu > ul > li > ul > li > ul {
    max-height: 0px;
    overflow: hidden;
  }
  .bottom-navigation-container .top-has-sub-menu > ul > li > ul > li.memain-menu-drop > ul {
    max-height: 1000px;
    background: #84e9ff;
  }
  .bottom-navigation-container .top-has-sub-menu > ul > li > ul > li.memain-menu-drop > ul a {
    padding-left: 80px !important;
  }
  .top-has-sub-menu.main-menu-drop > ul {
    max-height: 1000px;
  }
  .top-has-sub-menu > ul {
    background: #b5e9f4;
  }
  .top-has-sub-menu > ul li a {
    font-weight: 400;
  }
  /* Top Navigation Start */
  #header-wrapper .top-navigation-container .ci-custom-container {
    padding: 0px;
  }
  #header-wrapper .top-navigation-container .ci-custom-container .ci-top-toggle {
    display: block;
  }
  #header-wrapper .top-navigation-container .ci-custom-container .ci-top-nav {
    max-height: 0px;
    height: auto;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
  }
  #header-wrapper .top-navigation-container .ci-custom-container .ci-top-nav ul {
    background: #eeeeee;
    text-align: left;
    padding: 0px;
  }
  #header-wrapper .top-navigation-container .ci-custom-container .ci-top-nav ul li {
    padding: 0;
    display: block;
    line-height: 2;
    margin: 0px;
  }
  #header-wrapper .top-navigation-container .ci-custom-container .ci-top-nav ul li a {
    padding-left: 20px;
  }
  #header-wrapper .top-navigation-container .ci-custom-container .ci-top-nav ul li ul {
    position: relative;
    width: 100%;
    top: initial;
  }
  #header-wrapper .top-navigation-container .ci-custom-container .ci-top-nav ul li ul li a {
    padding-left: 30px;
  }
  #header-wrapper .top-navigation-container .ci-custom-container .ci-top-nav ul li ul li ul {
    position: relative;
    width: 100%;
    left: initial;
  }
  #header-wrapper .top-navigation-container .ci-custom-container .ci-top-nav ul li ul li ul li a {
    padding-left: 50px;
  }
  #header-wrapper .top-navigation-container .ci-custom-container .ci-top-nav ul li ul li:first-of-type, #header-wrapper .top-navigation-container .ci-custom-container .ci-top-nav ul li ul li:last-of-type {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  #header-wrapper .top-navigation-container .ci-custom-container .ci-top-nav.open {
    max-height: 1000px;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
  }
  #header-wrapper .top-navigation-container .ci-top-nav .custom-drop-slevel > ul > li > ul {
    opacity: 1;
    max-height: 0px;
  }
  #header-wrapper .top-navigation-container .ci-top-nav .custom-drop-slevel > ul > li.custom-drop-tlevel > ul {
    max-height: 1000px;
  }
  #header-wrapper .top-navigation-container .ci-custom-container .ci-top-nav ul li ul li ul li ul li a {
    padding-left: 80px;
  }
  /* Top Navigation End */
  /*Bottom Navigation Start */
  .nav-container .menu-int-bank a {
    background-position: 140px !important;
  }
  .rep-med ul li {
    border-bottom: none !important;
    border-top: none !important;
  }
  .top-navigation-container .ci-custom-container {
    padding: 0px 27px;
  }
  .logo-container {
    height: 65px;
  }
  .logo-container img {
    margin-left: 23px;
  }
  .bottom-navigation-container .ci-custom-container {
    padding: 0 !important;
  }
  .bottom-navigation-container, .nav-container {
    height: auto;
  }
  .bottom-navigation-container .logo-container,
  .bottom-navigation-container .nav-container {
    float: none;
    width: 100%;
  }
  .nav-container .center-nav {
    margin-top: 0px;
  }
  .bottom-navigation-container .nav-container ul li {
    display: block;
    text-align: left;
    margin-left: 0;
    margin-bottom: 0px;
  }
  .bottom-navigation-container .nav-container ul li a {
    padding: 0px;
    width: 100%;
    display: block;
  }
  .bottom-navigation-container .ci-drop-area {
    position: relative;
    top: initial;
    width: 100%;
  }
  /* Drop Start*/
  .ci-bottom-toggle {
    display: block;
  }
  .bottom-navigation-container .nav-container {
    max-height: 0px;
    overflow: hidden;
  }
  li.bottom-drop .ci-drop-area {
    max-height: 1000px !important;
  }
  .bottom-navigation-container .nav-container.open {
    max-height: 2000px;
    border-top: 1px solid #eee;
  }
  .product-full {
    display: none !important;
  }
  .nav-container .product-mobile {
    display: block;
  }
  .center-nav > li {
    margin-bottom: 0px;
  }
  .center-nav li a:hover, .center-nav li.hover a {
    background: none;
  }
  .center-nav li.hover .ci-drop-area {
    background: none;
  }
  .nav-container ul li a {
    padding-left: 28px !important;
  }
  .nav-container .cbl-logo img, .nav-container ul > li img {
    margin-top: 0;
  }
  /* The drop css*/
  .has-sub-menu span {
    font-weight: 400;
  }
  .center-nav > li > a {
    padding-bottom: 4px !important;
    padding-top: 4px !important;
  }
  .center-nav > li ul li a {
    padding-bottom: 4px !important;
    padding-top: 4px !important;
  }
  .nav-container ul li ul li ul {
    max-height: 0;
    overflow: hidden;
  }
  .main-menu-drop .ci-drop-area,
  .lemain-menu-drop > ul {
    max-height: 1000px !important;
    right: 0;
  }
  .nav-container ul li ul li a {
    padding-left: 40px !important;
  }
  .nav-container ul li ul li ul li a {
    text-transform: capitalize;
    padding: 3px 0px 3px 60px !important;
    font-weight: 400;
  }
  .nav-container ul li ul li ul {
    background: #a9f0ff;
  }
  /* Drop End*/
  .rep-med ul {
    width: 100%;
  }
  .rep-med .ci-drop-area ul li ul {
    width: 100%;
    position: relative;
    background: #e1e1e1;
    left: 0;
    opacity: 1;
  }
  .ci-drop-area ul li {
    padding: 0px;
  }
  /* Bottom Navigation End */
  /*------------------- Navigation End ------------------*/
  /*------------- Site Wide Banner Start ----------------*/
  .bannerSlider .bannerItem .text h1,
  .bannerSlider .bannerItem .text h1 p {
    font-size: 40px;
  }
  /*-------------- Site Wide Banner End -----------------*/
  /*------------------ Home Page Start ------------------*/
  .side-item a {
    padding: 0px 12px;
  }
  .left-quick-links .side-item a {
    height: 74px;
  }
  .left-quick-links .side-item:first-of-type, .right-tool-links .side-item:first-of-type {
    height: 44px;
  }
  .stock-exchange .nav-tabs li a {
    padding: 12px 20px !important;
  }
  /* Stock Section Start */
  .home-center-chart {
    height: 231px;
  }
  .fortex-rate {
    height: 286px;
  }
  .side-item a, .stock-exchange .nav-tabs li a, .right-tool-links .side-item:first-of-type a {
    height: 45px;
  }
  .fortex-rate tr td {
    padding: 5px 20px !important;
  }
  .home-center-stock .image-block {
    height: 225px;
  }
  .home-center-stock .offers-image {
    background-position: 34% !important;
  }
  /* Stock Section End*/
  /* Service Section Start */
  .service-hover-container {
    width: 95%;
  }
  /* Service Section Start */
  /* Offers Section Start */
  .offers-section .offers-item {
    width: 50%;
  }
  /* Offers Section Ends */
  /* Home footer Start*/
  .ft-container {
    width: 58%;
  }
  .ft-md-1 {
    width: 45%;
  }
  .ft-md-2 {
    width: 50%;
  }
  .ft-image {
    height: 225px;
  }
  .sq-slash {
    width: 285px;
  }
  .un-sq-slash {
    top: 29%;
    left: 50px;
  }
  .ft-container .ft-md-2 h5 {
    font-size: 22px;
  }
  .ft-container .ft-md-2 p {
    font-size: 14px;
  }
  .sq-slash h5 {
    font-size: 25px;
  }
  .ft-contact ul li .fa {
    font-size: 16px;
  }
  .ft-contact ul li {
    font-size: 14px;
  }
  .ft-social ul li .fa {
    font-size: 22px;
  }
  /* Home footer End*/
  /*------------------- Home Page End -------------------*/
  /*----------------- Branch Page Start -----------------*/
  .branch-page .branch-map #map {
    height: 335px;
  }
  .branch-page .branch-map #map {
    height: 355px;
  }
  .branch-item {
    width: 50%;
  }
  .branch-item .image {
    width: 90px;
    height: 90px;
    top: -49px;
  }
  .branch-item .name {
    top: 65px;
  }
  .branch-item .phone-email {
    width: 100%;
  }
  /*------------------ Branch Page End ------------------*/
  /*----------------- Rates Page Start ------------------*/
  .left-big-contianer .nav-tabs {
    margin-bottom: 15px;
  }
  /*------------------ Rates Page End -------------------*/
  /*------------------ News Page Start ------------------*/
  .blog-list-page .date, .blog-detail-page .date, .csr-page .date {
    margin-top: -4px;
  }
  .blog-list-page .blog-image, .blog-detail-page .blog-image {
    height: 360px;
  }
  /*------------------- News Page End -------------------*/
  /* Chief Information Officer Page Starts */
  .chief-page .section-content {
    width: 100% !important;
  }
  /* Chief Information Officer Page Ends */
}

@media all and (max-width: 991px) {
  .advisory-page .feedback-gq .image-container img {
    width: 35%;
  }
  .bannerSlider .cz_banner_item, .bannerSlider .bannerItem {
    background-position: -360px !important;
  }
  .bannerSlider .cz_banner_item.homewatermark .text-container, .bannerSlider .bannerItemInside .text-container, .bannerSlider .text-container {
    width: 50%;
  }
  .offers-section .offers-image .text-container {
    width: 40%;
    right: -60%;
  }
  .offers-item .text-container .text-inner {
    bottom: initial;
    top: 50%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  /*------------------- SiteWide Start ------------------*/
  ul li, p {
    font-size: 14px;
  }
  .outer-custom-container .ci-md-2, .outer-custom-container .ci-md-8 {
    width: 100%;
    margin: 0;
  }
  .right-small-contianer,
  .list-all-page .aside-right {
    width: 34%;
  }
  .left-big-contianer,
  .list-all-page .section-content {
    width: 64%;
  }
  .left-big-contianer {
    padding: 25px;
  }
  .common-page .section-content {
    padding-left: 6px;
  }
  .show-all-item .content, .csr-page .title, .csr-page .date, .csr-search {
    padding-left: 4px;
  }
  .csr-search .sr-input {
    width: 220px;
  }
  .common-page .section-title, .list-all-page .section-title {
    height: 39px;
  }
  .section-title .text-container h1, .sidebar-title h1 {
    font-size: 22px;
  }
  .section-title .icon-container {
    width: 10%;
    margin-right: 1%;
  }
  .section-title .text-container {
    width: 89%;
  }
  .common-page .section-content h2, .common-page .section-content h4 {
    font-size: 18px;
  }
  .sidebar-item span:first-of-type {
    width: 32px;
  }
  .sidebar-item span:last-of-type h1 {
    font-size: 16px;
  }
  .show-all-item .image-container {
    width: 9%;
  }
  .section-title .text-container, .show-all-item .text-container {
    width: 89%;
  }
  .show-all-item .show-all-btn a {
    font-size: 14px;
    width: 145px;
  }
  .sidebar-item.side-title,
  .sidebar-item a {
    height: 50px;
  }
  /*-------------------- SiteWide End -------------------*/
  /*------------- Site Wide Banner Start ----------------*/
  .bannerSlider .bannerItem .banner-content {
    width: 70%;
  }
  .bannerSlider .bannerItem .text h1,
  .bannerSlider .bannerItem .text h1 p {
    font-size: 34px;
  }
  .bannerSlider .cz_banner_item .image-container img {
    width: 240px;
  }
  .bannerSlider .cz_banner_item .text-container .text-inner {
    width: 380px;
  }
  .bannerSlider .text-container .right-text h1, .bannerSlider .text-container .right-text h1 p {
    font-size: 26px;
  }
  /*-------------- Site Wide Banner End -----------------*/
  /*------------------ Home Page Start ------------------*/
  /* Stock Section Start */
  .fortex-rate {
    height: auto;
  }
  .home-center-chart {
    height: 261px;
  }
  .left-quick-links {
    display: inline-block;
    width: 100%;
    margin-bottom: 12px;
  }
  .left-quick-links .side-item {
    float: left;
    width: 49.5%;
    margin-right: 1%;
  }
  .left-quick-links .side-item:first-of-type {
    width: 100%;
  }
  .left-quick-links .side-item:first-of-type,
  .left-quick-links .side-item:nth-of-type(3),
  .left-quick-links .side-item:nth-of-type(5),
  .left-quick-links .side-item:nth-of-type(7) {
    margin-right: 0px;
  }
  /* Stock Section End */
  /* Service Section Start */
  .side-item span:nth-of-type(2) {
    font-size: 12px;
  }
  .service-item {
    width: 50%;
    margin-bottom: 30px;
  }
  .service-hover-container {
    width: 70%;
  }
  /* Service Section End*/
  /* Offers Section Start */
  .offers-section .offers-image {
    height: 320px;
  }
  .offers-image .image-container img {
    width: 290px;
  }
  /* Offers Section End*/
  /* Home Footer Start */
  .ft-container {
    width: 100%;
  }
  .sq-slash {
    float: left;
    position: relative;
    width: 100%;
    background: #8dcfb7;
    color: #ffffff;
    right: initial;
    transform: skew(0deg);
    -webkit-transform: skew(0deg);
    -moz-transform: skew(0deg);
    -ms-transform: skew(0deg);
    -o-transform: skew(0deg);
  }
  .un-sq-slash {
    margin-top: 25px;
    position: relative;
    left: initial;
    transform: skew(0deg);
    -webkit-transform: skew(0deg);
    -moz-transform: skew(0deg);
    -ms-transform: skew(0deg);
    -o-transform: skew(0deg);
  }
  .sq-slash h5, .ft-social ul li .fa {
    color: #ffffff;
  }
  .ft-contact ul li a {
    color: #fff;
  }
  /* Home Footer End */
  /*------------------- Home Page End -------------------*/
  /*----------------- Branch Page Start -----------------*/
  .branch-page .branch-map #map {
    height: 300px;
  }
  .banner-border {
    padding: 30px 20px;
  }
  /*------------------ Branch Page End ------------------*/
  /*------------------ News Page Start ------------------*/
  .blog-list-page .sidebar-item .fa, .blog-detail-page .sidebar-item .fa {
    font-size: 23px;
  }
  .blog-list-page .blog-image, .blog-detail-page .blog-image {
    height: 235px;
  }
  /*------------------- News Page End -------------------*/
  /*------------------- CRS Page Start ------------------*/
  .csr-page .date {
    margin-top: 10px;
  }
  /*-------------------- CRS Page End -------------------*/
  /*------------------ Advisory Note Start --------------*/
  .advisory-page .feedback-gq .image-container {
    height: 320px;
    margin-bottom: 25px;
  }
  /*------------------- Advisory Note End ---------------*/
  /*---------------------- Modal Start ------------------*/
  .co-new-modal .modal-dialog {
    width: 600px;
  }
  /*----------------------- Modal End -------------------*/
  /*--------------------------- Online Account Form Starts ---------------------------*/
  .online-account-form-page select {
    margin-bottom: 10px;
  }
  .online-account-form-page label {
    padding-right: 10px;
  }
  /*---------------------------- Online Account Form Ends ----------------------------*/
}

@media all and (max-width: 768px) {
  /* Home Page Start */
  /* Offers Section Start */
  .offers-section .offers-item {
    width: 100%;
  }
  /* Offers Section End*/
  /* Home Page End */
  /* Footer Start */
  .footer-nav-block {
    width: 100%;
    margin-bottom: 15px;
  }
  .footer-nav-block h1 {
    margin-bottom: 5px;
  }
  /* bototm footer start */
  .bottom-footer .footer-custom-container {
    text-align: center;
  }
  #footer-wrapper .bf-social {
    float: none;
    margin-top: initial;
    text-align: center;
  }
  .bf-social ul {
    display: inline-block;
    margin-bottom: 0;
  }
  .bf-social ul li {
    margin-bottom: 0;
    margin-top: 10px;
  }
  /* bottom footer end */
  /* Footer End */
  #footer-wrapper .bf-social {
    margin-right: 0px;
  }
  /*    .offers-section .offers-image .image-container {
        width: 32%;
    }*/
}

@media all and (max-width: 767px) {
  /* Calculator Page Start */
  .rates-page.list-all-page .calculator-new .section-content #account-rate-drop select {
    margin-top: 10px !important;
  }
  .rates-page.list-all-page .calculator-new .calculated-result-box-container .calculator-result-box {
    width: 100%;
    margin: 10px 0px;
  }
  /*Calculator Page Ends */
  /*--------------------------- Online Account Form Starts ---------------------------*/
  .online-account-form-page .section-title .icon-container {
    max-width: 24px;
    margin-right: 12px;
  }
  .online-account-form-page .refrence-code {
    margin: 18px 0px 30px;
  }
  .online-account-form-page .btn-circle {
    width: 26px;
    height: 26px;
    padding: 6px 0;
    font-size: 10px;
  }
  .online-account-form-page .container {
    padding-left: 0;
    padding-right: 0;
  }
  .online-account-form-page #step-1 label {
    width: 100%;
  }
  .online-account-form-page label {
    padding-right: 10px;
  }
  .online-account-form-page #number-pre-sec:after {
    bottom: 1px;
  }
  .online-account-form-page .first-allow-round .form-group, .online-account-form-page .first-allow-round .styled-select.slate {
    margin-bottom: 10px;
  }
  .online-account-form-page #step-1 .step-1-account-name {
    margin-left: 0;
  }
  .online-account-form-page .stepwizard-step p {
    display: none;
  }
  .ctz-btn {
    font-size: 12px;
    min-width: 73px;
  }
  .step-next-container .left-container {
    width: 100%;
    margin-bottom: 20px;
  }
  .step-next-container .left-container .ctz-btn {
    min-width: 100%;
    width: 100%;
  }
  .online-account-form-page ol li {
    font-size: 14px;
  }
  .online-account-form-page #step-4 ol li {
    padding-left: 4px;
  }
  /*-------------- 5th Step Starts ---------------*/
  .online-account-form-page #dvMap {
    height: 290px;
  }
  .online-account-form-page #step-5 #location {
    width: 92%;
    top: 60px !important;
  }
  /*--------------- 5th Step Ends ----------------*/
  /*---------------------------- Online Account Form Ends ----------------------------*/
}

@media all and (max-width: 667px) {
  .advisory-page .feedback-gq .image-container {
    height: 290px;
  }
  .advisory-page .feedback-gq .image-container img {
    width: 240px;
  }
  /*------------------- SiteWide Start ------------------*/
  .stock-info-section, .services-section {
    padding: 15px 24px;
  }
  .outer-custom-container {
    padding: 0;
  }
  .offers-section .outer-custom-container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .top-footer .footer-custom-container {
    padding-left: 23px;
    padding-right: 23px;
  }
  .left-big-contianer {
    min-height: 10px;
  }
  .right-small-contianer .sidebar-content.sidebar-scroll {
    height: 300px !important;
  }
  .left-big-contianer, .list-all-page .section-content {
    width: 100%;
    margin-right: 0;
  }
  .right-small-contianer {
    width: 100%;
    padding: 0px 25px 25px 25px;
  }
  .list-all-page .aside-right {
    width: 100%;
  }
  .section-title .icon-container {
    width: 15%;
    margin-right: 1%;
  }
  .section-title .text-container {
    width: 82%;
  }
  .section-title .text-container h1, .sidebar-title h1 {
    font-size: 20px;
  }
  .home-center-stock .ci-md-6 {
    width: 100%;
    padding: 0;
  }
  .stock-image-container .image-block, .stock-exchange .nav-tabs, .stock-exchange .fortex-rate {
    margin-top: 10px;
    margin-bottom: 0;
  }
  .show-all-item .show-all-btn {
    float: none;
    width: 100%;
    text-align: center;
  }
  .show-all-item .show-all-btn span {
    display: inline-block;
    float: none;
  }
  .show-all-item .show-all-btn span:first-of-type {
    margin-right: 0px;
    margin-bottom: 10px;
  }
  .show-all-item .image-container {
    width: 15%;
    margin-right: 1%;
  }
  .section-title .text-container, .show-all-item .text-container {
    width: 83%;
  }
  .page-with-side-bar .page-with-side-header h2 {
    margin-top: 0px;
  }
  /*-------------------- SiteWide End -------------------*/
  /*------------- Site Wide Banner Start ----------------*/
  .bannerSlider .slick-prev {
    left: 10px !important;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .bannerSlider .slick-next {
    right: 10px !important;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .slick-prev:before, .slick-next:before {
    font-size: 12px;
  }
  .bannerSlider .bannerItem .image {
    top: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .bannerSlider .bannerItem a {
    bottom: 14px;
    padding: 4px 8px;
    left: 24px;
  }
  .bannerSlider .bannerItem .banner-content {
    height: auto;
  }
  .bannerSlider .bannerItem .text {
    top: 0%;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .bannerSlider .bannerItem .image img {
    width: 60px;
    margin: auto;
  }
  .bannerSlider .bannerItem .banner-content {
    width: 80%;
  }
  .bannerSlider .bannerItem .text, .bannerSlider .bannerItem .image {
    width: 100%;
  }
  .bannerSlider .bannerItem .text h1,
  .bannerSlider .bannerItem .text h1 p {
    font-size: 25px;
    margin-bottom: 15px;
    text-align: center;
  }
  .bannerSlider .image-container {
    width: 30%;
  }
  .bannerSlider .cz_banner_item .image-container {
    position: absolute;
    left: 0;
  }
  .bannerSlider .cz_banner_item .image-container img {
    width: 70px;
    left: 26px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .bannerSlider .cz_banner_item .text-container {
    width: 66%;
  }
  .bannerSlider .cz_banner_item .text-container .right-text {
    width: 200px;
    padding: 0;
    margin: auto;
  }
  .bannerSlider .cz_banner_item .text-container .right-text h1,
  .bannerSlider .cz_banner_item .text-container .right-text h1 p {
    font-size: 25px;
  }
  .bannerSlider .cz_banner_item .home-ban-more {
    bottom: 5px;
    left: 10px;
    width: auto;
    padding: 4px;
    font-size: 8px;
  }
  .bannerSlider .cz_banner_item.homewatermark .text-container,
  .bannerSlider .bannerItemInside .text-container {
    width: 58%;
    margin: 0px;
  }
  .bannerSlider .bannerItemInside .text-container .text-inner {
    margin: auto;
    width: 100%;
  }
  .bannerSlider .bannerItemInside .text-container .text-inner h1 p,
  .bannerSlider .bannerItemInside .text-container .text-inner h1 {
    font-size: 16px;
  }
  .bannerSlider .bannerItem .banner-water-mark, .bannerSlider .cz_banner_item .banner-water-mark {
    width: 50%;
    right: 0;
    top: 0px;
    bottom: initial;
    margin: auto;
    text-align: center;
  }
  .bannerSlider .bannerItem .banner-water-mark a, .bannerSlider .cz_banner_item .banner-water-mark a {
    font-size: 6px;
  }
  .bannerSlider .cz_banner_item,
  .bannerSlider .bannerItem,
  .blog-list-page .bannerSlider .bannerItem {
    background-position: right !important;
  }
  .bannerSlider .cz_banner_item .text-container .text-inner {
    width: 100%;
  }
  .bannerSlider .cz_banner_item .text-container .right-img,
  .bannerSlider .bannerItemInside .text-container .right-img {
    height: 25px;
    width: 25px;
    margin-bottom: 8px;
  }
  .bannerSlider .text-container .right-img img {
    width: 14px;
  }
  .bannerSlider .cz_banner_item .text-container .right-text h1, .bannerSlider .cz_banner_item .text-container .right-text h1 p {
    font-size: 14px;
  }
  /*-------------- Site Wide Banner End -----------------*/
  .table-responsive {
    border: none;
  }
  /*------------------ Navigation Start -----------------*/
  .logo-container img {
    margin-left: 18px;
    margin-top: 4px;
    width: 185px;
  }
  /*------------------- Navigation End ------------------*/
  /*------------------ Home Page Start ------------------*/
  .outer-custom-container .ci-md-8,
  .outer-custom-container .ci-md-2,
  .outer-custom-container .ci-md-1 {
    background: #ffffff;
  }
  /* Stock Section Start */
  .home-center-stock .image-block {
    background-position: 70% !important;
  }
  .left-quick-links .side-item, .right-tool-links .side-item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
    border: 1px solid #eee;
  }
  .left-quick-links .side-item a, .right-tool-links .side-item a {
    height: 55px;
  }
  /* Stock Section End*/
  /* Service Section Start */
  .service-item {
    width: 100%;
  }
  .service-hover-container {
    width: 85%;
  }
  /* Service Section End */
  .offers-section .offers-image {
    height: 268px;
  }
  .offers-item .text-container .right-text h1 {
    font-size: 16px;
  }
  /* New Offers Section Start */
  .offers-section .offers-image .text-container {
    width: 30%;
    right: -70%;
  }
  .offer-item .text-container .right-text h1 {
    font-size: 16px;
  }
  .offers-section .offers-image .image-container {
    display: none;
  }
  .offers-item .text-container .right-img {
    height: 40px;
    width: 40px;
  }
  .offers-item .text-container .right-img img {
    width: 23px;
  }
  .offers-item .text-container .text-inner {
    bottom: initial;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }
  .offers-image .text-container .right-text {
    padding: 0px 10px;
  }
  /*  New Offers Sections End */
  /* Home Footer Start */
  .home-footer .outer-custom-container {
    padding: 36px 25px;
  }
  .ft-md-1, .ft-md-2 {
    width: 100%;
    margin: 0;
  }
  .ft-md-2 {
    margin-top: 15px;
  }
  .ft-container .ft-md-2 .ft-view {
    float: left;
  }
  .sq-slash h5 {
    font-size: 22px;
  }
  /* Home Footer End */
  /* Calculator Start */
  .cal-heading h1 {
    font-size: 22px;
  }
  /* Calculator End */
  /*------------------- Home Page End -------------------*/
  /*----------------- Branch Page Start -----------------*/
  .branch-page .branch-map #map {
    height: 265px;
  }
  .branch-item {
    width: 100%;
    padding: 10px 0;
    height: auto;
  }
  .banner-border {
    padding: 20px 20px;
  }
  .branch-item .name h2:first-of-type {
    font-size: 14px;
  }
  .branch-item .contact {
    position: relative;
    bottom: initial;
    margin-top: 30px;
  }
  .branch-item .phone-number span,
  .branch-item .email span {
    font-size: 12px;
  }
  /*------------------ Branch Page End ------------------*/
  /*------------------ News Page Start ------------------*/
  .blog-list-page .date, .blog-detail-page .date, .csr-page .date {
    margin-top: 10px;
  }
  .blog-list-page .text-container {
    width: 100%;
  }
  .blog-detail-page .banner-content h1 {
    display: none;
  }
  /*------------------- News Page End -------------------*/
  /*------------------- CRS Page Start ------------------*/
  .csr-search .csr-sr-lab {
    margin-bottom: 15px;
  }
  .csr-search .csr-sr-input {
    padding: 0px;
  }
  .csr-search .sr-input {
    width: 210px;
  }
  .csr-page .show-all-item .title {
    height: auto;
  }
  .csr-page .show-all-item .title .text-container {
    top: initial;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .csr-page .show-all-item .text-container {
    width: 100%;
    margin-bottom: 10px;
  }
  /*-------------------- CRS Page End -------------------*/
  /*------------------ Advisory Note Start --------------*/
  .g-recaptcha iframe {
    width: 270px;
  }
  .rc-anchor-content {
    width: 160px !important;
  }
  .rc-anchor-checkbox-label,
  .rc-anchor-center-item {
    width: 100px !important;
  }
  /*------------------- Advisory Note End ---------------*/
  /*-------------------- Feedback Start -----------------*/
  .ci-dep-lbl {
    display: none;
  }
  .advisory-page .ci-dep-sel {
    width: 100%;
  }
  /*--------------------- Feedback End ------------------*/
  /*------------------ Side Tool Start ------------------*/
  .ci-side-menu {
    right: -165px;
  }
  .ci-side-menu ul li div:first-of-type {
    width: 35px;
  }
  /*    .ci-side-menu ul li:first-of-type div{
        font-size: 14px;
    }*/
  .ci-side-menu .fa {
    font-size: 20px;
  }
  /*------------------- Side Tool End -------------------*/
  /* Chief Information Officer Page Starts */
  .chief-page .chief-info-block .image-container {
    width: 100%;
    text-align: center;
  }
  .chief-page .chief-info-block .image-container img {
    margin: auto;
  }
  .chief-page .chief-info-block .text-container {
    width: 100%;
    margin: 20px 0px 0px 0px;
  }
  /* Chief Information Officer Page Ends */
  /*--------------- Co-tab-container Start --------------*/
  .co-tab-container .nav-tabs li:not(:last-of-type) {
    margin-right: 0px;
    display: block;
    width: 100%;
  }
  .co-tab-container .nav-tabs li:first-of-type a {
    margin-top: 0px;
  }
  /*--------------- Co-tab-container Start --------------*/
  /*---------------------- Modal Start ------------------*/
  .co-new-modal .modal-dialog {
    width: 90%;
    margin: auto;
    margin-top: 50px;
  }
  .co-new-modal .modal-content .modal-title {
    padding: 0 0 16px 0;
  }
  .co-new-modal .modal-content .modal-content {
    padding: 24px 0 0px 0;
  }
  .co-new-modal .modal-content .modal-content .block-container .left-block {
    width: 100%;
    text-align: center;
  }
  .co-new-modal .modal-content .modal-content .block-container .right-block {
    width: 100%;
    margin: 20px 0px 0px 0px;
    width: 100%;
  }
  .co-new-modal .modal-content .modal-title h1 {
    font-size: 18px;
  }
  /*----------------------- Modal End -------------------*/
  .bannerSlider .bannerItem, .bannerSlider .cz_banner_item {
    height: 140px;
    background-size: cover !important;
  }
}

@media all and (max-width: 500px) {
  .offers-section .offers-image {
    height: 140px;
  }
  .bannerSlider .bannerItem, .bannerSlider .cz_banner_item {
    height: 106px;
  }
  .offers-section .offers-image .text-container {
    width: 40%;
    right: -60%;
  }
}

@media all and (max-width: 375px) {
  .slick-prev, .slick-next {
    top: 60%;
  }
  .bannerSlider .bannerItem, .bannerSlider .cz_banner_item {
    height: 79px;
  }
}

@media all and (max-width: 330px) {
  .offers-section .offers-image .text-container {
    width: 40%;
    right: -60%;
  }
}
/*# sourceMappingURL=responsive.css.map */